<solidify-base-action-dialog [titleToTranslate]="labelTranslate.appStatusUpdateVersionDialogTitle | translate">
  {{labelTranslate.appStatusUpdateVersionDialogBody | translate}}
  <solidify-markdown-viewer-container [markdownFilePath]="'RELEASE_NOTES.md'"></solidify-markdown-viewer-container>
</solidify-base-action-dialog>
<div mat-dialog-actions>
  <button [mat-dialog-close]=""
          mat-button
          [color]="colorCancel"
  >{{labelTranslate.appStatusUpdateVersionDialogUpdateAfter | translate}}</button>
  <button (click)="update()"
          (onEnter)="update()"
          [color]="colorConfirm"
          mat-flat-button
          solidifyShortCuts
  >{{labelTranslate.appStatusUpdateVersionDialogUpdateNow | translate}}</button>
</div>
