<div (keydown.escape)="back()"
     [solidifyFocusFirstElement]="true"
     class="host"
     solidifyShortCuts
>
  <div class="toolbar-wrapper">
    <solidify-button-toolbar-list [backToListNavigate]="backNavigate()"
                                  [backAvailable]="options.canGoBack"
                                  [createAvailable]="false"
                                  [isLoading]="isLoadingObs | async"
                                  [keyBackButtonToTranslate]="KEY_BACK_BUTTON"
    ></solidify-button-toolbar-list>

    <solidify-searchable-single-select [canDeleteValue]="false"
                                       [formControl]="formControlParentCompositionId"
                                       [labelKey]="parentCompositionLabelKey"
                                       [placeholder]="labelParentComposition | translate"
                                       [resourceNameSpace]="parentCompositionNameSpace"
                                       [sort]="parentCompositionSort"
                                       [state]="$any(parentCompositionState)"
                                       [storeLastSelectionKey]="lastSelectionParentCompositionLocalStorageKey"
                                       [valueKey]="parentCompositionValueKey"
                                       [subscriptSizing]="'dynamic'"
                                       class="selector"
                                       solidifyValidation
    >
    </solidify-searchable-single-select>

    <solidify-button-toolbar-list (createChange)="create($event)"
                                  (navigateChange)="navigateNavigate($event)"
                                  [backAvailable]="false"
                                  [createAvailable]="options.canCreate | solidifyAsync"
                                  [createDisabled]="options.createDisabled | solidifyAsync"
                                  [isLoading]="isLoadingObs | async"
                                  [keyCreateButtonToTranslate]="KEY_CREATE_BUTTON"
                                  [listExtraButtons]="options?.listExtraButtons"
    ></solidify-button-toolbar-list>
  </div>

  <solidify-data-table #dataTablePresentational
                       (queryParametersChange)="onQueryParametersEvent($event)"
                       (selectChange)="showDetail($event)"
                       [actions]="actions"
                       [columnsSkippedToClear]="columnsSkippedToClear"
                       [columns]="columns"
                       [data]="listObs | async"
                       [isLoading]="isLoadingObs | async"
                       [displaySpinnerWhenLoading]="true"
                       [listHighlightingId]="listNewId"
                       [isHighlightCondition]="isHighlightCondition"
                       [queryParameters]="queryParametersObs | async"
                       [skipInitialQuery]="skipInitialQuery"
                       [stickyTopPosition]="stickyTopPosition"
                       [displayActionCopyIdToClipboard]="displayActionCopyIdToClipboard"
                       [displayActionShowHistory]="displayActionShowHistory"
                       [detailRouteToInterpolate]="detailRouteToInterpolate"
                       (showHistoryChange)="showHistory($event)"
  ></solidify-data-table>
</div>
