@import "../../../../core/scss/abstracts/abstracts";
@import "../abstract-resource/abstract-resource.routable";

:host {
  .toolbar-wrapper {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-gap: 20px;

    .selector {
      @include remove-padding-mat-form-field;
    }
  }
}
