@import "../core/scss/abstracts/abstracts";

:host {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 0;
  background-color: $primary-color;
  grid-template-columns: 1fr max-content;
  color: $white;
  font-size: 14px;

  .message {
    .inner-message {
      ::ng-deep {
        > * {
          display: inline;
        }

        a {
          color: $white;
          text-decoration: underline;
          font-weight: bold;

          &:before {
            display: none;
          }
        }
      }
    }

    .click-more-info {
      font-size: 12px;
      color: $white;

      &:before {
        background-color: $white;
      }
    }
  }
}

:host(.is-visible) {
  display: grid;
}

:host(.INFO) {
  background-color: $primary-color;
}

:host(.CRITICAL) {
  background-color: $error;
}

:host(.WARNING) {
  background-color: $warning;
}
