<span class="message">
  <span [innerHTML]="title"
        class="inner-message"
  ></span>
  <a *ngIf="isClickable | isTrue"
     (click)="openDetail()"
     class="click-more-info"
  > ({{labelTranslateInterface.globalBannerClickForMoreInfo | translate}})</a>
</span>
<div>
  <button *ngIf="isClosable"
          (click)="close($event)"
          (onEnter)="close()"
          aria-label="close"
          mat-icon-button
          type="button"
          solidifyShortCuts
  >
    <solidify-icon [iconName]="iconNameEnum.close"
                   matSuffix
    ></solidify-icon>
  </button>
</div>
