@import "../../../../core/scss/abstracts/abstracts";

$color-indicator-size: 20px;
$color-indicator-border-size: 1px;
$color-indicator-border-color: $medium-light-grey;

:host {
  .background {
    padding: 20px;
    min-height: 100vh;
    display: grid;
    justify-content: center;

    .container {
      h1 {
        font-weight: bold;
        text-align: center;
      }

      h2 {
        font-style: italic;
        text-align: center;
      }

      .global-color-input {
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: center;
        align-items: center;
        grid-gap: 10px;

        .refresh-button {
          margin-bottom: 12px;
        }
      }

      .color-indicator {
        width: $color-indicator-size;
        height: 18px;
        border-radius: $color-indicator-size;
        border: $color-indicator-border-size solid $color-indicator-border-color;
      }

      .hint-relative-luminance {
        font-size: 11px;
      }

      .mat-mdc-form-field {
        width: 140px;
      }

      .theme-colors-title {
        margin-top: 20px;
      }

      .table {
        text-align: center;

        .score-wrapper {
          display: grid;
          grid-gap: 15px;

          .ratio-contrast-wrapper {
            .ratio-contrast {
              .color-indicator-ratio {
                width: $color-indicator-size;
                height: $color-indicator-size;
                position: relative;
                top: 6px;

                .half-color {
                  width: 11px;
                  overflow: hidden;
                  display: inline-block;

                  .color-1,
                  .color-2 {
                    width: $color-indicator-size;
                    height: $color-indicator-size;
                    border-radius: $color-indicator-size;
                    border: $color-indicator-border-size solid $medium-light-grey;
                  }

                  .color-2 {
                    position: relative;
                    left: -11px;
                  }
                }
              }

              .rating {
                .rating-tag {
                  display: inline-block;
                  font-size: 11px;
                  line-height: 11px;
                  padding: 3px 5px;
                  border-radius: 5px;
                  width: 40px;
                  cursor: pointer;

                  &.aaa {
                    color: $white;
                    background-color: #00B050;
                  }

                  &.aa {
                    color: $text-color;
                    background-color: #92D050;
                  }

                  &.aa18 {
                    color: $text-color;
                    background-color: #FFC000;
                  }

                  &.failed {
                    color: $white;
                    background-color: #FF0000;
                  }
                }
              }

              .contrast-ratio {
                width: 40px;
                padding: 0 10px;
              }
            }
          }
        }

        .solidify-alternative-button {
          display: inline-block;
        }

        td {
          padding: 8px 5px;

          &.line-title {
            font-weight: bold;
            padding-right: 8px;
          }
        }
      }
    }
  }
}
