<div [style.background-color]="backgroundColor"
     class="background"
>
  <div class="container">
    <h1>Color tool</h1>
    <h2>Global colors</h2>
    <div class="global-color-input">
      <div>
        <ng-template [ngTemplateOutletContext]="{label: 'Background', formDefinition: formDefinition.backgroundColor}"
                     [ngTemplateOutlet]="colorInput"
        >
        </ng-template>
      </div>
      <div>
        <ng-template [ngTemplateOutletContext]="{label: 'Button flat text', formDefinition: formDefinition.buttonFlatTextColor}"
                     [ngTemplateOutlet]="colorInput"
        >
        </ng-template>
      </div>
      <button mat-icon-button
              type="button"
              class="refresh-button"
              (click)="reloadAllColors()"
              [matTooltip]="labelTranslateInterface.coreRefresh | translate"
      >
        <solidify-icon [iconName]="iconNameEnum.refresh"
                       [style.color]="primaryColor"
        ></solidify-icon>
      </button>
    </div>

    <h2 class="theme-colors-title">Theme colors</h2>
    <table class="table">
      <tr>
        <td class="line-title">Input</td>
        <td *ngFor="let pickerInput of listPickerInputs">
          <ng-template [ngTemplateOutletContext]="{label: pickerInput.label, formDefinition: pickerInput.formDefinition}"
                       [ngTemplateOutlet]="colorInput"
          >
          </ng-template>
        </td>
      </tr>
      <tr>
        <td class="line-title">Score</td>
        <td *ngFor="let color of listThemeColors">
          <div class="score-wrapper">
            <ng-template [ngTemplateOutletContext]="{label: 'Background contrast', color1: color, color2: backgroundColor}"
                         [ngTemplateOutlet]="ratioContrast"
            >
            </ng-template>
            <ng-template [ngTemplateOutletContext]="{label: 'Button contrast', color1: color, color2: buttonFlatTextColor}"
                         [ngTemplateOutlet]="ratioContrast"
            >
            </ng-template>
          </div>
        </td>
      </tr>
      <tr>
        <td class="line-title">Flat button</td>
        <td *ngFor="let color of listThemeColors">
          <button mat-button
                  mat-flat-button
                  [style.background-color]="color"
                  [style.color]="buttonFlatTextColor"
          >
            <solidify-icon [iconName]="iconNameEnum.home"
                           [style.color]="buttonFlatTextColor"
            ></solidify-icon>
            {{labelTranslateInterface.applicationBackToList | translate}}
          </button>
        </td>
      </tr>
      <tr>
        <td class="line-title">Alternative button</td>
        <td *ngFor="let color of listThemeColors">
          <button solidifyAlternativeButton
                  [solidifyAlternativeButtonIcon]="false"
                  [style.border-color]="color"
          >
            <span class="text"
                  [style.color]="color"
            >{{labelTranslateInterface.applicationBackToList | translate}}</span>
          </button>
        </td>
      </tr>
      <tr>
        <td class="line-title">Lite button</td>
        <td *ngFor="let color of listThemeColors">
          <button mat-button
                  [style.color]="color"
          >
            <solidify-icon [iconName]="iconNameEnum.home"
                           [style.color]="color"
            ></solidify-icon>
            {{labelTranslateInterface.applicationBackToList | translate}}
          </button>
        </td>
      </tr>
      <tr>
        <td class="line-title">Icon button</td>
        <td *ngFor="let color of listThemeColors">
          <button mat-icon-button
                  type="button"
          >
            <solidify-icon [iconName]="iconNameEnum.home"
                           [style.color]="color"
                           class="size-20"
            ></solidify-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<ng-template #colorInput
             let-label="label"
             let-formDefinition="formDefinition"
>
  <mat-form-field *ngIf="getFormControl(formDefinition) as fd"
                  [appearance]="appearanceInputMaterial"
                  [colorPicker]="fd.value"
                  (colorPickerChange)="colorChange(fd, $event)"
                  [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                  solidifyTooltipOnEllipsis
  >
    <mat-label>{{label}}</mat-label>
    <input #input
           [formControl]="fd"
           [required]="formValidationHelper.hasRequiredField(fd)"
           [solidifyValidation]="errors"
           matInput
    >
    <div [style.background-color]="fd.value"
         class="color-indicator"
    ></div>
    <mat-error #errors
               solidifyTooltipOnEllipsis
    ></mat-error>
    <mat-hint [matTooltip]="LABEL_RELATIVE_LUMINANCE"
              class="hint-relative-luminance"
    >{{getRelativeLuminance(fd.value) | number: "1.4-4"}}</mat-hint>
  </mat-form-field>
</ng-template>

<ng-template #ratioContrast
             let-label="label"
             let-color1="color1"
             let-color2="color2"
>
  <div class="ratio-contrast-wrapper">
    <div class="ratio-contrast">
        <span class="color-indicator-ratio"
              [matTooltip]="label"
        >
          <div class="half-color">
            <div [style.background-color]="color1"
                 class="color-1"
            ></div>
          </div>
          <div class="half-color">
            <div [style.background-color]="color2"
                 class="color-2"
            ></div>
          </div>
        </span>
      <span class="contrast-ratio"
            [matTooltip]="LABEL_CONTRAST_RATIO"
      >{{getContrastRatio(color1, color2) | number: "1.2-2"}}</span>
      <span *ngIf="getRating(color1, color2) as rating"
            [matTooltip]="LABEL_RANKING + ' ' + LABEL_WCAG2_0"
            class="rating"
      ><span class="rating-tag"
             (click)="navigateToWcag()"
             [class.aaa]="rating === ratingEnum.AAA"
             [class.aa]="rating === ratingEnum.AA"
             [class.aa18]="rating === ratingEnum.AA18"
             [class.failed]="rating === ratingEnum.Failed"
      >{{rating}}</span>
      </span>
    </div>
  </div>

</ng-template>