<form [formGroup]="searchForm">
  <mat-form-field *ngIf="formControl"
                  [appearance]="appearance"
                  [floatLabel]="(placeholder | isNotNullNorUndefined) ? 'always' : positionLabel"
                  class="full-width mat-form-field-appearance-legacy"
                  solidifyTooltipOnEllipsis
  >
    <mat-label>{{labelToTranslate | translate}}</mat-label>
    <input #inputElement
           (blur)="blur(inputElement)"
           [autocomplete]="'off'"
           [formControl]="formControl"
           [placeholder]="placeholder"
           [solidifyAutoFocus]="searchAutoFocus"
           [solidifyDataTest]="dataTest"
           class="full-width"
           matInput
    >
    <solidify-icon *ngIf="!allowEmptySearch && !isValuePresent()"
                   [iconName]="iconNameEnum.search"
                   class="search-icon size-16"
                   matIconSuffix
    ></solidify-icon>
    <button (click)="clean()"
            *ngIf="isValuePresent()"
            aria-label="Clear"
            mat-icon-button
            matIconSuffix
            type="button"
    >
      <solidify-icon class="size-20"
                     [iconName]="iconNameEnum.close"
                     matSuffix
      ></solidify-icon>
    </button>

    <button (click)="submit()"
            (keydown.enter)="submit()"
            *ngIf="(allowEmptySearch || isValuePresent()) && (mode === MODE_VALIDATION)"
            aria-label="Send"
            mat-icon-button
            matIconSuffix
            type="submit"
    >
      <solidify-icon [iconName]="iconSearchName"></solidify-icon>
    </button>
  </mat-form-field>
</form>
