<ng-template [ngIf]="statusModel">
  <mat-label *ngIf="label"
             class="label"
  >{{label | translate}}</mat-label>
  <span [style.background-color]="statusModel.backgroundColorHexa"
        [style.color]="statusModel.textColorHexa"
        solidifyTooltipOnEllipsis
        class="status"
  >{{statusModel.value | translate}}</span>
</ng-template>
