@import "../../../scss/abstracts/abstracts";

:host {
  .label {
    font-size: 11px;
    color: $label-disable;
  }

  .status {
    white-space: nowrap;
    display: block;
    color: $white;
    background: $medium-light-grey;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 10px;
    max-width: 160px;
    @include truncate-with-ellipsis;
  }
}

:host(.is-label) {
  padding-bottom: 17px;

  .status {
    width: 160px;
  }
}

:host(.is-label-inline) {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
  align-items: center;

  .status {
    justify-self: end;
  }
}

:host(.take-all-width) {
  .status {
    max-width: initial;
  }
}

@include isInDarkMode {
  .label {
    color: $dark-mode-text-disabled;
  }
}
