<div class="rss-wrapper">
  <h1>{{rss.channel.title}}</h1>
  <div class="rss-items-wrapper">
    <ng-container *ngFor="let item of rssItems">
      <solidify-rss-detail-presentational [item]="item">
      </solidify-rss-detail-presentational>
    </ng-container>
  </div>
</div>
