@import "../../../../core/scss/abstracts/abstracts";

.rss-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rss-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px 5px;
  flex-wrap: wrap;
  justify-content: space-around;

  @include respond-to-smaller-than-breakpoint('lg') {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to-smaller-than-breakpoint('md') {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to-smaller-than-breakpoint('sm') {
    grid-template-columns: 1fr;
  }

  > * {
    width: 100%;
  }
}
