/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@import "../layout/_grid";
@import "./variables";

$breakpoints-media-min: (
    xs: (min-width: map-get($breakpoints-values, 'xs')),
    sm: (min-width: map-get($breakpoints-values, 'sm')),
    md: (min-width: map-get($breakpoints-values, 'md')),
    lg: (min-width: map-get($breakpoints-values, 'lg'))
) !default;

$breakpoints-media-max: (
    xs: (max-width: map-get($breakpoints-values, 'xs')-1),
    sm: (max-width: map-get($breakpoints-values, 'sm')-1),
    md: (max-width: map-get($breakpoints-values, 'md')-1),
    lg: (max-width: map-get($breakpoints-values, 'lg')-1)
) !default;

$breakpoints-media-interval: (
    xs: "(min-width: #{map-get($breakpoints-values, 'xs')}) and (max-width: #{map-get($breakpoints-values, 'sm')-1})",
    sm: "(min-width: #{map-get($breakpoints-values, 'sm')}) and (max-width: #{map-get($breakpoints-values, 'md')-1})",
    md: "(min-width: #{map-get($breakpoints-values, 'md')}) and (max-width: #{map-get($breakpoints-values, 'lg')-1})",
    lg: "(min-width: #{map-get($breakpoints-values, 'lg')})"
) !default;

// This mixin apply SCSS when width of screen is >= to the breakpoint in parameter (because we are mobile first for design)
// Example : if respond-to('md') is used, the css rules are applied only if current width is >= to md breakpoint and not apply if current width is < to md breakpoint.
@mixin respond-to-breakpoint-and-bigger($br) {
  // If the key exists in the map
  @if map-has-key($breakpoints-media-min, $br) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints-media-min, $br))} {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$br}`. "
        + "Available breakpoints are: #{map-keys($breakpoints-media-min)}.";
  }
}

// This mixin apply SCSS when width of screen is < to the breakpoint in parameter
// Example : if respond-to('md') is used, the css rules are applied only if current width is < to md breakpoint and not apply if current width is >= to md breakpoint.
@mixin respond-to-smaller-than-breakpoint($br) {
  // If the key exists in the map
  @if map-has-key($breakpoints-media-max, $br) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints-media-max, $br))} {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$br}`. "
        + "Available breakpoints are: #{map-keys($breakpoints-media-max)}.";
  }
}

@mixin respond-to-breakpoint($br) {
  // If the key exists in the map
  @if map-has-key($breakpoints-media-interval, $br) {
    // Prints a media query based on the value
    @media #{map-get($breakpoints-media-interval, $br)} {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$br}`. "
        + "Available breakpoints are: #{map-keys($breakpoints-media-interval)}.";
  }
}

@mixin content() {
  :host {
    display: block;
    flex: 1;
    position: relative;

    @include app-padding;
  }
}

@mixin app-padding() {
  padding: $padding-content-desktop;

  @include respond-to-breakpoint('sm') {
    padding: $padding-content-tablet;
  }

  @include respond-to-smaller-than-breakpoint('sm') {
    padding: $padding-content-mobile;
  }
}

@mixin button-toolbar() {
  .button-toolbar {
    padding: 2px 0;

    @include respond-to-breakpoint-and-bigger('md') {
      position: sticky;
      top: 0;
      z-index: $z-index-sticky-toolbar;
      background-color: $white;
    }

    button {
      margin-right: 10px;
    }

    @include respond-to-breakpoint('xs') {
      display: flex;
      flex-direction: column;
      button {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }

  @include isInDarkMode {
    .button-toolbar {
      @include respond-to-breakpoint-and-bigger('md') {
        background-color: $dark-mode-background;
      }
    }
  }
}

@mixin spinner-wrapper() {
  .wrapper {
    position: relative;
    min-height: 400px;
  }
}

@mixin truncate-with-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon($size) {
  font-size: $size;
  line-height: $size;
  width: $size;
  height: $size;
}

@mixin icon-important($size) {
  font-size: $size !important;
  line-height: $size !important;
  width: $size !important;
  height: $size !important;
}

@mixin remove-padding-mat-form-field {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

@mixin isInDarkMode($inGlobalScss: false) {
  @if $inGlobalScss {
    body[dark-mode='true'] {
      @content;
    }
  } @else {
    :host-context(body[dark-mode='true']) {
      @content;
    }
  }
}

@mixin isInLightMode($inGlobalScss: false) {
  @if $inGlobalScss {
    body:not([dark-mode='true']) {
      @content;
    }
  } @else {
    :host-context(body:not([dark-mode='true'])) {
      @content;
    }
  }
}

@mixin isInTheme($theme, $inGlobalScss: false) {
  @if $inGlobalScss {
    body[theme='#{$theme}'] {
      @content;
    }
  } @else {
    :host-context(body[theme='#{$theme}']) {
      @content;
    }
  }
}

@mixin isFileDrag($inGlobalScss: false) {
  @if $inGlobalScss {
    body[is-file-drag='true'] {
      @content;
    }
  } @else {
    :host-context(body[is-file-drag='true']) {
      @content;
    }
  }
}
