// ------------
// COLOR
// ------------

// Theme
$primary-color: var(--primary-color);
$primary-color-lighter: var(--primary-color-lighter);
$accent-color: var(--accent-color);
$accent-main-color: var(--accent-main-color);

// Main
$text-color: #292F33;
$text-color-in-primary: var(--text-color-in-primary);
$background-grey: #f5f5f5;

// Status
$success: #15a796;
$error: #e84c3d;
$warning: #db7e06;
$info: #3598db;

// Color
$red: #f44336;
$green: #01b500;
$warning-dark: #c17700;

// Black tone
$black: #000000;
$dark-grey: #1b1b1b;
$grey: #434343;
$light-grey: #767676;
$medium-light-grey: #bdbdbd;
$intermediate-grey: #e0e0e0;
$extra-light-grey: #efefef;
$extra-ultra-light-grey: #fbfbfb;
$white: #ffffff;

// Material
$label: rgba(0, 0, 0, 0.72);
$label-default: rgba(0, 0, 0, 0.54);
$label-disable: rgba(0, 0, 0, 0.72);
$value-disable: rgba(0, 0, 0, 0.72);
$outline-disable: rgba(0, 0, 0, 0.06);
$outline-hover: rgba(0, 0, 0, 0.87);
$outline: rgba(0, 0, 0, 0.12);

// Dark mode
$dark-mode-background: #303030;
$dark-mode-menu-active: rgba(255, 255, 255, 0.04);
$dark-mode-toolbar: #252525;
$dark-mode-text-color: $white;
$dark-mode-text-disabled: rgba(255, 255, 255, 0.7);
$dark-mode-line: $grey;
$dark-mode-outline-disable: rgba(255, 255, 255, 0.15);
$dark-mode-outline-hover: $white;
$dark-mode-outline: rgba(255, 255, 255, 0.3);

// ------------
// PADDING
// ------------

// Layout responsive
$padding-content-desktop: 25px;
$padding-content-tablet: 15px;
$padding-content-mobile: 10px;

// ------------
// SETTINGS
// ------------

$height-banner: 30px;
