$z-index-footer: 1;
$z-index-sticky-paginate: 1;
$z-index-sticky-datatable-header: 1;
$z-index-rich-text-editor-tooltip: 1;
$z-index-link-animation: 1;
$z-index-cookie: 3;
$z-index-sticky-datatable-header-title: 2;
$z-index-sticky-toolbar: 3;
$z-index-modal: 3;
$z-index-main-toolbar-cookie-consent-sidebar: 6;
$z-index-ribbon: 1000;
$z-index-panel-maintenance: 1001;
$z-index-server-offline: 1002;
$z-index-unable-to-load-app: 1002;
