@import "../../../../core/scss/abstracts/abstracts";

:host {
  .file {
    padding: 0 12px;
    margin: 4px 2px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 300px 1fr 80px;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: "name progress buttons";

    @include respond-to-smaller-than-breakpoint('sm') {
      grid-template-columns: 1fr 80px;
      grid-template-areas:
          "name buttons"
          "progress progress";
    }

    .left-part {
      grid-area: name;
      display: grid;
      align-items: center;
      justify-content: start;
      grid-template-columns: min-content 1fr;
      grid-gap: 10px;

      .file-name {
        @include truncate-with-ellipsis;
      }
    }

    .middle-part {
      grid-area: progress;
      padding: 15px 10px;

      .progress-bar ::ng-deep .mat-progress-bar-primary {
        transition: transform 100ms linear;
      }

      @include respond-to-smaller-than-breakpoint('sm') {
        padding: 10px 0;
      }
    }

    .right-part {
      grid-area: buttons;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;

      > * {
        display: grid;
        justify-content: center;
        align-items: center;
      }
    }

    &.is-completed {
      animation: disappear 0.5s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes disappear {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      height: 0;
      opacity: 0;
    }
  }
}

