<div [class.is-completed]="isUploading && uploadStatus.status === fileUploadStatusEnum.completed"
     [class.is-uploading]="isUploading"
     class="file"
>
  <div class="left-part">
    <solidify-icon [iconName]="iconNameEnum.files"
                   class="ico-file"
    ></solidify-icon>
    <span solidifyTooltipOnEllipsis
          class="file-name"
    >{{uploadStatus.fileUploadWrapper.file.name}}</span>
  </div>
  <div [matTooltipPosition]="'above'"
       [matTooltip]="uploadStatus.errorMessageToTranslate | translate"
       class="middle-part"
  >
    <mat-progress-bar [color]="color"
                      [value]="uploadStatus.progressPercentage"
                      class="progress-bar"
                      mode="determinate"
    >
    </mat-progress-bar>
  </div>
  <div class="right-part">
    <button *ngIf="uploadStatus.status === fileUploadStatusEnum.inError"
            [matTooltipPosition]="'above'"
            [matTooltip]="labelTranslateInterface.applicationFileUploadTileButtonRetry | translate"
            (click)="retry()"
            mat-icon-button
            type="button"
    >
      <solidify-icon [iconName]="iconNameEnum.redo"></solidify-icon>
    </button>
    <button *ngIf="uploadStatus.status === fileUploadStatusEnum.inProgress || uploadStatus.status === fileUploadStatusEnum.inError"
            [matTooltipPosition]="'above'"
            [matTooltip]="labelTranslateInterface.applicationFileUploadTileButtonCancel | translate"
            (click)="cancel()"
            mat-icon-button
            type="button"
    >
      <solidify-icon [iconName]="iconNameEnum.close"></solidify-icon>
    </button>
  </div>
</div>
