<solidify-base-action-dialog [titleToTranslate]="labelTranslateInterface.dataTableDialogLooseSelectionTitle | translate">
  <p>{{labelTranslateInterface.dataTableDialogLooseSelectionBody | translate: paramMessage}}</p>
</solidify-base-action-dialog>
<div [solidifyFocusFirstElement]="true"
     cdkTrapFocus
     mat-dialog-actions
>
  <button [mat-dialog-close]=""
          mat-button
          [color]="colorCancel"
  >{{labelTranslateInterface.coreClose | translate}}</button>
  <button (click)="confirm()"
          (onEnter)="confirm()"
          [color]="colorConfirm"
          mat-flat-button
          solidifyShortCuts
  >{{labelTranslateInterface.coreYesImSure | translate}}</button>
</div>
