<div class="expand-collapse-button">
  <button (click)="expandAllOrCollapseAll()"
          (onEnter)="expandAllOrCollapseAll()"
          [matTooltip]="expandedAll ? (labelTranslateInterface.applicationFolderTreeButtonCollapseAll | translate) : (labelTranslateInterface.applicationFolderTreeButtonExpandAll | translate)"
          mat-icon-button
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="expandedAll ? iconNameEnum.collapseAll : iconNameEnum.expandAll"
                   class="size-20"
    ></solidify-icon>
  </button>
</div>

<mat-tree *ngIf="dataSource && isReady"
          [dataSource]="dataSource"
          [treeControl]="treeControl"
          class="file-tree"
>

  <mat-tree-node (cdkDropListDropped)="drop($event, node.fullFolderName)"
                 (click)="select(node)"
                 *matTreeNodeDef="let node"
                 [cdkDropListAutoScrollDisabled]="true"
                 [class.is-active]="node.fullFolderName === currentFolder"
                 [id]="CDK_DROP_LIST_PREFIX+node.fullFolderName"
                 [matTreeNodePaddingIndent]="indentation"
                 cdkDropList
                 class="folder-node selectable"
                 matTreeNodePadding
                 matTreeNodeToggle
  >
    <button disabled
            mat-icon-button
    >
      <solidify-icon [iconName]="iconNameEnum.folderEmpty"
                     class="size-18"
      ></solidify-icon>
    </button>

    <ng-template *ngTemplateOutlet="button; context: {node: node}"></ng-template>

  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node (cdkDropListDropped)="drop($event, node.fullFolderName)"
                 (cdkDropListEntered)="openFolder(node)"
                 (click)="select(node)"
                 *matTreeNodeDef="let node; when: hasChild"
                 [cdkDropListAutoScrollDisabled]="true"
                 [class.intermediate-node]="node.postCreation"
                 [class.is-active]="node.fullFolderName === currentFolder"
                 [class.selectable]="true"
                 [id]="CDK_DROP_LIST_PREFIX+node.fullFolderName"
                 [matTreeNodePaddingIndent]="indentation"
                 cdkDropList
                 class="folder-node"
                 matTreeNodePadding
                 (mouseover)="mouseOver($event, node)"
                 (mouseout)="mouseOut($event, node)"
  >
    <button [attr.aria-label]="'toggle ' + node.folderName"
            mat-icon-button
            matTreeNodeToggle
    >
      <solidify-icon [iconName]="treeControl.isExpanded(node) ? iconNameEnum.folderOpened : iconNameEnum.folderClosed"
                     class="size-18"
      ></solidify-icon>
    </button>

    <ng-template *ngTemplateOutlet="button; context: {node: node}"></ng-template>

  </mat-tree-node>
</mat-tree>

<ng-template #button
             let-node="node"
>
  <div class="folder-chip">
    <span class="label"
          solidifyTooltipOnEllipsis
    >{{node.folderName}}</span>

    <div class="buttons">
      <button (click)="downloadFolder(node)"
              *ngIf="currentFolder === node.fullFolderName && canDownload"
              [matTooltip]="labelTranslateInterface.applicationFolderTreeButtonDownloadFolder | translate"
              mat-icon-button
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.download"
                       class="size-18"
        ></solidify-icon>
      </button>

      <button (click)="deleteFolder(node)"
              *ngIf="currentFolder === node.fullFolderName && currentFolder !== ROOT && canDelete"
              [matTooltip]="labelTranslateInterface.applicationFolderTreeButtonDeleteFolder | translate"
              mat-icon-button
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.delete"
                       class="size-18"
        ></solidify-icon>
      </button>

      <button (click)="upload(node)"
              *ngIf="currentFolder === node.fullFolderName && canUpload"
              [matTooltip]="labelTranslateInterface.applicationFolderTreeButtonUploadData | translate"
              mat-icon-button
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.uploadFile"
                       class="size-18"
        ></solidify-icon>
      </button>
    </div>
  </div>
</ng-template>
