@import "../abstract-multi-select/abstract-multi-select.presentational";

:host {
  .is-default {
    color: $warning-dark;
    padding-right: 5px;
  }

  .label {
    &.disable-pointer-event {
      pointer-events: none;
    }
  }
}

@include isInDarkMode {
  .mat-mdc-form-field {
    .down-arrow {
      color: $dark-mode-text-color;
    }
  }
}
