<mat-form-field *ngIf="formControl as fd"
                (click)="focusInputIfNotClickTarget($event)"
                [appearance]="appearance"
                [floatLabel]="positionLabel"
                [class.disabled]="formControl.disabled"
                [class.mat-focused]="isOverlayOpen"
                [class.with-values]="selectedItems.length > 0"
                [class]="classMatFormField"
                [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(formControl, displayEmptyRequiredFieldInError)"
                solidifyTooltipOnEllipsis
>
  <solidify-icon *ngIf="prefixIcon | isNotNullNorUndefined"
                 [iconName]="prefixIcon"
                 matPrefix
                 class="size-24"
  ></solidify-icon>
  <mat-label>{{title}}</mat-label>
  <input #hiddenInput
         [autocomplete]="'off'"
         [class]="classInputHide"
         [formControl]="fd"
         [required]="required"
         matInput
  >
  <mat-chip-grid #chipGrid
                 [disabled]="fd.disabled"
                 [required]="required"
  >
    <mat-chip-row *ngFor="let value of selectedItems; trackBy: trackByFn"
                  [disableRipple]="true"
                  [disabled]="fd.disabled"
                  [removable]="removable"
                  [editable]="false"
                  [solidifyOverlayData]="value"
                  [solidifyOverlayComponent]="overlayComponent"
                  [solidifyOverlayExtra]="overlayExtra"
                  solidifyOverlay
                  (removed)="remove(value)"
    >
      <span class="label"
            [matTooltipShowDelay]="500"
            [matTooltip]="getTooltip(value)"
            [matTooltipDisabled]="(overlayComponent | isNotNullNorUndefined)"
            [class.disable-pointer-event]="(overlayComponent | isNotNullNorUndefined)"
      >
            <ng-template [ngIf]="translateLabel"
                         [ngIfElse]="noTranslate"
            >
              <span [innerHTML]="labelCallback(value) | translate"></span>
            </ng-template>
            <ng-template #noTranslate>
              <span [innerHTML]="labelCallback(value)"></span>
            </ng-template>
          </span>
      <ng-template [ngIf]="defaultValueToHighlight | isNonEmptyArray">
            <span *ngIf="isADefaultValue(value[valueKey])"
                  class="is-default"
            >({{defaultValueLabel | translate}})</span>
      </ng-template>
      <solidify-icon *ngIf="extraInfoImage && value[extraInfoLabelKey]"
                     [iconName]="extraInfoImage"
                     [matTooltip]="(extraInfoPlaceholderCallback | isFunction) ? (extraInfoPlaceholderCallback(value) | translate) : value[extraInfoLabelKey]"
                     class="size-16 extra-icon"
      >
      </solidify-icon>
      <button (click)="navigateTo($event, value)"
              *ngIf="isWithLink"
              [matTooltip]="tooltipNavigateToTranslate | translate"
              aria-label="Navigate to"
              class="navigate-to"
              mat-icon-button
              matSuffix
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.internalLink"
                       class="size-16"
        ></solidify-icon>
      </button>
      <button *ngIf="!fd.disabled"
              matChipRemove
              class="remove-chip"
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.closeChip"
                       class="size-16"
        ></solidify-icon>
      </button>
    </mat-chip-row>
  </mat-chip-grid>
  <input #inputElementRef
         (focus)="openOverlay(inputElementRef)"
         [disabled]="fd.disabled"
         [matChipInputFor]="chipGrid"
         [placeholder]="placeholder ? placeholder : (labelTranslate.inputMultiSelectPlaceholder | translate)"
         matInput
  >
  <mat-error solidifyTooltipOnEllipsis>{{formValidationHelper.getFormMetadataErrorFormattedString(fd)}}</mat-error>
  <mat-hint *ngIf="hintToTranslate | isNotNullNorUndefinedNorWhiteString">{{hintToTranslate | translate}}</mat-hint>

  <!--  <solidify-icon *ngIf="appearance === APPEARANCE_OUTLINE"-->
  <!--                 [iconName]="iconNameEnum.downArrow"-->
  <!--                 matSuffix-->
  <!--                 class="size-24 down-arrow"-->
  <!--  ></solidify-icon>-->

</mat-form-field>
<a [tabIndex]="0"></a>
