<mat-menu #menu="matMenu"
          class="language-selector-menu"
>
  <button *ngFor="let languageValue of (displaySelected ? listLanguages : listLanguageFiltered)"
          [class.is-active]="languageValue === language"
          [matTooltip]="enumUtil.getLabel(languageEnumTranslate, languageValue) | translate"
          [matTooltipPosition]="'after'"
          (click)="selectLanguage(languageValue)"
          (onEnter)="selectLanguage(languageValue)"
          mat-menu-item
          solidifyShortCuts
          class="option-language"
  >
    <img *ngIf="(useImage | isTrue); else useText"
         [alt]="stringUtil.convertToPascalCase(languageValue)"
         [src]="getPathToImage(languageValue)"
         class="image"
         ngProjectAs="mat-icon"
    >

    <ng-template #useText>
      <span class="text">
        {{languageValue}}
      </span>
    </ng-template>
  </button>
</mat-menu>

