@import "../../../scss/abstracts/abstracts";

::ng-deep {
  .language-selector-menu {
    min-width: 80px;

    .option-language {
      display: block;
      text-align: center;
      justify-content: center;

      &.is-active {
        background-color: $extra-light-grey !important;
      }

      .image {
        max-width: 18px;
        max-height: 18px;
        width: 100%;
      }

      .text {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        color: $text-color;
      }
    }
  }

  @include isInDarkMode(true) {
    .language-selector-menu {
      .option-language {
        &.is-active {
          background-color: $dark-mode-menu-active !important;
        }

        .text {
          color: $dark-mode-text-color;
        }
      }
    }
  }
}
