<mat-menu>
  <button *ngIf="shortDoi | isNotNullNorUndefinedNorWhiteString"
          (click)="navigateToDoi($event)"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.externalLink"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateInterface.applicationDoiButtonNavigateToTheDoi | translate}}</span>
  </button>

  <button *ngIf="shortDoi | isNotNullNorUndefinedNorWhiteString"
          (click)="copyShortDoi()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.fingerprint"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateInterface.applicationDoiButtonCopyShortDoi | translate}}</span>
  </button>

  <button (click)="copyLongDoi()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.fingerprint"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateInterface.applicationDoiButtonCopyLongDoi | translate}}</span>
  </button>

  <button *ngIf="shortDoi | isNotNullNorUndefinedNorWhiteString"
          (click)="copyUrlShortDoi()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.http"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateInterface.applicationDoiButtonCopyUrlShortLongDoi | translate}}</span>
  </button>

  <button (click)="copyUrlLongDoi()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.http"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateInterface.applicationDoiButtonCopyUrlLongDoi | translate}}</span>
  </button>
</mat-menu>
