@import "../../../core/scss/abstracts/abstracts";

:host {
  .mat-mdc-form-field {
    width: 100%;

    .down-arrow {
      display: none !important;
      color: $label-default;
    }

    &:not(.mat-form-field-disabled) {
      .down-arrow {
        display: initial !important;
      }
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
      cursor: pointer;
    }

    input {
      cursor: pointer;
      @include truncate-with-ellipsis;
    }
  }

  .hidden-input {
    display: none;
  }

  .clear {
    color: $label-disable !important;
  }

  .default-value {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include isInDarkMode {
  .mat-mdc-form-field {
    .down-arrow {
      color: $dark-mode-text-color;
    }
  }

  .clear {
    color: $dark-mode-text-color !important;
  }
}
