<mat-form-field (click)="focusInputIfNotClickTarget($event)"
                (onEscape)="closeOverlays()"
                [appearance]="appearance === 'legacy' ? 'fill' : appearance"
                [floatLabel]="floatLabelComputed"
                [class.mat-focused]="isOverlayOpen"
                [class]="classMatFormField"
                [solidifySpinnerDiameter]="24"
                [solidifySpinnerStrokeWidth]="2"
                [solidifySpinner]="!labelInitialized && (isLoadingObs | async)"
                [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(formControl, displayEmptyRequiredFieldInError)"
                [class.mat-form-field-appearance-legacy]="appearance === 'legacy'"
                [solidifyOverlayData]="currentValue"
                [solidifyOverlayComponent]="overlayComponent"
                [solidifyOverlayExtra]="overlayExtra"
                solidifyOverlay
                solidifyTooltipOnEllipsis
                solidifyShortCuts
>
  <solidify-icon *ngIf="prefixIcon | isNotNullNorUndefined"
                 [iconName]="prefixIcon"
                 matPrefix
                 class="size-24"
  ></solidify-icon>
  <mat-label>{{placeholder}}</mat-label>
  <input [class]="classInputHide"
         [formControl]="formControl"
         [required]="required"
         matInput
  >
  <form [formGroup]="formLabel">
    <input #inputElementRef
           (focus)="openOverlay($event)"
           (keydown.shift.tab)="closeOverlays(false,true)"
           (keydown.tab)="closeOverlays(true,true)"
           [autocomplete]="'off'"
           [formControlName]="formDefinition.value"
           matInput
    >
  </form>

  <button (click)="clearValue($event)"
          *ngIf="((defaultValue && !isDefaultValueSelected) || !defaultValue) && isValuePresent() && !formControl.disabled &&
  canDeleteValue && !readonly"
          aria-label="Clear"
          class="clear"
          mat-icon-button
          matSuffix
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.close"
                   class="size-16"
    ></solidify-icon>
  </button>

  <div *ngIf="defaultValueTooltip && isDefaultValueSelected && isValuePresent() && !formControl.disabled && canDeleteValue && !readonly"
       [matTooltip]="defaultValueTooltip | translate"
       class="default-value"
       matSuffix
  >
    <solidify-icon [iconName]="iconNameEnum.defaultValue"
                   class="size-16"
    ></solidify-icon>
  </div>

  <button (click)="navigateTo($event)"
          (onEnter)="navigateTo($event)"
          *ngIf="isValuePresent() && isWithLink && !objectNotFound"
          [matTooltip]="tooltipNavigateToTranslate | translate"
          aria-label="Navigate to"
          class="navigate-to"
          mat-icon-button
          matSuffix
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.internalLink"
                   class="size-16"
    ></solidify-icon>
  </button>

  <button (click)="navigateToUrl($event)"
          (onEnter)="navigateToUrl()"
          *ngIf="isUrlPresent() && !objectNotFound"
          aria-label="Navigate to"
          class="navigate-to-url"
          mat-icon-button
          matSuffix
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.externalLink"
                   class="size-16"
    ></solidify-icon>
  </button>

  <!--  <solidify-icon *ngIf="appearance === APPEARANCE_OUTLINE"-->
  <!--                 [iconName]="iconNameEnum.downArrow"-->
  <!--                 matSuffix-->
  <!--                 class="size-24 down-arrow"-->
  <!--  ></solidify-icon>-->

  <mat-error solidifyTooltipOnEllipsis>{{formValidationHelper.getFormMetadataErrorFormattedString(formControl)}}</mat-error>
  <mat-hint *ngIf="hintToTranslate | isNotNullNorUndefinedNorWhiteString">{{hintToTranslate | translate}}</mat-hint>
</mat-form-field>
<a [tabIndex]="0"></a>
