@import "../../../../scss/abstracts/abstracts";

:host {
  display: flex;

  .cookie-consent-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    background: $white;
    height: 100vh;
    z-index: $z-index-main-toolbar-cookie-consent-sidebar;
    box-shadow: 0 8px 10px -4px #5858582e;
    overflow-y: auto;

    @include respond-to-smaller-than-breakpoint('md') {
      width: 100%;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      align-items: center;

      .title {
        margin: 0;
        text-align: center;
        width: 100%;
      }
    }

    .close {
      cursor: pointer;
    }

    .cookie-preference-wrapper {
      padding: 0 20px;
      padding-bottom: 20px;

      .cookie-preference {
        .toggle-and-info {
          display: grid;
          grid-template-columns: 1fr max-content;
          grid-gap: 5px;
          justify-content: space-between;
          align-items: center;

          .info {
            color: $medium-light-grey;
          }
        }

        &.general {
          padding: 20px 0;

          label {
            font-weight: bold;
          }

          ::ng-deep {
            .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked {
              .mdc-switch__track {
                &::after {
                  background-color: rgba($success, 0.54);
                }
              }

              .mdc-switch__handle {
                .mdc-switch__shadow {
                  .mdc-elevation-overlay {
                    background-color: $success;
                  }
                }
              }

              .mdc-switch__ripple::after {
                background-color: $success;
              }
            }
          }
        }

        &.other-cookie {
          padding-top: 10px;
          padding-bottom: 15px;
          border-bottom: 1px solid $intermediate-grey;

          &:last-child {
            border-bottom: none;
          }
        }

        .description {
          font-size: 13px;
          padding-top: 8px;
          color: $light-grey;
        }
      }
    }
  }

  .backdrop-cookie-consent-sidebar {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    background-color: $black;
    opacity: 0.75;
    top: 0;
    left: 0;
  }

}

:host(.hide) {
  display: none;
}

@include isInDarkMode {
  .cookie-consent-sidebar {
    background: $dark-mode-background;

    .cookie-preference-wrapper {
      .cookie-preference {
        &.other-cookie {
          border-bottom-color: $dark-mode-line;
        }
      }
    }
  }
}
