<div *ngIf="isOpenedSidebarCookieConsentObs | async"
     @sidebarAnimation
     class="cookie-consent-sidebar"
>
  <div class="header">
    <h2 class="title">{{labelTranslateInterface.coreCookieConsentSidebarTitle | translate}}</h2>
    <solidify-icon (click)="closeCookieConsentSidebar()"
                   [iconName]="iconNameEnum.close"
                   [matTooltip]="labelTranslateInterface.coreCookieConsentSidebarTooltipClose | translate"
                   class="close"
    ></solidify-icon>
  </div>

  <div class="cookie-preference-wrapper">
    <div class="cookie-preference general">
      <mat-slide-toggle [color]="'primary'"
                        [checked]="cookieConsentService.isAllCookiePreferencesAccepted"
                        (change)="generalPreferencesChanged($event)"
      >
        {{labelTranslateInterface.coreCookieConsentSidebarAllowAllCookies | translate}}
      </mat-slide-toggle>
    </div>

    <ng-container *ngFor="let cookiePreference of cookieConsentService.listCookiePreferences">
      <div *ngIf="cookiePreference.visible()"
           class="cookie-preference other-cookie"
      >
        <div class="toggle-and-info">
          <mat-slide-toggle [color]="'primary'"
                            [disabled]="cookiePreference.isTechnical"
                            [checked]="cookiePreference.isEnabled"
                            (change)="preferenceChanged($event, cookiePreference)"
          >
            {{cookiePreference.labelToTranslate | translate}}
          </mat-slide-toggle>
          <button [matTooltip]="cookiePreference.type + ' > ' + cookiePreference.name"
                  (click)="copyToClipboardCookieName(cookiePreference.name)"
                  class="info"
                  mat-icon-button
                  type="button"
          >
            <solidify-icon [iconName]="iconNameEnum.information"
                           class="size-18"
            ></solidify-icon>
          </button>
        </div>
        <div class="description"
             solidifyTooltipOnEllipsis
        >
          {{cookiePreference.descriptionToTranslate | translate}}
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div (click)="closeCookieConsentSidebar()"
     *ngIf="isOpenedSidebarCookieConsentObs | async"
     @backdropAnimation
     class="backdrop-cookie-consent-sidebar"
>
</div>
