:host {
  display: block;

  ::ng-deep {
    .mat-mdc-paginator {
      background-color: transparent !important;
    }
  }
}

:host(.wrap) {
  ::ng-deep {
    .mat-mdc-paginator-container {
      width: 350px;
    }
  }
}