@import "../abstracts/abstracts";

@mixin solidify-dark-mode-override-rules {
  background-color: $dark-mode-background;
  color: $dark-mode-text-color;

  .mat-mdc-form-field-hint {
    color: #ffffffb3;
  }

  .mat-mdc-menu-item {
    solidify-icon {
      > * {
        color: $white !important;
      }
    }
  }

  .mdc-snackbar__surface {
    background: $dark-mode-toolbar;
  }

  .mat-mdc-dialog-surface {
    background-color: $dark-mode-background;
  }

  .mat-mdc-form-field {
    .mat-mdc-form-field-icon-suffix {
      .icon {
        color: $dark-mode-text-color;
      }
    }
  }

  .mat-mdc-form-field {
    &:not(.mat-focused) {
      .mat-mdc-floating-label,
      mat-label {
        color: $dark-mode-text-color;
      }

      &.mat-form-field-disabled {
        .mat-mdc-floating-label,
        mat-label {
          color: $dark-mode-text-disabled;
        }
      }
    }
  }

  .spinner-background {
    background-color: rgba(48, 48, 48, 0.78);
  }

  .button-spinner-background {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .solidify-alternative-button {
    &.disabled {
      color: $dark-mode-outline;
      border-color: $dark-mode-outline;
    }
  }
}
