body {
  overflow-y: hidden;
}

textarea,
input {
  -webkit-user-select: text !important; /* Chrome, Opera, Safari */
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $primary-color;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;

  &.button-link {
    color: inherit;
  }

  &:not(.mdc-icon-button):not(.mat-mdc-menu-item):not(.button-link):hover {
    color: $primary-color-lighter;
  }

  &:not(.no-hover-animation):not(.mdc-button):not(.mdc-icon-button):not(.mat-mdc-menu-item):not(.button-link) {
    &:before {
      content: "";
      z-index: $z-index-link-animation; // avoid blink side effect on other <a>
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: $primary-color-lighter;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

html {
  height: 100vh;
}

html * {
  font-size: 1em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  padding: 0;
}

*:focus {
  outline: none;
}

.italic {
  font-style: italic;
}

ul, ol, li {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none
}

.spinner-background {
  background-color: rgba(255, 255, 255, 0.66);
  min-height: 100px;
  animation: from-transparent-background-color 0.5s ease-in-out;
}

@keyframes from-transparent-background-color {
  from {
    background-color: transparent;
  }
}

.button-spinner-background {
  background-color: rgba(255, 255, 255, 0.25);
}

button[solidifyRoundButton] {
  color: $white;

  &.primary {
    background-color: $primary-color !important;
  }

  &.accent {
    background-color: $accent-color !important;
  }

  &.warn {
    background-color: $warning !important;
  }

  &[disabled] {
    background-color: $intermediate-grey !important;
    color: rgba(0, 0, 0, 0.26);
  }
}

.highlight-text {
  color: $primary-color;
  font-weight: bold;
}

.ngx-tour_backdrop {
  border-radius: 32px;
}

.ngx-tour_panel {
  white-space: pre-line;
}

::placeholder {
  color: $light-grey !important;
}

dl {
  margin: 0;
}

@include isFileDrag(true) {
  .file-drop-zone {
    outline: 4px dashed $intermediate-grey;
    outline-offset: 5px;

    &.file-over {
      outline-offset: 8px;
      transition: all 0.1s ease-in-out 0s;
      outline-color: $primary-color;
    }
  }
}

.solidify-alternative-button {
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  position: relative;
  overflow: hidden;

  &.with-icon {
    margin: 5px 0;
    display: grid;
    grid-template-columns: minmax(20px, 75px) 1fr;
    grid-gap: 10px;

    .icon {
      justify-self: end;
    }

    .text {
      justify-self: start;
      text-align: left;
    }
  }

  &.disable-ripple {
    overflow: initial;
  }

  &.primary {
    border-color: $primary-color;
    color: $primary-color;
  }

  &.accent {
    border-color: $accent-color;
    color: $accent-color;
  }

  &.warn {
    border-color: $warning;
    color: $warning;
  }

  &.success {
    border-color: $success;
    color: $success;
  }

  &.disabled {
    color: $outline;
    border-color: $outline;
    cursor: initial;
  }
}


.global-spinner-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;

  .global-spinner {
    $offset: 187;
    $duration: 1.4s;
    width: 75px;
    height: 75px;
    stroke-width: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotator $duration linear infinite;

    @keyframes rotator {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(270deg);
      }
    }

    .circle-path {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      stroke: $grey;
      animation: dash $duration ease-in-out infinite;
    }

    @keyframes dash {
      0% {
        stroke-dashoffset: $offset;
      }
      50% {
        stroke-dashoffset: calc($offset / 4);
        transform: rotate(135deg);
      }
      100% {
        stroke-dashoffset: $offset;
        transform: rotate(450deg);
      }
    }
  }
}
