@import "../abstracts/abstracts";

@mixin solidify-light-mode-override-rules {
  .mat-mdc-input-element:disabled,
  .mat-mdc-select-disabled .mat-mdc-select-value {
    color: $value-disable !important;
  }
}
