@import "../abstracts/variables";

@mixin solidify-material-override {
  .mat-form-field-invalid {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: $red;
    }
  }

  .mat-mdc-form-field-hint {
    color: #0009;
  }

  .mat-mdc-dialog-container {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .mat-mdc-snack-bar-container {
    padding: 4px;

    &.native-snackbar-component {
      .mdc-snackbar__surface {
        border-left: 8px solid;

        .mat-mdc-snack-bar-label {
          color: $white !important;
        }

        button {
          color: $white !important;
        }
      }

      &.success {
        .mdc-snackbar__surface {
          border-color: $success;
        }
      }

      &.error {
        .mdc-snackbar__surface {
          border-color: $error;
        }
      }

      &.warn {
        .mdc-snackbar__surface {
          border-color: $warning;
        }
      }

      &.info {
        .mdc-snackbar__surface {
          border-color: $info;
        }
      }
    }

    &.solidify-snackbar-component {
      .mdc-snackbar__surface {
        padding: 0;

        .mat-mdc-snack-bar-label {
          padding: 5px;
        }
      }
    }
  }

  .mat-mdc-tab-header-pagination {
    visibility: hidden;
  }

  button .mat-mdc-progress-spinner circle {
    stroke: $white !important;
  }

  a,
  button {
    &.mat-mdc-icon-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.mat-mdc-icon-button.mat-mdc-button-base {
      --mdc-icon-button-state-layer-size: 40px;
      width: var(--mdc-icon-button-state-layer-size);
      height: var(--mdc-icon-button-state-layer-size);
      padding: 0;

      .mat-mdc-button-touch-target {
        width: var(--mdc-icon-button-state-layer-size);
        height: var(--mdc-icon-button-state-layer-size);
      }
    }

    &.mat-success:not([disabled]) {
      background-color: $green !important;
      color: $white !important;
    }
  }

  .mat-form-field-suffix {
    .button-suffix {
      bottom: 7px;
    }
  }

  .mat-mdc-select {
    @include truncate-with-ellipsis;
  }

  .mat-mdc-chip-set,
  .mat-mdc-chip-grid,
  .mat-mdc-chip-listbox {
    font-size: 12px;
    line-height: 12px;

    .mat-mdc-chip {
      &.mat-mdc-chip-disabled {
        opacity: 0.8;
        pointer-events: auto;
      }
    }

    .mat-mdc-chip-action-label {
      display: flex;
      align-items: center;
      gap: 3px;

      button {
        &.mat-mdc-icon-button.mat-mdc-button-base {
          --mdc-icon-button-state-layer-size: 26px;
          width: var(--mdc-icon-button-state-layer-size);
          height: var(--mdc-icon-button-state-layer-size);
          padding: 0;
        }
      }
    }
  }

  .mat-mdc-list-base .mat-mdc-list-item,
  .mat-mdc-list-base .mat-mdc-list-option {
    height: 38px;

    &:nth-child(even) {
      background-color: $extra-ultra-light-grey;
    }
  }

  .mdc-button:focus:not(.mat-mdc-icon-button) {
    border-color: $light-grey;
    box-shadow: 0 0 0 1px $light-grey;

    &.mat-mdc-unelevated-button {
      box-shadow: 0 0 0 2px $light-grey;
    }
  }

  .mat-mdc-tab-group {
    .mdc-tab--active {
      color: $primary-color !important;
    }
  }

  .mat-badge-content {
    width: min-content !important;
    min-width: 16px !important;
    padding: 0 !important;
    border-radius: 15px !important;
  }

  .mat-badge-medium .mat-badge-content {
    min-width: 22px !important;
  }

  .mat-mdc-form-field {
    margin: 4px 0;
  }

  /* Colors for the ripple elements.*/
  .mat-mdc-form-field {
    &:not(.mat-focused) {
      .mat-mdc-floating-label,
      mat-label {
        color: $label;
      }

      &.mat-form-field-disabled {
        .mat-mdc-floating-label,
        mat-label {
          color: $label-disable;
        }
      }
    }
  }

  .mat-mdc-form-field-infix {
    display: grid;
    align-items: center;
  }

  .mat-mdc-form-field {
    .mat-mdc-form-field-icon-suffix {
      margin-right: 10px;

      .icon {
        color: $light-grey;
      }
    }

    .mat-mdc-form-field-icon-prefix,
    .mat-mdc-form-field-icon-suffix {
      display: flex;
      align-items: center;
    }

    .mat-mdc-input-element:not(textarea) {
      @include truncate-with-ellipsis;
    }
  }

  .mat-mdc-form-field-required-marker {
    color: $red !important;

    &:after {
      color: $red !important;
    }
  }

  mat-error {
    @include truncate-with-ellipsis;
  }

  .mat-mdc-tooltip {
    white-space: pre-line;
  }

  .mat-mdc-checkbox {
    &.mat-mdc-checkbox-disabled {
      pointer-events: auto;

      .mdc-form-field {
        pointer-events: none;
      }
    }
  }

  .mat-mdc-menu-item {
    solidify-icon {
      margin-right: 16px;
      flex-shrink: 0;
      @include icon-important(24px);

      > * {
        @include icon-important(24px);
        color: $label-default !important;
      }
    }
  }


  .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 8px;
  }

  // Style of input like old legacy appearance
  .mat-mdc-form-field {
    &.mat-form-field-appearance-fill.mat-form-field-appearance-legacy {
      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent;
      }

      .mat-mdc-text-field-wrapper {
        padding-left: 0;
      }

      .mat-mdc-form-field-focus-overlay {
        opacity: 0 !important;
      }
    }
  }

  // Input with icon
  .mat-mdc-form-field {
    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-icon-prefix,
      .mat-mdc-form-field-icon-suffix {
        > solidify-icon {
          padding: 0;
          margin: 15px;
        }
      }

      .mat-mdc-form-field-icon-prefix,
      .mat-mdc-form-field-icon-suffix {
        button {
          > solidify-icon {
            margin: 12px;
          }
        }
      }
    }
  }

  // Button with label and icon
  a:not(.mat-mdc-icon-button),
  button:not(.mat-mdc-icon-button) {
    &.mat-mdc-button-base,
    &.mat-mdc-button {
      .mdc-button__label {
        display: flex;
        gap: 5px;
        align-items: center;

        solidify-icon {
          mat-icon {
            top: -1px !important;
          }
        }
      }
    }
  }

  .mat-mdc-menu-panel.tour-step {
    min-width: 112px;
    max-width: 280px;
  }
}
