<solidify-base-action-dialog [titleToTranslate]="data.titleToTranslate | translate">

  <div [solidifySpinner]="isLoadingCropper || isLoadingImage || (data.isLoadingObs | async)"
       class="cropper-container"
  >
    <image-cropper (cropperReady)="cropperReady()"
                   (imageCropped)="imageCropped($event)"
                   (imageLoaded)="imageLoaded()"
                   (loadImageFailed)="loadImageFailed()"
                   [maintainAspectRatio]="data.aspectRatio | isNumber"
                   [aspectRatio]="data.aspectRatio"
                   [containWithinAspectRatio]="data.aspectRatio | isNumber"
                   [imageFile]="data.file"
                   [imageQuality]="80"
                   [onlyScaleDown]="true"
                   [resizeToHeight]="data.resizeToHeight"
                   [resizeToWidth]="data.resizeToWidth"
                   [roundCropper]="data.roundCropped"
                   class="cropper"
                   format="png"
    ></image-cropper>
  </div>

</solidify-base-action-dialog>
<div [solidifyFocusFirstElement]="true"
     cdkTrapFocus
     mat-dialog-actions
>
  <button [mat-dialog-close]=""
          mat-button
          color="primary"
  >{{labelTranslateInterface.imageUploadImageDialogCancel | translate}}</button>
  <button (click)="confirm()"
          [disabled]="(imageCropped | isNullOrUndefined)"
          [solidifyButtonSpinner]="isLoadingCropper || isLoadingImage || (data.isLoadingObs | async)"
          color="primary"
          mat-flat-button
  >{{labelTranslateInterface.imageUploadImageDialogConfirm | translate}}</button>
</div>
