@import "../../../../core/scss/abstracts/abstracts";

$icon: $grey;
$font-blue: $text-color;

:host {
  position: relative;

  .mat-mdc-dialog-content {
    min-height: 300px !important;
    max-height: 70vh;
  }

  .close-button {
    color: $icon;
    $size: 20px;
    font-size: $size;
    height: $size;
    width: $size;
    right: -14px;
    position: absolute;
    top: -12px;
    cursor: pointer;
  }

  .cropper-container {
    .cropper {
      max-height: 70vh;
    }
  }

  color: $font-blue;

  h1 {
    font-size: 20px;
    letter-spacing: 0.42px;
    line-height: 30px;
    margin: 0;
  }

  .button {
    padding-bottom: 20px;
    justify-content: flex-end !important;
  }
}

@include isInDarkMode {
  :host {
    color: $dark-mode-text-color;

    .cropper-container {
      .cropper {
        ::ng-deep {
          .ngx-ic-overlay {
            outline: rgb(48 48 48 / 65%) solid 100vw;
          }
        }
      }
    }
  }
}
