@import "../abstract-multi-select/abstract-multi-select.presentational";

:host {
  .chip {
    &.is-default {
      background-color: $primary-color;

      ::ng-deep {
        .mdc-evolution-chip__text-label {
          color: $text-color-in-primary;
        }
      }
    }
  }
}
