<mat-form-field *ngIf="formControl as fd"
                (click)="focusInputIfNotClickTarget($event)"
                [appearance]="appearance"
                [floatLabel]="positionLabel"
                [class.disabled]="fd.disabled"
                [class.mat-focused]="isOverlayOpen"
                [class.with-values]="selectedItems.length > 0"
                [class.mat-form-field-invalid]="
                formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)
                ||
                (isWithDefaultValue && formControlDefault?.invalid)"
                solidifyTooltipOnEllipsis
>
  <solidify-icon *ngIf="prefixIcon | isNotNullNorUndefined"
                 [iconName]="prefixIcon"
                 matPrefix
                 class="size-24"
  ></solidify-icon>
  <mat-label class="label">{{title}}</mat-label>
  <input #hiddenInput
         [class]="classInputHide"
         [formControl]="fd"
         [required]="required"
         matInput
  >
  <mat-chip-grid #chipGrid
                 [disabled]="fd.disabled"
                 [required]="required"
  >
    <mat-chip-row *ngFor="let value of selectedItems; trackBy: trackByFn"
                  (keydown.enter)="remove(value)"
                  (removed)="remove(value)"
                  [class.is-default]="isWithDefaultValue && formControlDefault.value === value.resId"
                  [disableRipple]="true"
                  [disabled]="fd.disabled"
                  [removable]="removable"
                  [editable]="false"
                  class="chip"
    >
      <span solidifyTooltipOnEllipsis
            class="label"
      >
        <ng-template [ngIf]="translateLabel"
                     [ngIfElse]="noTranslate"
        >
          {{labelCallback(value) | translate}}
        </ng-template>
        <ng-template #noTranslate>
          {{labelCallback(value)}}
        </ng-template>
      </span>
      <solidify-icon (click)="copyToClipboard(value[extraInfoLabelKey], $event)"
                     (keydown.enter)="copyToClipboard(value[extraInfoLabelKey], $event)"
                     *ngIf="extraInfoImage && value[extraInfoLabelKey]"
                     [iconName]="extraInfoImage"
                     [matTooltip]="value[extraInfoLabelKey]"
                     class="size-16 extra-icon"
      >
      </solidify-icon>
      <button (click)="navigateTo($event, value)"
              (keydown.enter)="navigateTo($event, value)"
              *ngIf="isWithLink"
              [matTooltip]="tooltipNavigateToTranslate | translate"
              aria-label="Navigate to"
              class="navigate-to"
              mat-icon-button
              matSuffix
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.internalLink"
                       class="size-16"
        ></solidify-icon>
      </button>
      <button *ngIf="!fd.disabled"
              matChipRemove
              class="remove-chip"
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.closeChip"
                       class="size-16"
        ></solidify-icon>
      </button>
    </mat-chip-row>
  </mat-chip-grid>
  <input #inputElementRef
         (focus)="openOverlay(inputElementRef)"
         [disabled]="fd.disabled"
         [matChipInputFor]="chipGrid"
         [placeholder]="placeholder ? placeholder : (labelTranslate.inputMultiSelectPlaceholder | translate)"
         matInput
         readonly
  >

  <!--  <solidify-icon *ngIf="appearance === APPEARANCE_OUTLINE"-->
  <!--                 [iconName]="iconNameEnum.downArrow"-->
  <!--                 matSuffix-->
  <!--                 class="size-24 down-arrow"-->
  <!--  ></solidify-icon>-->

  <mat-error solidifyTooltipOnEllipsis>{{formValidationHelper.getFormMetadataErrorFormattedString(fd)}}</mat-error>
  <mat-hint *ngIf="hintToTranslate | isNotNullNorUndefinedNorWhiteString">{{hintToTranslate | translate}}</mat-hint>
</mat-form-field>
<!--<solidify-form-error-wrapper [formControl]="fd"></solidify-form-error-wrapper>-->
<a [tabIndex]="0"></a>
