<div *ngIf="getCurrentNumberOfFileInProgress() > 0 || listFilesUploading?.length > 0"
     class="file-in-progress"
>
  <ng-container *ngFor="let fileUploading of listFilesUploading; trackBy: trackByFn">
    <solidify-file-upload-tile [uploadStatus]="fileUploading"
                               (cancelChange)="cancel($event)"
                               (retryChange)="retry($event)"
    ></solidify-file-upload-tile>
  </ng-container>
</div>
