<div (click)="toggleDisplayPanel()"
     class="active-criteria-sentence"
>{{labelTranslateInterface.searchRefineSearch | translate}} <span class="number">({{numberActiveCriteria}})</span></div>

<ng-template [ngIf]="numberActiveCriteria > 0">

  <div class="panel panel-active-criteria">
    <div class="active-criteria">
      <ul>
        <li *ngFor="let key of mapFacetsEnabledKey"
            class="section"
        >
          <mat-label class="label">{{key | translateFacetName}}</mat-label>
          <mat-chip-listbox aria-label="Selected facet list"
                            class="chip-list"
          >
            <mat-chip-option *ngFor="let value of getListValue(key)"
                             [disabled]="false"
                             [removable]="true"
                             [selectable]="false"
                             [class.is-excluded]="isExcluded(value)"
                             (removed)="removeCriteria(key, value)"
                             class="chip"
                             [matTooltip]="(isExcluded(value) ? labelTranslateInterface.searchExcludeFacet : labelTranslateInterface.searchIncludeFacet) | translate"
            >
              <span class="name"
                    solidifyTooltipOnEllipsis
              >
                {{value | translateFacetValue:key}}
              </span>
              <button matChipRemove
                      type="button"
              >
                <solidify-icon [iconName]="iconNameEnum.closeChip"
                               class="size-16"
                ></solidify-icon>
              </button>
            </mat-chip-option>
          </mat-chip-listbox>
        </li>
      </ul>
    </div>

    <div class="button-wrapper">
      <button (click)="clearFilters()"
              (onEnter)="clearFilters()"
              color="primary"
              mat-flat-button
              solidifyShortCuts
      >{{labelTranslateInterface.searchClearFilters | translate}}
      </button>
    </div>
  </div>
</ng-template>

<div *ngIf="listFacets | isNonEmptyArray"
     [class.hide]="hide"
     class="panel panel-facet"
>
  <solidify-icon (click)="hidePanel()"
                 [iconName]="iconNameEnum.close"
                 class="hide-panel-cross"
  ></solidify-icon>
  <solidify-panel-expandable *ngFor="let facet of listFacets"
                             [isOpen]="true"
                             [titleToTranslate]="facet.name | translateFacetName"
                             [extraIconButton]="getFacetProperty(facet)?.withDescription ? iconNameEnum.help : undefined"
                             [extraIconTooltipToTranslate]="labelTranslateInterface.searchQuestionMarkTooltip"
                             (clickOnExtraIcon)="openFacetsHelper(facet)"
                             class="section"
  >
    <ul>
      <li *ngFor="let value of facet.values; let i = index"
          [class.hide]="!isFacetValueVisible(facet, i)"
          class="value"
      >
        <mat-checkbox (change)="changeCheckbox($event, facet.name, value.value)"
                      [checked]="isChecked(facet.name, value.value)"
                      [solidifyDataTest]="'solidify-facet-' + facet.name + '-' + value.value"
                      color="primary"
        >
          <span class="checkbox-label"
                solidifyTooltipOnEllipsis
          >{{value.value | translateFacetValue:facet.name}}</span>
        </mat-checkbox>

        <div class="excluded-wrapper">
          <button mat-icon-button
                  (click)="toggleExclude(facet.name, value.value)"
                  [matTooltip]="labelTranslateInterface.searchExcludeFacet | translate"
                  class="excluded"
                  type="button"
          >
            <solidify-icon [iconName]="iconNameEnum.excludedFacet"
                           class="size-20"
            ></solidify-icon>
          </button>
        </div>

        <span class="number">{{value.count}}</span>
      </li>
    </ul>

    <div *ngIf="displayShowAllFacetValue(facet)">
      <a (click)="showAllFacetValues(facet)">
        [+]
      </a>
    </div>
    <div *ngIf="displayShowLessFacetValue(facet)">
      <a (click)="showLessFacetValues(facet)">
        [-]
      </a>
    </div>

  </solidify-panel-expandable>

</div>
