@import "../../../../core/scss/abstracts/abstracts";

$padding-left-right: 20px;

:host {
  .active-criteria-sentence {
    font-weight: bold;
    color: $light-grey;
    margin-bottom: 10px;
    padding: 0 $padding-left-right;

    @include respond-to-smaller-than-breakpoint('md') {
      cursor: pointer;
      padding: 0;
    }

    .number {
      color: $black;
    }
  }

  .panel {
    background-color: $background-grey;
    padding: 10px $padding-left-right;
  }

  .panel-active-criteria {
    margin-bottom: 20px;

    .active-criteria {
      .section {
        padding-bottom: 15px;

        .label {
          margin-bottom: 5px;
        }

        .chip-list {
          margin-top: 10px;
          display: block;

          .chip {
            &.is-excluded {
              text-decoration: line-through;
              color: $error;
            }

            .name {
              max-width: 200px;
              @include truncate-with-ellipsis;
              user-select: text;
              cursor: text;
            }
          }
        }
      }
    }

    .button-wrapper {
      margin-top: 10px;
      text-align: center;
    }
  }

  .panel-facet {
    .hide-panel-cross {
      display: none;
    }

    @include respond-to-smaller-than-breakpoint('md') {
      &.hide {
        display: none;
      }

      position: relative;
      padding-top: 40px;

      .hide-panel-cross {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
        color: $grey;
      }
    }
  }

  .value {
    display: grid;
    grid-template-columns: 1fr max-content min-content;
    justify-content: space-between;
    grid-gap: 10px;
    align-items: center;

    ::ng-deep {
      .mat-mdc-checkbox {
        .mdc-form-field {
          display: grid;
          grid-template-columns: max-content 1fr;

          .mdc-label {
            @include truncate-with-ellipsis;
            width: 100%;

            .checkbox-label {
              display: block;
              @include truncate-with-ellipsis;
            }
          }
        }
      }
    }

    .excluded-wrapper {
      position: relative;
      width: 40px;
      top: -20px;

      .excluded {
        position: absolute;
        display: none;
      }
    }

    .number {
      color: $black;
    }

    &.hide {
      display: none;
    }

    &:hover {
      .excluded-wrapper {
        .excluded {
          display: block;
        }
      }
    }
  }

}

@include isInDarkMode {
  .number {
    color: $white;
  }

  .value {
    .number {
      color: $white;
    }
  }

  .panel {
    background: $dark-mode-toolbar;
  }
}
