<div *ngIf="loading || !displayFallback"
     class="main-image"
     [style.width]="size"
     [style.height]="size"
>
  <img #imageHtml
       (error)="unableToLoad(imageHtml)"
       (load)="determineDisplayFallback(imageHtml)"
       [src]="imageSanitized"
       alt=""
       class="image"
  >
</div>
<div *ngIf="!loading && displayFallback"
     class="fallback-image"
     [style.width]="size"
     [style.height]="size"
     [class.is-icon]="fallbackIconName | isNotNullNorUndefined"
>
  @if (fallbackIconName | isNotNullNorUndefined) {
    <solidify-icon [iconName]="fallbackIconName"
                   [class]="fallbackIconSizeClass"
                   class="icon"
    ></solidify-icon>
  } @else {
    <img [src]="fallbackImage"
         alt=""
         class="image"
    >
  }
</div>
