@import "../../../../core/scss/abstracts/abstracts";

:host {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;

  .main-image {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fallback-image {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;

    &.is-icon {
      opacity: 1;
    }
  }

  .image {
    max-width: 100%;
    max-height: 100%;
  }
}

:host(.hide-fallback-image) {
  .fallback-image {
    visibility: hidden;
  }
}
