<solidify-empty-container (keydown.shift.tab)="closeByShiftTab($event)"
                          (keydown.tab)="closeByTab($event)"
                          (onEnter)="select(host.list[indexSelected])"
                          (onEscape)="close()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <a [tabIndex]="0"
     solidifyAutoFocus
  ></a>
  <div class="button-wrapper">
    <solidify-icon (click)="close()"
                   [iconName]="iconNameEnum.close"
                   class="close"
    ></solidify-icon>
  </div>
  <div [class.no-data]="host?.list?.length === 0"
       class="result"
  >
    <ng-template [ngIfElse]="noData"
                 [ngIf]="host.list | isNonEmptyArray"
    >
      <mat-radio-group [formControl]="host.formControlDefault"
                       aria-label="Select an option"
      >
        <ul>
          <ng-container *ngFor="let value of host.list; let i = index">

            <li (click)="select(value)"
                *ngIf="!host.hideItemSelected || !isActive(value)"
                [class.is-active]="isActive(value)"
                [class.is-keyboard-selected]="indexSelected === i"
                [value]="value[host.valueKey]"
            >
              <div class="option-wrapper">
                <div>
                  <span class="label">{{value[host.labelKey]}}</span>
                  <span *ngIf="value[host.extraInfoLabelKey] | isNonEmptyString"
                        class="extra-info"
                  ><img *ngIf="host.extraInfoImage"
                        [alt]="host.extraInfoImage"
                        [src]="'assets/images/'+ host.extraInfoImage"
                  >
                    {{value[host.extraInfoLabelKey]}}</span>
                </div>

                <mat-radio-button (click)="stopPropagation($event)"
                                  *ngIf="host.formControl.value.includes(value[host.valueKey])"
                                  [value]="value[host.valueKey]"
                >{{labelTranslate.inputMultiSelectDefaultValue | translate}}
                </mat-radio-button>
              </div>
            </li>
          </ng-container>
        </ul>
      </mat-radio-group>
    </ng-template>
    <ng-template #noData>
      {{noDataToSelect | translate}}
    </ng-template>
  </div>
</solidify-empty-container>
