@import "../multi-select-content/multi-select-content.presentational";

:host {
  .option-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
