@import "../../../../core/scss/abstracts/abstracts";

$size: 145px;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper-avatar {
    position: relative;
    display: block;
    //width: $size;
    //height: $size;
    cursor: pointer;


    .photo-wrapper {
      //width: $size;
      //height: $size;

      > img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .edit-icon {
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        //@include icon-extra-huge;
        color: $white;
      }
    }

    &:hover {
      .edit-icon {
        visibility: initial;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  .delete-link {
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
  }

  .hide {
    display: none;
  }
}
