<ng-template [ngIf]="isButton"
             [ngIfElse]="displayAsImage"
>
  <button *ngIf="hide | isFalse"
          [matTooltipPosition]="'right'"
          [matTooltip]="(isVerifiedOrcid ? labelTranslateInterface.coreOrcidAuthenticated : labelTranslateInterface.coreOrcidNotAuthenticated) | translate"
          [matTooltipDisabled]="isVerifiedOrcid | isNullOrUndefined"
          class="button"
          mat-icon-button
          matSuffix
          solidifyShortCuts
          type="button"
          (click)="navigateToOrcid()"
  >
    <solidify-icon [iconName]="iconNameEnum.orcid"
                   class="size-16 image"
                   [class.is-clickable]="isImageClickable"
                   [class.is-transparent]="isVerifiedOrcid | isFalse"
    >
    </solidify-icon>
  </button>

</ng-template>
<ng-template #displayAsImage>
  <solidify-icon *ngIf="hide | isFalse"
                 [iconName]="iconNameEnum.orcid"
                 class="size-16 image"
                 [class.is-clickable]="isImageClickable"
                 [class.is-transparent]="isVerifiedOrcid | isFalse"
                 [matTooltip]="(isVerifiedOrcid ? labelTranslateInterface.coreOrcidAuthenticated : labelTranslateInterface.coreOrcidNotAuthenticated) | translate"
                 [matTooltipPosition]="'right'"
                 [matTooltipDisabled]="isVerifiedOrcid | isNullOrUndefined"
                 (click)="navigateToOrcid($event, true)"
  >
  </solidify-icon>
</ng-template>
