@import "../../../scss/abstracts/abstracts";

:host {
  display: grid;
  justify-content: center;
  align-items: center;

  .button {
    display: grid;
    justify-content: center;
    align-items: center;

    .image {
      display: grid;
      justify-content: center;
      align-items: center;
      vertical-align: text-top;
    }
  }

  .image {
    &.is-transparent {
      opacity: 0.5;
    }

    &.is-clickable {
      cursor: pointer;
    }
  }
}

:host(.hide) {
  display: none;
}
