<div class="ngx-tour_panel">
  <mat-card appearance="outlined"
            (click)="$event.stopPropagation()"
  >
    <mat-card-title>
      {{step?.title | translate}}
    </mat-card-title>
    <mat-card-content>
      {{step?.content | translate}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button
              type="button"
              [disabled]="!tourService.hasPrev(step)"
              (click)="tourService.prev()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button
              type="button"
              [disabled]="!tourService.hasNext(step)"
              (click)="tourService.next()"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-button
              (click)="tourService.end()"
      >{{step?.endBtnTitle | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>
