<solidify-empty-container solidifyShortCuts
                          [solidifyFocusFirstElement]="true"
                          (onEscape)="isEdit ? backToDetail() : backToList()"
>
  <solidify-button-toolbar-detail [mode]="isEdit ? 'edit' : 'detail'"
                                  [formPresentational]="formPresentational"
                                  [currentModel]="currentObs | async"
                                  [backToListNavigate]="backToListNavigate()"
                                  (backToDetailChange)="backToDetail()"
                                  (editChange)="edit()"
                                  (deleteChange)="delete()"
  >
  </solidify-button-toolbar-detail>

  <div class="wrapper"
       [solidifySpinner]="isLoadingWithDependencyObs | async"
  >
    <solidify-admin-global-banner-form #formPresentational
                                       *ngIf="isReadyToBeDisplayedObs | async"
                                       [model]="currentObs | async"
                                       [readonly]="!isEdit"
                                       [editAvailable]="editAvailable"
                                       (submitChange)="update($event)"
                                       (checkAvailableChange)="checkAvailable($event)"
                                       (dirtyChange)="updateCanDeactivate($event)"
                                       (editChange)="edit()"
    ></solidify-admin-global-banner-form>
  </div>
</solidify-empty-container>
