@import "../abstract-multi-select/abstract-multi-select.presentational";

:host {
  .is-default {
    color: $warning-dark;
    padding-right: 5px;
  }

  .label {
    &.disable-pointer-event {
      pointer-events: none;
    }
  }



  ::ng-deep {
    .mat-mdc-form-field-infix {
      flex-wrap: wrap;
    }
  }

  .placeholder {
    opacity: 0;
    border: none;
    @include truncate-with-ellipsis;
    width: 225px;
    max-width: 100%;
    background: transparent;

    &.display {
      opacity: 1;
    }
  }
}
