<mat-form-field (click)="focusInputIfNotClickTarget($event)"
                [appearance]="appearance"
                [floatLabel]="positionLabel"
                [class.disabled]="formControl.disabled"
                [class.mat-focused]="isOverlayOpen"
                [class.with-values]="selectedItems.length > 0"
                [class]="classMatFormField"
                [solidifySpinnerDiameter]="24"
                [solidifySpinnerStrokeWidth]="2"
                [solidifySpinner]="!labelInitialized && (isLoadingObs | async)"
                [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(formControl, displayEmptyRequiredFieldInError)"
                solidifyTooltipOnEllipsis
>
  <solidify-icon *ngIf="prefixIcon | isNotNullNorUndefined"
                 [iconName]="prefixIcon"
                 matPrefix
                 class="size-24"
  ></solidify-icon>
  <mat-label>{{title}}</mat-label>
  <input #hiddenInput
         [autocomplete]="'off'"
         [class]="classInputHide"
         [formControl]="formControl"
         [matChipInputFor]="chipGrid"
         [required]="required"
         matInput
  >
  <mat-chip-grid #chipGrid
                 [disabled]="formControl.disabled"
                 [required]="required"
  >
    <mat-chip-row *ngFor="let value of selectedItems; trackBy: trackByFn"
                  [disableRipple]="true"
                  [disabled]="formControl.disabled"
                  [removable]="removable"
                  [editable]="false"
                  [solidifyOverlayData]="value"
                  [solidifyOverlayComponent]="overlayComponent"
                  [solidifyOverlayExtra]="overlayExtra"
                  solidifyOverlay
                  (removed)="remove(value)"
    >
      <span class="label"
            solidifyTooltipOnEllipsis
            [class.disable-pointer-event]="(overlayComponent | isNotNullNorUndefined)"
      >
        <ng-template [ngIf]="translateLabel"
                     [ngIfElse]="noTranslate"
        >
          <span [innerHTML]="labelCallback(value) | translate"></span>
        </ng-template>
        <ng-template #noTranslate>
          <span [innerHTML]="labelCallback(value)"></span>
        </ng-template>
      </span>
      <ng-template [ngIf]="defaultValueToHighlight | isNonEmptyArray">
            <span *ngIf="isADefaultValue(value[valueKey])"
                  class="is-default"
            >({{defaultValueLabel | translate}})</span>
      </ng-template>
      <solidify-icon *ngIf="extraInfoImage && value[extraInfoLabelKey]"
                     [iconName]="extraInfoImage"
                     [matTooltip]="(extraInfoPlaceholderCallback | isFunction) ? (extraInfoPlaceholderCallback(value) | translate) : value[extraInfoLabelKey]"
                     (click)="clickExtraInfo(value, $event)"
                     (keydown.enter)="clickExtraInfo(value, $event)"
                     class="size-16 extra-icon"
      >
      </solidify-icon>
      <button (click)="navigateTo($event, value)"
              *ngIf="isWithLink"
              [matTooltip]="tooltipNavigateToTranslate | translate"
              aria-label="Navigate to"
              mat-icon-button
              matSuffix
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.internalLink"
                       class="size-16"
                       matSuffix
        ></solidify-icon>
      </button>
      <button *ngIf="!formControl.disabled"
              matChipRemove
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.closeChip"
                       class="size-16"
        ></solidify-icon>
      </button>
    </mat-chip-row>
  </mat-chip-grid>
  <input #inputElementRef
         *ngIf="formControl && !formControl.disabled"
         readonly
         class="placeholder"
         [class.display]="(formControl.value | isNonEmptyArray)"
         [placeholder]="placeholder ? placeholder : (labelTranslate.inputMultiSelectPlaceholder | translate)"
         (focus)="openOverlay(inputElementRef)"
  >
  <mat-error solidifyTooltipOnEllipsis>{{formValidationHelper.getFormMetadataErrorFormattedString(formControl)}}</mat-error>
  <mat-hint *ngIf="hintToTranslate | isNotNullNorUndefinedNorWhiteString">{{hintToTranslate | translate}}</mat-hint>

  <!--  <solidify-icon *ngIf="appearance === APPEARANCE_OUTLINE"-->
  <!--                 [iconName]="iconNameEnum.downArrow"-->
  <!--                 matSuffix-->
  <!--                 class="size-24 down-arrow"-->
  <!--  ></solidify-icon>-->

</mat-form-field>
<a [tabIndex]="0"></a>
