@import "../../../../core/scss/abstracts/abstracts";

:host {
  .token {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: space-between;
  }

  .detail {
    .list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 5px;

      > dl {
        display: grid;
        grid-template-columns: 200px 5fr;
        align-items: center;
        grid-gap: 10px;

        .label {
          color: $light-grey;
          position: relative;

          &::after {
            content: ":";
            position: absolute;
            right: 0;
          }
        }

        .token-type-value {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}
