<solidify-base-info-dialog [titleToTranslate]="labelTranslateInterface.applicationTokenDialogTitle | translate">
  <div class="token">
    <h3>{{labelTranslateInterface.applicationAccessToken | translate}}</h3>
    <button (click)="copy()"
            (onEnter)="copy()"
            [matTooltipPosition]="'above'"
            [matTooltip]="labelTranslateInterface.applicationTokenDialogCopyToClipboard | translate"
            class="token-icon"
            type="button"
            mat-icon-button
            solidifyShortCuts
    >
      <solidify-icon [iconName]="iconNameEnum.copyToClipboard"></solidify-icon>
    </button>
  </div>

  <div class="detail">
    <h3>{{labelTranslateInterface.applicationDetail | translate}}</h3>
    <ul class="list">
      <dl>
        <dt class="label">{{labelTranslateInterface.applicationUser | translate}}</dt>
        <dd>{{tokenDecoded.user_name}}</dd>
      </dl>
      <dl>
        <dt class="label">{{labelTranslateInterface.applicationExpiration | translate}}</dt>
        <dd>{{expiration}}</dd>
      </dl>
      <dl *ngFor="let info of data.extraInformation">
        <dt class="label">{{info.key | translate}}</dt>
        <dd>{{info.value(tokenDecoded)}}</dd>
      </dl>
      <dl>
        <dt class="label">{{labelTranslateInterface.applicationTokenType | translate}}</dt>
        <dd class="token-type-value">
          {{(isMfa ? labelTranslateInterface.applicationTokenTypeMfa : labelTranslateInterface.applicationTokenTypeStandard) | translate}}
          <button *ngIf="allowUpgradeToMfaToken"
                  (click)="logInMfa()"
                  (onEnter)="logInMfa()"
                  [matTooltipPosition]="'above'"
                  [matTooltip]="labelTranslateInterface.applicationTokenDialogLogInMfa | translate"
                  class="token-icon"
                  type="button"
                  mat-icon-button
                  solidifyShortCuts
          >
            <solidify-icon [iconName]="iconNameEnum.logInMfa"></solidify-icon>
          </button>
        </dd>
      </dl>
    </ul>
  </div>
</solidify-base-info-dialog>
