<solidify-base-action-dialog
    [titleToTranslate]="labelTranslateInterface.corePrivacyPolicyTermsOfUseApprovalDialogTitle | translate"
    [solidifyFocusFirstElement]="true"
>
  <span>{{labelTranslateInterface.corePrivacyPolicyTermsOfUseApprovalDialogMessage | translate}}</span>
  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        class="form"
  >
    <ng-template [ngIf]="privacyPolicyLink | isNotNullNorUndefinedNorWhiteString">
      <mat-checkbox *ngIf="getFormControl(formDefinition.acceptPrivacyPolicy) as fd"
                    [formControl]="fd"
                    class="privacy-policy"
                    color="primary"
      >
        <a [href]="privacyPolicyLink"
           target="_blank"
        >{{labelTranslateInterface.corePrivacyPolicyTermsOfUseApprovalDialogIAcceptPrivacyPolicy | translate}}</a>
      </mat-checkbox>
    </ng-template>

    <ng-template [ngIf]="termsOfUseLink | isNotNullNorUndefinedNorWhiteString">
      <mat-checkbox *ngIf="getFormControl(formDefinition.acceptTermsOfUse) as fd"
                    [formControl]="fd"
                    class="terms-of-use"
                    color="primary"
      >
        <a [href]="termsOfUseLink"
           target="_blank"
        >{{labelTranslateInterface.corePrivacyPolicyTermsOfUseApprovalDialogIAcceptTermsOfUse | translate}}</a>
      </mat-checkbox>
    </ng-template>
  </form>
</solidify-base-action-dialog>
<div class="footer"
     mat-dialog-actions
>
  <button [mat-dialog-close]=""
          mat-button
          color="primary"
  >{{labelTranslateInterface.corePrivacyPolicyTermsOfUseApprovalDialogClose | translate}}
  </button>
  <button (click)="onSubmit()"
          (onEnter)="onSubmit()"
          [disabled]="form.invalid"
          [solidifyButtonSpinner]="isLoading"
          color="primary"
          mat-flat-button
          solidifyShortCuts
  >{{labelTranslateInterface.corePrivacyPolicyTermsOfUseApprovalDialogConfirm | translate}}
  </button>
</div>

