<button type="button"
        style="height: 1px; width: 1px; opacity: 0"
></button>
<solidify-paginator (pageChange)="pageChange($event)"
                    [pagingModel]="paging"
                    [pageSizeOptions]="PAGE_SIZE_OPTION"
                    [hidePageSize]="readonly"
                    [class]="classBypassEdit + ' paginator'"
>
</solidify-paginator>

<ng-template [ngTemplateOutletContext]="{formArray: paginatedFormArrayExistingControl, isAddMode: false}"
             [ngTemplateOutlet]="tables"
>
</ng-template>

<p *ngIf="formArrayExisting?.controls?.length === 0"
   class="no-item"
>{{messageNoItem | translate}}</p>

<ng-template [ngIf]="formArrayToAdd.length > 0">
  <div class="add-line-separator">{{elementsToAddLabelToTranslate | translate}}</div>

  <ng-template [ngTemplateOutletContext]="{formArray: formArrayToAdd.controls, isAddMode: true}"
               [ngTemplateOutlet]="tables"
  >
  </ng-template>
</ng-template>

<button *ngIf="preventEdition | isFalse"
        (click)="addResource()"
        (onEnter)="addResource()"
        color="primary"
        mat-button
        solidifyShortCuts
        class="add-button"
        type="button"
>
  <solidify-icon [iconName]="iconNameEnum.add"></solidify-icon>
  {{labelTranslateInterface.applicationTablePersonResourceRoleAdd | translate}}
</button>


<ng-template #tables
             let-formArray="formArray"
             let-isAddMode="isAddMode"
>
  <table [class.add-table]="isAddMode">
    <thead>
    <tr>
      <th class="object">{{resourceLabelToTranslate | translate}}</th>
      <th *ngFor="let role of listRole"
          class="role"
      >{{role.name}}
      </th>
      <th *ngIf="preventEdition | isFalse"
          class="action"
      ></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let abstractF of formArray; let i = index">
      <ng-container *ngIf="asFormGroup(abstractF) as f">
        <td class="resource">
          <solidify-searchable-single-select *ngIf="getFormControl(f, formDefinition.id) as fd"
                                             [appearance]="'legacy'"
                                             [extraGetAllParameters]="[true]"
                                             [formControl]="fd"
                                             [isWithLink]="isWithLinkToAdmin"
                                             [labelKey]="resourceLabelKey"
                                             [placeholder]="resourceLabelToTranslate | translate"
                                             [readonly]="preventEdition || readonly || f.disabled"
                                             [required]="formValidationHelper.hasRequiredField(fd)"
                                             [resourceNameSpace]="resourceActionNameSpace"
                                             [sort]="resourceSort"
                                             [state]="resourceState"
                                             [tooltipNavigateToTranslate]="resourceTooltipNavigateToTranslate | translate"
                                             [valueKey]="'resId'"
                                             [isDisabled]="preventEdition"
                                             (navigate)="goToResource(fd.value)"
                                             solidifyValidation
          >
          </solidify-searchable-single-select>
        </td>
        <td *ngFor="let role of listRole"
            class="role"
        >
          <ng-template [ngIfElse]="editable"
                       [ngIf]="preventEdition || readonly"
          >
            <solidify-icon *ngIf="getFormControl(f, formDefinition.listId).value === role.resId"
                           [iconName]="iconNameEnum.trueValue"
            ></solidify-icon>
          </ng-template>
          <ng-template #editable>
            <mat-radio-group *ngIf="checkboxDisplayMode === 'radio'"
                             [disabled]="readonly || f.disabled"
                             aria-label="Select an option"
            >
              <mat-radio-button (click)="changeRole(f, role, $event)"
                                [checked]="getFormControl(f, formDefinition.listId).value === role.resId"
                                [value]="role.resId"
                                color="primary"
              ></mat-radio-button>
            </mat-radio-group>

            <mat-checkbox (click)="changeRole(f, role, $event)"
                          *ngIf="checkboxDisplayMode === 'checkbox'"
                          [checked]="getFormControl(f, formDefinition.listId).value === role.resId"
                          [disabled]="readonly || f.disabled"
                          [value]="role.resId"
                          class="checkbox"
                          color="primary"
            ></mat-checkbox>
          </ng-template>
        </td>
        <td *ngIf="preventEdition | isFalse">
          <button (click)="delete(isAddMode, i)"
                  (onEnter)="delete(isAddMode, i)"
                  [disabled]="f.disabled"
                  [matTooltipPosition]="'left'"
                  [matTooltip]="labelTranslateInterface.applicationTablePersonResourceRoleDelete | translate"
                  class="trash"
                  mat-icon-button
                  solidifyShortCuts
                  type="button"
          >
            <solidify-icon [iconName]="iconNameEnum.delete"></solidify-icon>
          </button>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</ng-template>
