@import "../../../../core/scss/abstracts/abstracts";

:host(.disabled) {
  .no-item {
    color: $value-disable;
  }
}

:host {
  padding-top: 10px;

  .paginator ::ng-deep {
    .mat-paginator-container {
      min-height: 40px;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;

    thead {
      background-color: $primary-color;
      color: $white;

      tr > th {
        padding: 4px 0;

        &.resource {
        }

        &.role {
          width: 75px;
        }

        &.action {
          width: 40px;
        }
      }
    }

    &.add-table {
      thead {
        visibility: collapse;
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $background-grey;
        }

        > td {
          &.resource {
            padding: 5px;
            @include remove-padding-mat-form-field;
          }

          &.role {
            text-align: center;

            .checkbox {
              &:after {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }

  .no-item {
    padding: 20px 10px;
    text-align: center;
    color: $light-grey;
    font-size: 16px;
    margin: 0;
  }

  .add-line-separator {
    background-color: $intermediate-grey;
    padding: 2px 6px;
  }

  .add-button {
    margin-top: 20px;
  }
}


:host(.inherited-mode) {
  table {
    opacity: 0.8;

    thead {
      background-color: $light-grey;
    }
  }

  tbody {
    tr {
      > td {
        &.inherited-resource,
        &.resource {
          ::ng-deep {
            .mat-mdc-text-field-wrapper,
            input {
              cursor: default !important;
            }
          }
        }
      }
    }
  }
}

@include isInDarkMode {
  :host(.disabled) {
    .no-item {
      color: $dark-mode-text-disabled;
    }
  }

  :host {
    table {
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: $dark-mode-toolbar;
          }
        }
      }
    }

    .no-item {
      background-color: $dark-mode-toolbar;
      color: $dark-mode-text-color;
    }

    .add-line-separator {
      background-color: $dark-mode-line
    }
  }
}
