@use "sass:math";
@import "../../../scss/abstracts/abstracts";

$height-overlay: 256px;
$height-input: 30px;
$width-overlay: 408px;
$min-height-result: math.div($height-overlay, 2) + $height-input;

:host {
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px $outline;
  transform-origin: 50% 20.5px 0;
  font-size: 14px;
  opacity: 1;
  //min-width: calc(100% + 32px);
  min-width: 266px;
  transform: scaleY(1);
  width: 100%;

  height: $height-overlay;
  //width: $width-overlay;
  overflow: auto;
  border-radius: 4px;

  @include respond-to-breakpoint('xs') {
    min-width: 100%;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .close {
    display: none;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 25px;
    cursor: pointer;

    @include respond-to-breakpoint('xs') {
      display: inline-block;
    }
  }

  .form {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $white;

    .input {
      padding: 0 10px;
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;

      .form-field {
        width: 100%;
        @include remove-padding-mat-form-field;
      }

      .numbers {
        padding-left: 5px;
        margin-top: 16px;
      }
    }
  }

  .last-selection {
    background-color: $extra-light-grey;
    margin-bottom: 10px;

    .title {
      padding: 8px 16px;
      font-weight: bold;
      font-size: 11px;
      display: block;
    }
  }

  .result {
    min-height: $min-height-result;

    @include respond-to-breakpoint('xs') {
      min-height: unset;
      height: 100vh;
    }
  }

  .last-selection,
  .result {
    ul {
      li {
        padding: 0 16px;
        height: 3em;
        cursor: pointer;
        display: grid;
        align-items: center;

        &:not(.is-two-line) {
          .first-line {
            .label {
              line-height: 40px;
            }
          }
        }

        .first-line {
          display: grid;
          grid-template-columns: minmax(0, 1fr) min-content;
          align-items: center;
          justify-content: space-between;

          .label {
            @include truncate-with-ellipsis;
          }

          .extra-info {
            color: $light-grey;
            display: flex;
            align-items: center;
            white-space: pre;

            img {
              padding-right: 5px;
              height: 15px;
            }
          }
        }

        .second-line {
          color: $light-grey;
          @include truncate-with-ellipsis
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }

        &.is-active {
          background-color: $outline;
          color: $primary-color;
        }

        &.is-keyboard-selected {
          background-color: rgba(0, 0, 0, 0.04);
          color: $primary-color;
        }

      }
    }

    .spinner-loader-chunk {
      height: 40px;
    }
  }
}


:host(.is-loading) {
  overflow: hidden;
}

@include isInDarkMode {
  background-color: $dark-mode-toolbar;

  .form {
    background-color: $dark-mode-toolbar;
  }

  .last-selection {
    background-color: $dark-mode-menu-active;
  }
}
