@import "../../../../core/scss/abstracts/abstracts";

$avatar-size: 45px;

:host {
  background-size: cover;
  background-color: $primary-color;
  color: $white;
  height: $avatar-size;
  width: $avatar-size;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: bold;

  .photo {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
}

:host(.is-photo) {
  background-color: transparent;
}

:host(.UPLOAD) {
  .avatar {
    font-size: 40px;
  }
}

:host(.MAIN) {
  .avatar {
    font-size: 70px;
  }
}

:host(.IN_OVERLAY) {
  .avatar {
    font-size: 30px;
  }
}

:host(.IN_LIST) {
  .avatar {
    font-size: 17px;
  }
}
