<solidify-empty-form-control-wrapper [formControl]="formControl"
                                     [solidifyValidation]="errors"
>
  <mat-error #errors
             solidifyTooltipOnEllipsis
             class="errors"
  ></mat-error>
</solidify-empty-form-control-wrapper>
