@import "../../../scss/abstracts/abstracts";

:host {
  display: block;

  .errors {
    color: $red;
    font-size: 13px;
  }
}

:host(.is-under-input) {
  margin-left: 12px;
}

:host(.hide) {
  display: none;
}
