@import "../searchable-abstract-content/searchable-abstract-content.presentational";

:host {
  height: 400px;

  .mat-tree-node {
    min-height: 40px;
  }

  .last-selection {
    .checklist {
      pointer-events: none;
    }
  }
}

@include isInDarkMode {
  :host {
    .mat-tree {
      background: $dark-mode-toolbar;
    }
  }
}
