<solidify-empty-container [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
                          (onEscape)="backToList()"
></solidify-empty-container>
<solidify-button-toolbar-detail [mode]="'create'"
                                [formPresentational]="formPresentational"
                                [backToListNavigate]="backToListNavigate()"
>
</solidify-button-toolbar-detail>

<div class="wrapper"
     [solidifySpinner]="isLoadingWithDependencyObs | async"
>
  <solidify-admin-global-banner-form #formPresentational
                                     *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                                     [solidifyFocusFirstElement]="true"
                                     (submitChange)="create($event)"
                                     (checkAvailableChange)="checkAvailable($event)"
                                     (dirtyChange)="updateCanDeactivate($event)"
  ></solidify-admin-global-banner-form>
</div>
