<a [href]="item.link"
   target="_blank"
>
  <div class="item-rss">
    <h2 [title]="item.title"
        class="title"
    >{{item.title}}</h2>
    <span>{{item.pubDate | date}}</span>
    <img *ngIf="getImage(item) as imageUrl"
         [alt]="'Rss image on ' + item.title"
         [src]="imageUrl"
    >
  </div>
</a>
