@import "../../../../core/scss/abstracts/abstracts";

.item-rss {
  color: $text-color;
  display: grid;
  grid-gap: 10px;
  height: 100%;
  padding: 10px;
  grid-template-rows: 60px min-content 1fr;
  @include respond-to-smaller-than-breakpoint('sm') {
    grid-template-rows: min-content min-content 1fr;
  }

  &:hover {
    background-color: rgba(160, 200, 220, .12);
  }

  .title {
    margin-bottom: 0;
    max-height: 60px;
    @include truncate-with-ellipsis;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  img {
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;

    @include respond-to-smaller-than-breakpoint('md') {
      height: 300px;
    }
  }
}
