@import "../../../scss/abstracts/abstracts";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  .selected-theme-img {
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
  }
}
