@import "../../../../core/scss/abstracts/abstracts";

:host {
  display: grid;
  justify-content: center;
  padding: 20px;
  grid-gap: 20px;

  .title {
    text-align: center;
    margin-top: 20px;
  }

  .logo {
    max-width: 200px;
    max-height: 200px;
    justify-self: center;
  }

  .link {
    text-align: center;
  }
}
