<h1 class="title">{{
        labelTranslateInterface.applicationAboutInjectedName | translate:{name: currentThemeName}
  }}</h1>
<img [src]="logo"
     [alt]="currentThemeName"
     class="logo"
>
<solidify-table-module-version [mapBackendModulesVersion]="backendVersionObs | async"
                               [frontendVersion]="frontendVersionObs | async"
                               (navigate)="navigate($event)"
></solidify-table-module-version>

<div class="link">
  <a [routerLink]="'/' + appRoutesPartialEnum.releaseNotes">{{labelTranslateInterface.applicationNavigateToReleaseNotes | translate}}</a>
</div>
<div class="link">
  <a [routerLink]="'/' + appRoutesPartialEnum.changelog">{{labelTranslateInterface.applicationNavigateToChangelog | translate}}</a>
</div>
