@import "../abstract-image-upload-wrapper/abstract-image-upload-wrapper.container";

$size-width: 300px;
$size-height: 300px;

:host {
  .wrapper-avatar {
    border: 1px solid $extra-light-grey;
    width: $size-width;
    height: $size-height;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .fallback-image {
      opacity: 0.2;
    }

    &.is-readonly {
      cursor: initial;

      .edit-icon {
        display: none !important;
      }
    }

    .photo-wrapper {
      width: $size-width;
      height: $size-height;

      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@include isInDarkMode {
  .wrapper-avatar {
    border-color: $dark-mode-line;
  }
}
