<div (click)="openModal()"
     [class.is-readonly]="!isEditable"
     [solidifySpinner]="isLoadingObs | async"
     class="wrapper-avatar"
     solidifyFileDropZone
     (fileDropped)="fileChangeEvent($event)"
     [solidifyFileDropZoneDisabled]="!isEditable"
>
  <div *ngIf="imagePendingUploadUrl; else noPhoto"
       class="photo-wrapper"
  >
    <img *ngIf="sanitizeUrl(imagePendingUploadUrl) as image"
         [src]="image"
         alt=""
    >
  </div>
  <ng-template #noPhoto>
    <solidify-icon *ngIf="defaultIcon; else defaultImg"
                   [iconName]="defaultIcon"
                   class="size-120"
    ></solidify-icon>
    <ng-template #defaultImg>
      <img [src]="preFallbackImage ? sanitizeUrl(preFallbackImage) : defaultImage"
           alt="fallback-image"
           class="fallback-image"
      >
    </ng-template>
  </ng-template>
  <div *ngIf="isEditable"
       class="edit-icon"
  >
    <solidify-icon [iconName]="iconNameEnum.uploadImage"
                   class="icon size-30"
    ></solidify-icon>
  </div>
</div>

<div *ngIf="isEditable && imagePendingUploadUrl"
     class="delete-link"
>
  <a (click)="delete()">{{labelTranslateInterface.imageUploadAvatarDelete | translate}}</a>
</div>

<input #fileInput
       (change)="fileChangeEventByInput($any($event))"
       [accept]="filesAccepted"
       class="hide"
       type="file"
>
