@import "../../../core/scss/abstracts/abstracts";

:host {
  > * {
    width: 100%;
  }

  //::ng-deep {
  //  .mat-mdc-chip {
  //    &.mat-mdc-chip-disabled {
  //      opacity: 0.8 !important;
  //      pointer-events: auto;
  //    }
  //
  //    .mat-mdc-chip-action-label {
  //      .extra-icon {
  //        cursor: pointer;
  //      }
  //    }
  //  }
  //}

  .chip-text {
    @include truncate-with-ellipsis;
    display: block;
    user-select: text;
    cursor: text;
  }
}
