<mat-form-field *ngIf="formControl as fd"
                [appearance]="appearance"
                [floatLabel]="positionLabel"
                [class.mat-form-field-disabled]="fd.disabled"
                [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                solidifyTooltipOnEllipsis
>
  <solidify-icon *ngIf="prefixIcon | isNotNullNorUndefined"
                 [iconName]="prefixIcon"
                 matPrefix
                 class="size-24"
  ></solidify-icon>
  <mat-label>{{placeholderToTranslate | translate}}</mat-label>
  <mat-chip-grid #chipGrid
                 [formControl]="fd"
                 aria-label="Keywords list"
  >
    <mat-chip-row *ngFor="let value of getValue()"
                  [disabled]="fd.disabled"
                  [removable]="!fd.disabled"
                  [editable]="chipEditable"
                  (edited)="edit(value, $event)"
                  (removed)="remove(value)"
    >
        <span class="chip-text"
              [style.max-width]="chipWidth"
              solidifyTooltipOnEllipsis
        >
          {{value}}
        </span>
      <solidify-icon *ngIf="extraInfoImage"
                     [iconName]="extraInfoImage"
                     [matTooltip]="extraInfoImageLabelCallback(value) | translate"
                     (click)="clickExtraInfoImage(value, $event)"
                     (keydown.enter)="clickExtraInfoImage(value, $event)"
                     class="size-16 extra-icon"
      >
      </solidify-icon>
      <button *ngIf="!fd.disabled"
              matChipRemove
      >
        <solidify-icon [iconName]="iconNameEnum.closeChip"
                       class="size-16"
        ></solidify-icon>
      </button>
    </mat-chip-row>
    <input #input
           [solidifyValidation]="errors"
           [solidifyValidationAbstractControl]="formControl"
           [disabled]="fd.disabled"
           [readonly]="readonly"
           (keydown)="keydown($event)"
           (paste)="paste($event)"
           [matChipInputAddOnBlur]="true"
           [matChipInputFor]="chipGrid"
           (matChipInputTokenEnd)="add($event)"
    >
  </mat-chip-grid>
  <mat-error #errors
             solidifyTooltipOnEllipsis
  ></mat-error>
  <mat-hint *ngIf="hintToTranslate | isNotNullNorUndefinedNorWhiteString">{{hintToTranslate | translate}}</mat-hint>
</mat-form-field>
