@import "../abstract-full-page-mode/abstract-full-page-mode.routable";

:host {
  z-index: $z-index-panel-maintenance;

  .container {
    .cog-container {
      width: 115px;
      height: 100px;
      position: relative;

      .cog-1 {
        position: absolute;
        top: 0;
        left: 0;
        animation-name: rotate;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      .cog-2 {
        position: absolute;
        top: 30px;
        left: 66px;
        animation-name: rotate;
        animation-direction: reverse;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      @keyframes rotate-negative {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(-360deg);
        }
      }
    }
  }
}
