<div (click)="login()"
     *ngIf="(isLoggedIsObs | async) === false"
     class="admin-login"
></div>

<div class="header">
  <img [src]="logo"
       alt="maintenance logo"
       class="logo"
  >
</div>

<div class="container">
  <div class="cog-container">
    <solidify-icon [iconName]="iconNameEnum.maintenance"
                   class="cog-1 icon size-80"
    ></solidify-icon>
    <solidify-icon [iconName]="iconNameEnum.maintenance"
                   class="cog-2 icon size-50"
    ></solidify-icon>
  </div>
  <span class="message">{{labelTranslateInterface.coreMaintenanceInProgress | translate}}</span>
  <button (click)="refresh()"
          (onEnter)="refresh()"
          color="primary"
          mat-flat-button
          solidifyShortCuts
  >
    <solidify-icon [iconName]="iconNameEnum.refresh"></solidify-icon>
    {{labelTranslateInterface.coreRefresh | translate}}
  </button>
</div>
