<mat-form-field [appearance]="appearance"
                [floatLabel]="positionLabel"
                [class]="cssClass"
                [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(formControl, displayEmptyRequiredFieldInError)"
                solidifyTooltipOnEllipsis
>
  <solidify-icon *ngIf="prefixIcon | isNotNullNorUndefined"
                 [iconName]="prefixIcon"
                 matPrefix
                 class="size-24"
  ></solidify-icon>
  <mat-label>{{placeholderToTranslate | translate}}</mat-label>
  <input [formControl]="formControl"
         [solidifyValidation]="errors"
         matInput
  >
  <mat-error #errors
             solidifyTooltipOnEllipsis
  ></mat-error>
  <button *ngIf="(formControl.disabled || formControl.valid) && formControl.value !== '' && !(formControl.value | isNullOrUndefined)"
          [matTooltip]="externalLinkTooltipToTranslate | translate"
          (click)="navigateToUrl($event, formControl)"
          (onEnter)="navigateToUrl($event, formControl)"
          aria-label="Navigate to url"
          class="navigate-to-url"
          mat-icon-button
          matSuffix
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.externalLink"
                   class="size-16"
                   matSuffix
    ></solidify-icon>
  </button>
</mat-form-field>
