<solidify-base-action-dialog [titleToTranslate]="labelTranslate.coreSeparatorCharacterDetected">
  <div class="body">
    <span>{{labelTranslate.coreTheFollowingPastedValue | translate}}</span>
    <div class="value-paste"
         [innerHTML]="stringPasteTransformed"
    ></div>
    <span>{{labelTranslate.coreIncludesSeparatorCharacters | translate}}</span>
    <br>
    <span>{{labelTranslate.coreWouldYouLikeToSeparateTheEnteredValueUsingTheFollowingSeparator | translate}}</span>
  </div>
  <mat-form-field [appearance]="appearanceInputMaterial"
                  [floatLabel]="positionLabelInputMaterial"
                  [subscriptSizing]="subscriptSizingInputMaterial"
                  solidifyTooltipOnEllipsis
                  class="separator-selector"
  >
    <mat-select [formControl]="formControl"
                [solidifyValidation]="errors"
                [disabled]="data.listSeparator.length <= 1"
    >
      <mat-option *ngFor="let separator of data.listSeparator"
                  [value]="separator.key"
                  solidifyTooltipOnEllipsis
      >
        <ng-template [ngIf]="separator.key === solidifyConstants.SPACE || separator.key === solidifyConstants.LINE_BREAK"
                     [ngIfElse]="otherSeparator"
        >
          [{{separator.value | translate}}]
        </ng-template>
        <ng-template #otherSeparator>
          {{separator.key}} [{{separator.value | translate}}]
        </ng-template>
      </mat-option>
    </mat-select>
    <mat-error #errors
               solidifyTooltipOnEllipsis
    ></mat-error>
  </mat-form-field>
</solidify-base-action-dialog>
<div mat-dialog-actions>
  <button [mat-dialog-close]=""
          mat-button
          [color]="colorCancel"
  >{{labelTranslate.coreDoNotSeparate | translate}}</button>
  <button (click)="confirm()"
          (onEnter)="confirm()"
          [disabled]="!(formControl.value | isNonEmptyString)"
          [color]="colorConfirm"
          mat-flat-button
          solidifyShortCuts
  >{{labelTranslate.coreSeparate | translate}}</button>
</div>
