@import "../../../scss/abstracts/abstracts";

:host {
  .body {
    white-space: pre-line;

    .value-paste {
      background-color: $intermediate-grey;
      border: 1px solid $light-grey;
      padding: 2px 4px;
      border-radius: 4px;
      margin: 5px 0;
      max-width: fit-content;

      ::ng-deep {
        .highlight-text {
          color: $primary-color;

          &.is-line-break {
            border: 1px solid $primary-color;
            padding: 0 5px;
            border-radius: 4px;
            line-height: 25px;
          }
        }
      }
    }
  }

  .separator-selector {
    margin-top: 16px;
    display: block;
  }
}
