<mat-menu #menu="matMenu"
          class="theme-selector-menu"
>
  <button *ngFor="let themeValue of listThemes"
          [class.is-active]="themeValue === theme"
          (click)="selectTheme(themeValue)"
          (onEnter)="selectTheme(themeValue)"
          mat-menu-item
          solidifyShortCuts
          class="option-theme"
  >
    <img [matTooltipPosition]="'after'"
         [matTooltip]="stringUtil.convertToPascalCase(themeValue)"
         [alt]="stringUtil.convertToPascalCase(themeValue)"
         [src]="getPathToImage(themeValue)"
         class="image"
         ngProjectAs="mat-icon"
    >
  </button>
</mat-menu>

