@import "../../../scss/abstracts/abstracts";

::ng-deep {
  .theme-selector-menu {
    min-width: 80px;

    .option-theme {
      justify-content: center;

      &.is-active {
        background-color: $extra-light-grey !important;
      }

      .image {
        max-width: 30px;
        max-height: 30px;
        width: 100%;
      }
    }
  }

  @include isInDarkMode(true) {
    .theme-selector-menu {
      .option-theme {
        &.is-active {
          background-color: $dark-mode-menu-active !important;
        }
      }
    }
  }
}
