<solidify-empty-container (keydown.escape)="isEdit ? backToDetail() : backToList()"
                          [solidifyFocusFirstElement]="true"
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  (backToDetailChange)="backToDetail()"
                                  (deleteChange)="delete()"
                                  (editChange)="edit()"
                                  [currentModel]="currentObs | async"
                                  [formPresentational]="formPresentational"
                                  [mode]="isEdit ? 'edit' : 'detail'"
  >
  </solidify-button-toolbar-detail>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <solidify-admin-index-field-alias-form #formPresentational
                                           (checkAvailableChange)="checkAvailable($event)"
                                           (dirtyChange)="updateCanDeactivate($event)"
                                           (editChange)="edit()"
                                           (navigate)="navigate($event)"
                                           (submitChange)="update($event)"
                                           *ngIf="isReadyToBeDisplayedObs | async"
                                           [editAvailable]="editAvailable"
                                           [languages]="languagesObs | async"
                                           [model]="currentObs | async"
                                           [readonly]="!isEdit"
    >
    </solidify-admin-index-field-alias-form>
  </div>
</solidify-empty-container>
