<solidify-base-info-dialog [titleToTranslate]="labelTranslateInterface.applicationStatusHistoryDialogTitle | translate:paramMessage">
  <div [solidifySpinner]="data.isLoading | async"
       class="wrapper"
  >
    <solidify-data-table (queryParametersChange)="pagination($event)"
                         [columns]="columns"
                         [data]="$any(data.statusHistory) | async"
                         [isLoading]="data.isLoading | async"
                         [queryParameters]="data.queryParametersObs | async"
                         [stickyTopPosition]="-10"
    ></solidify-data-table>
  </div>
</solidify-base-info-dialog>
