@import "../../../../../core/components/presentationals/abstract-form/abstract-form.presentational.scss";

:host {
  .panel-code {
    ::ng-deep {
      .content {
        min-height: 30px;
      }
    }

    .code {
      white-space: pre-wrap;
    }
  }
}
