<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>

  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [iconName]="iconNameEnum.oaiMetadataPrefixes"
                                [rightTemplate]="rightTemplate"
  ></solidify-detail-presentation>

  <ng-template #centerTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.prefix) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.oaiPmhOaiMetadataPrefixFormPrefix | translate}}</mat-label>
      <input (blur)="checkAvailable(formDefinition.prefix, fd)"
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.oaiPmhOaiMetadataPrefixFormName | translate}}</mat-label>
      <input (blur)="checkAvailable(formDefinition.name, fd)"
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.description) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.oaiPmhOaiMetadataPrefixFormDescription | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.schemaNamespace) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.oaiPmhOaiMetadataPrefixFormSchemaNamespace | translate}}</mat-label>
      <input [formControl]="fd"
             [matTooltipPosition]="'left'"
             [matTooltipShowDelay]="TIME_BEFORE_DISPLAY_TOOLTIP"
             [matTooltip]="labelTranslateInterface.oaiPmhOaiMetadataPrefixFormTooltipSchemaNamespace | translate"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             aria-label="schema namespace input"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <solidify-url-input-navigator *ngIf="getFormControl(formDefinition.schemaUrl) as fd"
                                  [formControl]="fd"
    >
    </solidify-url-input-navigator>

    <mat-form-field *ngIf="getFormControl(formDefinition.xmlClass) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.oaiPmhOaiMetadataPrefixFormXmlClass | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <ng-container *ngIf="getFormControl(formDefinition.metadataSchema) as fd">
      <mat-form-field *ngIf="!readonly"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateInterface.oaiPmhOaiMetadataPrefixFormMetadataSchema | translate}}</mat-label>
        <textarea [formControl]="fd"
                  [highlight]="getFormControl(formDefinition.metadataSchema).value ? getFormControl(formDefinition.metadataSchema).value : ''"
                  [language]="highlightJsLanguageEnum.xml"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
                  matInput
                  rows="18"
        ></textarea>
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <solidify-panel-expandable *ngIf="readonly"
                                 [isOutline]="true"
                                 [titleToTranslate]="labelTranslateInterface.oaiPmhOaiMetadataPrefixFormMetadataSchema | translate"
                                 class="panel-code"
      >
        <code *ngIf="fd.value | isNonEmptyString"
              [highlight]="fd.value"
              [language]="highlightJsLanguageEnum.xml"
              class="code"
        ></code>
      </solidify-panel-expandable>
    </ng-container>

    <ng-container *ngIf="getFormControl(formDefinition.metadataXmlTransformation) as fd">
      <mat-form-field *ngIf="!readonly"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateInterface.oaiPmhOaiMetadataPrefixFormMetadataXmlTransformation | translate}}</mat-label>
        <textarea [formControl]="fd"
                  [highlight]="getFormControl(formDefinition.metadataXmlTransformation).value ? getFormControl(formDefinition.metadataXmlTransformation).value : ''"
                  [language]="highlightJsLanguageEnum.xml"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
                  matInput
                  rows="18"
        ></textarea>
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <solidify-panel-expandable *ngIf="readonly"
                                 [isOutline]="true"
                                 [titleToTranslate]="labelTranslateInterface.oaiPmhOaiMetadataPrefixFormMetadataXmlTransformation | translate"
                                 class="panel-code"
      >
        <code *ngIf="fd.value | isNonEmptyString"
              [highlight]="fd.value"
              [language]="highlightJsLanguageEnum.xml"
              class="code"
        ></code>
      </solidify-panel-expandable>
    </ng-container>
  </ng-template>

  <ng-template #rightTemplate>
    <mat-checkbox [formControlName]="formDefinition.enabled"
                  color="primary"
    >{{labelTranslateInterface.oaiPmhOaiMetadataPrefixFormEnabled | translate}}
    </mat-checkbox>

    <mat-checkbox [formControlName]="formDefinition.reference"
                  color="primary"
    >{{labelTranslateInterface.oaiPmhOaiMetadataPrefixFormReference | translate}}
    </mat-checkbox>
  </ng-template>

  <!--  <dlcm-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"-->
  <!--                                                      [resource]="model"-->
  <!--  >-->
  <!--  </dlcm-shared-additional-information-panel-container>-->
</form>
