<solidify-base-action-dialog [paramMessage]="paramMessage"
                             [titleToTranslate]="KEY_TITLE"
>
  <p>{{data.message | translate:paramMessage}}</p>
</solidify-base-action-dialog>
<div [solidifyFocusFirstElement]="true"
     cdkTrapFocus
     mat-dialog-actions
>
  <button [mat-dialog-close]=""
          [color]="colorCancel"
          mat-button
  >{{KEY_CANCEL_BUTTON | translate}}</button>
  <button (click)="confirm()"
          [color]="colorConfirm"
          mat-flat-button
  >{{KEY_CONFIRM_BUTTON | translate}}</button>
</div>
