@import "../../../scss/abstracts/mixins";

:host {
  .mat-mdc-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to-breakpoint('xs') {
      text-align: center;
    }
  }
}
