@import "../../../scss/abstracts/abstracts";

:host {
  display: none;
  position: fixed;
  left: -34px;
  top: 35px;
  color: $white;
  transform: rotate(-45deg);
  width: 169px;
  z-index: $z-index-ribbon;
  height: 20px;
  align-items: center;
  padding: 4px 0;

  .ribbon {
    border-bottom: 2px dashed #ffffff8c;
    border-top: 2px dashed #ffffff8c;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
  }
}

:host(.is-visible) {
  display: flex;
}
