@import "../../../../core/scss/abstracts/abstracts";


:host {
  .title {
    color: $label;
    margin-bottom: 5px;
    font-size: 10px;
    margin-left: 16px;

    .required-marker {
      color: $red;
      padding: 0 3px;
    }
  }

  .input-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: start;
    grid-gap: 5px;

    ::ng-deep {
      .code-mirror {
        .CodeMirror {
          height: 200px;
          border: 1px solid $medium-light-grey;
          display: block;
          border-radius: 5px;
          margin-bottom: 15px;
        }

        &.in-error {
          .CodeMirror {
            border-color: $error;
          }
        }
      }
    }

    .button-wrapper {

    }
  }

  .validation {
    color: $error;
    padding-bottom: 15px;

    &.is-valid {
      color: $success;
    }

    .message {
      display: grid;
      align-items: center;
      grid-template-columns: max-content 1fr;
      grid-gap: 10px;
    }

    .syntax-error {
      padding-left: 34px;
      padding-top: 10px;
    }
  }

  .error {
    color: $error;
    padding-bottom: 15px;
  }
}

:host(.readonly) {
  .title {
    color: $label-disable;
  }

  .code-mirror {
    &.readonly {
      opacity: 0.7;
    }
  }
}

@include isInDarkMode {
  :host {
    .title {
      color: $dark-mode-text-color;
    }

    ::ng-deep {
      .code-mirror {
        .CodeMirror {
          border-color: $dark-mode-outline;
        }
      }
    }
  }

  :host(.readonly) {
    .title {
      color: $dark-mode-outline;
    }
  }
}