<div *ngIf="title | isNotNullNorUndefinedNorWhiteString"
     class="title"
>{{title}}<span *ngIf="required"
                class="required-marker"
>*</span>
</div>
<div class="input-wrapper">
  <ngx-codemirror *ngIf="mode | isNotNullNorUndefined"
                  [formControl]="control"
                  [options]="codemirrorOption"
                  [class.readonly]="control.disabled"
                  [class.in-error]="formValidationHelper.displayInvalidWhenRequired(control, displayEmptyRequiredFieldInError)"
                  class="code-mirror"
  ></ngx-codemirror>
  <div class="button-wrapper">
    <button (click)="copyToClipboard()"
            (onEnter)="copyToClipboard()"
            [matTooltip]="COPY_BUTTON_LABEL | translate"
            mat-icon-button
            solidifyShortCuts
            type="button"
    >
      <solidify-icon [iconName]="iconNameEnum.copyToClipboard"></solidify-icon>
    </button>
  </div>
</div>

<div *ngIf="isValid | isNotNullNorUndefined"
     class="validation"
     [class.is-valid]="isValid"
>
  <div class="message">
    <ng-template [ngIf]="isValid"
                 [ngIfElse]="isInvalid"
    >
      <solidify-icon [iconName]="iconNameEnum.correct"></solidify-icon>
      <span>{{syntaxValidMessage | translate}}.</span>
    </ng-template>
    <ng-template #isInvalid>
      <solidify-icon [iconName]="iconNameEnum.incorrect"></solidify-icon>
      <span>{{syntaxInvalidMessage | translate}}.
            <ng-template [ngIf]="syntaxErrorDetail | isNotNullNorUndefinedNorWhiteString">
              {{labelTranslateInterface.codeEditorSeeErrorDetailsBelow | translate}}</ng-template>
            </span>
    </ng-template>
  </div>
  <div *ngIf="syntaxErrorDetail | isNotNullNorUndefinedNorWhiteString"
       class="syntax-error"
  >
    <ng-template [ngIf]="needTranslateSyntaxError"
                 [ngIfElse]="noTranslation"
    >
      {{syntaxErrorDetail | translate}}
    </ng-template>
    <ng-template #noTranslation>
      {{syntaxErrorDetail}}
    </ng-template>
  </div>
</div>
<ng-container *ngIf="formValidationHelper.getFormMetadataErrorFormattedString(control) as backendErrorMessage">
  <div *ngIf="backendErrorMessage | isNotNullNorUndefinedNorWhiteString"
       class="error"
       solidifyTooltipOnEllipsis
  >
    {{backendErrorMessage}}
  </div>
</ng-container>

<!--Workaround to force parent to be informed of form value update-->
<ng-template [ngIf]="forceRefreshBehavior">{{syntaxValidMessage | translate}}</ng-template>