@import "../../../../scss/abstracts/abstracts";

:host {
  grid-template-columns: 1fr max-content max-content;
  padding: 20px 30px;
  grid-gap: 10px;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
  z-index: $z-index-cookie;
  display: none;

  @include respond-to-breakpoint('xs') {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-gap: 20px;
  }

  &.is-visible {
    display: grid;
  }

  .text {
    color: $white;

    @include respond-to-breakpoint('xs') {
      text-align: center;
    }

    .link {
      color: $white;

      &:before {
        background-color: $white;
      }
    }
  }

  .button-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: max-content max-content max-content;

    @include respond-to-breakpoint('sm') {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content min-content;
    }

    @include respond-to-breakpoint('xs') {
      justify-content: space-between;
    }

    .button-personalize,
    .button-decline {
      color: $white;
    }
  }
}
