<span class="text">
  <ng-container *ngIf="(newCookiesAvailableObs | async) as newCookiesAvailable">
    <ng-template [ngIf]="newCookiesAvailable > 0">
    <span *ngIf="newCookiesAvailable === 1">
      {{labelTranslateInterface.coreCookieConsentBannerNewCookieIsAvailable | translate:{number: newCookiesAvailable} }}
    </span>
    <span *ngIf="newCookiesAvailable > 1">
      {{labelTranslateInterface.coreCookieConsentBannerNewCookiesAreAvailable | translate:{number: newCookiesAvailable} }}
    </span>
    </ng-template>
  </ng-container>
  <span>{{labelTranslateInterface.coreCookieConsentBannerThisWebsiteUsesCookiesToEnsureYouGetTheBestExperienceOnOurWebsite | translate}}</span>
  <a (click)="personalize()"
     class="link"
     target="_blank"
  >{{labelTranslateInterface.coreCookieConsentBannerLearnMore | translate}}</a>
</span>
<div class="button-wrapper">
  <button (click)="personalize()"
          (onEnter)="personalize()"
          class="button-personalize"
          mat-button
          solidifyShortCuts
  >{{labelTranslateInterface.coreCookieConsentBannerPersonalize | translate}}</button>
  <button (click)="declineAll()"
          (onEnter)="declineAll()"
          class="button-decline"
          mat-button
          solidifyShortCuts
  >{{labelTranslateInterface.coreCookieConsentBannerDecline | translate}}</button>
  <button (click)="acceptAll()"
          (onEnter)="acceptAll()"
          [solidifyAutoFocus]="true"
          class="button-accept"
          color="secondary"
          mat-flat-button
          solidifyShortCuts
  >{{labelTranslateInterface.coreCookieConsentBannerAllowCookies | translate}}</button>
</div>
