@import "../../../scss/abstracts/abstracts";

:host {
  display: flex;
  align-items: center;
  color: $white;
  justify-content: space-between;

  .icon-and-message {
    display: flex;
    align-items: center;
    flex: 1;

    .icon {
      margin: 0 10px;

      &.success {
        color: $success;
      }

      &.error {
        color: $error;
      }

      &.warn {
        color: $warning;
      }

      &.info {
        color: $info;
      }
    }

    .message-wrapper {
      flex: 1;
      text-align: center;
      display: grid;
      grid-gap: 5px;

      .message {
        font-size: 14px;
        white-space: pre-line;
      }

      .sub-message {
        font-size: 11px;
        white-space: pre-line;
      }
    }
  }

  .button {
    margin-left: 10px;
    text-transform: uppercase;
    border: 2px solid $light-grey;
    color: $white;
  }

  .copy-to-clipboard {

  }
}
