<div class="icon-and-message">
  <ng-container *ngIf="getIcon() as icon">

    <solidify-icon [class.error]="data.category === notificationTypeEnum.error"
                   [class.info]="data.category === notificationTypeEnum.information"
                   [class.success]="data.category === notificationTypeEnum.success"
                   [class.warn]="data.category === notificationTypeEnum.warning"
                   [iconName]="icon"
                   class="icon"
    >
    </solidify-icon>
  </ng-container>
  <span class="message-wrapper">
    <span class="message">
      <ng-template [ngIfElse]="noMessageParam"
                   [ngIf]="data?.messageParam "
      >
        {{data?.message | translate:data.messageParam}}
      </ng-template>
      <ng-template #noMessageParam>
        {{data?.message | translate}}
      </ng-template>
      </span>
    <span *ngIf="data?.subMessage | isNotNullNorUndefinedNorWhiteString"
          class="sub-message"
    >
      <ng-template [ngIfElse]="noSubMessageParam"
                   [ngIf]="data?.subMessageParam"
      >
        {{data?.subMessage | translate:data.subMessageParam}}
      </ng-template>
      <ng-template #noSubMessageParam>
        {{data?.subMessage | translate}}
      </ng-template>
    </span>
  </span>
</div>

<button (click)="actionButton($event)"
        *ngIf="data.action"
        class="button"
        mat-button
>
  {{data.action.text | translate}}
</button>

<button *ngIf="data.error | isNotNullNorUndefined"
        (click)="copyToClipboardError()"
        class="copy-to-clipboard"
        [matTooltip]="labelTranslateInterface.coreCopyToClipboard | translate"
        matSuffix
        mat-icon-button
        type="button"
>
  <solidify-icon [iconName]="iconNameEnum.copyToClipboard"
                 class="size-20"
  ></solidify-icon>
</button>

<button (click)="close($event)"
        matSuffix
        mat-icon-button
        type="button"
>
  <solidify-icon [iconName]="iconNameEnum.close"
                 class="size-24"
  ></solidify-icon>
</button>
