@import "../../../scss/abstracts/abstracts";

:host {
  .selector {
    width: 100%;
  }

  .selected-citation {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
}
