<mat-form-field [appearance]="appearanceInputMaterial"
                solidifyTooltipOnEllipsis
                class="selector"
>
  <mat-label>{{labelTranslate.coreCitationStyles | translate }}</mat-label>
  <mat-select [solidifyValidation]="errors"
              [formControl]="formControl"
  >
    <mat-option *ngFor="let citation of listCitations; trackBy: trackByCitation"
                [value]="citation"
                solidifyTooltipOnEllipsis
    >
      {{citation.style}} - {{citation.outputFormat}} [{{citation.language}}]
    </mat-option>
  </mat-select>
  <mat-error #errors
             solidifyTooltipOnEllipsis
  ></mat-error>
</mat-form-field>

<div *ngIf="selectedCitation | isNotNullNorUndefined"
     class="selected-citation"
>
  <span class="text">{{selectedCitation.text}}</span>
  <button (click)="copyToClipboard()"
          (onEnter)="copyToClipboard()"
          [matTooltipPosition]="'above'"
          [matTooltip]="labelTranslate.coreCitationCopyToClipboard | translate"
          class="copy-button"
          mat-icon-button
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.copyToClipboard"></solidify-icon>
  </button>
</div>

<div *ngIf="listCitations | isNullOrUndefinedOrEmptyArray"
     class="no-citation-available"
>
  {{labelTranslate.coreNoCitationsAreAvailable | translate}}
</div>
