<solidify-base-info-dialog [titleToTranslate]="labelTranslateInterface.filePreviewPreviewDialogTitle | translate">
  <solidify-file-visualizer (closeVisualizerChange)="close()"
                            [fileToVisualize]="data?.fileInput"
                            [zoomEnable]="true"
                            [fileDownloadUrl]="data?.fileDownloadUrl"
                            [isInDialog]="true"
  ></solidify-file-visualizer>
</solidify-base-info-dialog>


