@import "../../../scss/abstracts/abstracts";

:host {
  .tabs-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $extra-light-grey;

    .tab-header {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      padding: 10px 22px;
      color: $text-color;
      cursor: pointer;

      &.with-icon {
        grid-template-columns: 30px 1fr;
      }

      .icon {
        padding-right: 5px;
      }

      &:focus {
        box-shadow: 0 0 0 1px $light-grey;
      }

      @include respond-to-smaller-than-breakpoint('md') {
        padding: 8px 18px;
      }

      @include respond-to-smaller-than-breakpoint('sm') {
        padding: 6px 10px;
      }

      &.is-active {
        color: $primary-color;
        cursor: initial;
        border-bottom: 2px solid $primary-color;
      }

      &.hide {
        display: none;
      }
    }
  }

  .tab-content {
    padding-top: 10px;

    .unaccessible-tab {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      animation: appear 0.5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    .spinner {
      min-height: 300px;
    }
  }

  @-webkit-keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}

@include isInDarkMode {
  .tabs-header-container {
    border-bottom-color: $dark-mode-line;

    .tab-header {
      color: $dark-mode-text-color;

      &.is-active {
        color: $primary-color;
      }
    }
  }
}
