<ul class="tabs-header-container">
  <li (click)="navigateToTab(tab)"
      (onEnter)="navigateToTab(tab)"
      *ngFor="let tab of tabs; trackBy: trackByFn"
      [class.hide]="isDisplayed(tab) | async | isFalsy"
      [class.is-active]="tab === currentTab"
      [class.with-icon]="tab.icon"
      [matRippleDisabled]="tab === currentTab"
      [solidifyDataTest]="tab.dataTest"
      [tabIndex]="0"
      class="tab-header tab-{{tab.id | lowercase}}"
      id="tab-{{tab.id | lowercase}}"
      matRipple
      solidifyShortCuts
  >
    <solidify-icon *ngIf="tab.icon"
                   [iconName]="tab.icon"
                   class="icon"
    >
    </solidify-icon>
    <span [matBadgeHidden]="(tab.numberNew | isNullOrUndefined) || (tab.numberNew() | solidifyAsync) === 0"
          [matBadge]="+(tab.numberNew | isNullOrUndefined) || (tab.numberNew() | solidifyAsync)"
          class="label"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          matBadgeSize="small"
    >{{tab.titleToTranslate | translate}}</span>
  </li>
</ul>

<div class="tab-content">

  <ng-template [ngIf]="currentTab">

    <ng-container *ngTemplateOutlet="currentTabContentTemplate; context: {isDisplayed: isDisplayed(currentTab) | solidifyAsync}"></ng-container>

    <ng-template #currentTabContentTemplate
                 let-isDisplayed="isDisplayed"
    >
      <ng-template [ngIfElse]="displayedTabTemplate"
                   [ngIf]="!isDisplayed"
      >

        <ng-template [ngIfElse]="loadingTabTemplate"
                     [ngIf]="isDisplayed !== null"
        >

          <div class="unaccessible-tab">

            <h2>{{labelTranslateInterface.coreUnaccessibleTab | translate}}</h2>

          </div>

        </ng-template>

        <ng-template #loadingTabTemplate>

          <div [solidifySpinner]="true"
               class="spinner"
          ></div>

        </ng-template>

      </ng-template>

      <ng-template #displayedTabTemplate>

        <ng-content></ng-content>

      </ng-template>

    </ng-template>

  </ng-template>

</div>
