<ng-template [ngIf]="iconInfo | isNotNullNorUndefined">
  <ng-container [ngSwitch]="iconInfo.lib">
    <mat-icon *ngSwitchCase="iconLib.materialIcon"
              class="icon mat-icon"
    >{{iconInfo.icon}}</mat-icon>
    <fa-icon *ngSwitchCase="iconLib.fontAwesomeSolid"
             [icon]="$any(['fas', iconInfo.icon])"
             class="icon fa-icon"
    ></fa-icon>
    <fa-icon *ngSwitchCase="iconLib.fontAwesomeBrand"
             [icon]="$any(['fab', iconInfo.icon])"
             class="icon fa-icon"
    ></fa-icon>
    <fa-icon *ngSwitchCase="iconLib.fontAwesomeRegular"
             [icon]="$any(['far', iconInfo.icon])"
             class="icon fa-icon"
    ></fa-icon>
    <img *ngSwitchCase="iconLib.image"
         [alt]="iconInfo.name"
         [src]="PATH_TO_IMAGE + iconInfo.icon"
         class="icon image"
    >
  </ng-container>
</ng-template>
