@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

$size: 0;
:host {
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;

  .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
}

:host(.fa-icon) {
  .icon ::ng-deep {
    svg {
      height: 100% !important;
      width: 100% !important;
      vertical-align: 0 !important;
    }
  }
}

//default size for font awesome icon
:host(.fa-icon:not(.size-12):not(.size-16):not(.size-18):not(.size-20):not(.size-24):not(.size-30):not(.size-50):not(.size-80):not(.size-120):not([matSuffix])) {
  $size: 18px;
  //$size: 1em;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

//default size for material icon
:host(.mat-icon:not(.size-12):not(.size-16):not(.size-18):not(.size-20):not(.size-24):not(.size-30):not(.size-50):not(.size-80):not(.size-120):not([matSuffix])) {
  $size: 24px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

//default size for image
:host(.image:not(.size-12):not(.size-16):not(.size-18):not(.size-20):not(.size-24):not(.size-30):not(.size-50):not(.size-80):not(.size-120)) {
  $size: 20px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.image[matSuffix]) {
  top: 4px
}

:host(.fa-icon[matSuffix]) {
  $size: 14px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.size-12) { // xs
  $size: 12px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.size-16) { // sm
  $size: 16px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.size-18) { // md
  $size: 18px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.size-20) { // lg
  $size: 20px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.size-24) { // xlg
  $size: 24px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.size-30) { // xxlg
  $size: 30px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.size-50) { // xxxlg
  $size: 50px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.size-80) { // xxxxlg
  $size: 80px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}

:host(.size-120) { // xxxxxlg
  $size: 120px;
  @include icon($size);

  .icon {
    @include icon($size);
  }
}
