@import "../../../scss/abstracts/abstracts";

:host {
  height: $height-banner;
  width: 100%;

  .banner {
    color: $white;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    animation: appear 0.25s;
  }

  @-webkit-keyframes appear {
    0% {
      -webkit-transform: scaleY(0);
      height: 0;
      padding: 0;
      opacity: 0;
      display: none;
      -webkit-animation-play-state: paused;
    }
    100% {
      -webkit-transform: scaleY(1);
      opacity: 1;
    }
  }
}

:host(.warn) {
  .banner {
    background-color: $warning;
  }
}

:host(.error) {
  .banner {
    background-color: $red;
  }
}

:host(.success) {
  .banner {
    background-color: $success;
  }
}

:host(.info) {
  .banner {
    background-color: $info;
  }
}
