<div class="header">
  <img [src]="logo"
       alt="server offline logo"
       class="logo"
  >
</div>

<div class="container">
  <solidify-icon [iconName]="iconNameEnum.unableToLoadApp"
                 class="icon size-80"
  ></solidify-icon>
  <span class="message">{{labelTranslateInterface.coreUnableToLoadApp | translate}}</span>
  <button (click)="refresh()"
          (onEnter)="refresh()"
          color="primary"
          mat-flat-button
          solidifyShortCuts
  >
    <solidify-icon [iconName]="iconNameEnum.refresh"></solidify-icon>
    {{labelTranslateInterface.coreRefresh | translate}}
  </button>
</div>
