<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>

  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [iconName]="iconNameEnum.oaiSets"
                                [rightTemplate]="rightTemplate"
  ></solidify-detail-presentation>

  <ng-template #centerTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.oaiPmhOaiSetFormName | translate}}</mat-label>
      <input (blur)="checkAvailable(formDefinition.name, fd)"
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.description) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.oaiPmhOaiSetFormDescription | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.spec) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.oaiPmhOaiSetFormSpec | translate}}</mat-label>
      <input [formControl]="fd"
             [matTooltipPosition]="'left'"
             [matTooltipShowDelay]="TIME_BEFORE_DISPLAY_TOOLTIP"
             [matTooltip]="labelTranslateInterface.oaiPmhOaiSetFormTooltipSpec | translate"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             aria-label="spec input"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.query) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.oaiPmhOaiSetFormQuery | translate}}</mat-label>
      <input [formControl]="fd"
             [matTooltipPosition]="'left'"
             [matTooltipShowDelay]="TIME_BEFORE_DISPLAY_TOOLTIP"
             [matTooltip]="labelTranslateInterface.oaiPmhOaiSetFormTooltipQuery | translate"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             aria-label="query input"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

  </ng-template>

  <ng-template #rightTemplate>

    <mat-checkbox [formControlName]="formDefinition.enabled"
                  color="primary"
    >{{labelTranslateInterface.oaiPmhOaiSetFormEnabled | translate }}</mat-checkbox>

  </ng-template>

  <!--  <dlcm-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"-->
  <!--                                                      [resource]="model"-->
  <!--  >-->
  <!--  </dlcm-shared-additional-information-panel-container>-->
</form>
