<div [solidifySpinnerDiameter]="24"
     [solidifySpinnerStrokeWidth]="2"
     [solidifySpinner]="isLoading"
>
  <ng-template [ngIf]="isUser"
               [ngIfElse]="isImage"
  >
    <solidify-avatar [userInfo]="userInfo"
                     class="avatar-initial"
                     [photoUser]="photo"
                     [mode]="imageMode"
    ></solidify-avatar>
  </ng-template>

  <ng-template #isImage>
    <solidify-image-display *ngIf="photo; else fallback"
                            [image]="photo"
                            [mode]="imageMode"
    ></solidify-image-display>
    <ng-template #fallback>
      <solidify-image-display [mode]="imageMode"></solidify-image-display>
    </ng-template>
  </ng-template>
</div>
