@import "../../../../core/scss/abstracts/abstracts";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: $white;
  padding-top: 5px;
  z-index: $z-index-sticky-toolbar;
  color: $primary-color;
  min-height: 35px;

  @include respond-to-breakpoint('xs') {
    flex-direction: column;
  }

  .main-buttons {
    margin-bottom: 5px;

    a,
    button {
      margin-right: 10px;
    }

    .slide-toggle {
      margin-right: 10px;
    }

    @include respond-to-breakpoint('xs') {
      margin-bottom: 10px;

      a,
      button {
        margin-right: 0;
      }

      .slide-toggle {
        margin-right: 0;
      }
    }
  }

  .small-buttons {
    display: grid;
    grid-auto-flow: column;
  }
}

@include isInDarkMode {
  background-color: $dark-mode-background;
}
