<ng-template [ngIf]="isInRichTextMode"
             [ngIfElse]="rawTextMode"
>
  <mat-label class="label"
             [class.is-required]="formValidationHelper.hasRequiredField(formControl)"
  ><span class="text">{{label | translate}}</span>
    <span *ngIf="formValidationHelper.hasRequiredField(formControl)"
          aria-hidden="true"
          class="mat-mdc-form-field-required-marker"
    > *</span>
  </mat-label>
  <!-- ssr:comment:start -->
  <quill-editor *ngIf="displayQuillEditor"
                [formControl]="formControl"
                [placeholder]="placeholder | translate"
                [class.is-invalid]="formValidationHelper.displayInvalidWhenRequired(formControl, displayEmptyRequiredFieldInError)"
                [class.is-focused]="isFocused"
                [class.is-disabled]="formControl.disabled"
                (onFocus)="focus()"
                (onBlur)="blur()"
                (onContentChanged)="preventLengthToExceed($event)"
                (onEditorCreated)="onEditorCreated($event)"
                (mousedown)="mousedown($event)"
                class="editor"
  >
    <div quill-editor-toolbar>
      <span *ngIf="(options.bold | isTrue) || (options.italic | isTrue) || (options.underline | isTrue) || (options.strike | isTrue)"
            class="ql-formats"
      >
        <button *ngIf="options.bold | isTrue"
                class="ql-bold"
                [matTooltip]="labelTranslate.richTextEditorToolbarBold | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        ></button>
        <button *ngIf="options.italic | isTrue"
                class="ql-italic"
                [matTooltip]="labelTranslate.richTextEditorToolbarItalic | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        ></button>
        <button *ngIf="options.underline | isTrue"
                class="ql-underline"
                [matTooltip]="labelTranslate.richTextEditorToolbarUnderline | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        ></button>
        <button *ngIf="options.strike | isTrue"
                class="ql-strike"
                [matTooltip]="labelTranslate.richTextEditorToolbarStrike | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        ></button>
      </span>
      <span *ngIf="(options.sub | isTrue) || (options.super | isTrue)"
            class="ql-formats"
      >
        <button *ngIf="options.sub | isTrue"
                class="ql-script"
                value="sub"
                [matTooltip]="labelTranslate.richTextEditorToolbarSub | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        ></button>
        <button *ngIf="options.super | isTrue"
                class="ql-script"
                value="super"
                [matTooltip]="labelTranslate.richTextEditorToolbarSuper | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        ></button>
      </span>
      <span *ngIf="(options.link | isTrue) || (options.image | isTrue) || (options.video | isTrue)"
            class="ql-formats"
      >
        <button *ngIf="options.link | isTrue"
                class="ql-link"
                [matTooltip]="labelTranslate.richTextEditorToolbarLink | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        ></button>
        <button *ngIf="options.image | isTrue"
                class="ql-image"
                [matTooltip]="labelTranslate.richTextEditorToolbarImage | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        >        </button>
        <button *ngIf="options.video | isTrue"
                class="ql-video"
                [matTooltip]="labelTranslate.richTextEditorToolbarVideo | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        ></button>
      </span>
      <span *ngIf="options.clean | isTrue"
            class="ql-formats"
      >
        <button *ngIf="options.clean | isTrue"
                class="ql-clean"
                [matTooltip]="labelTranslate.richTextEditorToolbarCleanStyle | translate"
                [matTooltipShowDelay]="TOOLBAR_TOOLTIP_DELAY"
        ></button>
      </span>
    </div>
  </quill-editor>
  <!-- ssr:comment:end -->
</ng-template>

<ng-template #rawTextMode>
  <mat-form-field [appearance]="appearanceInputMaterial"
                  [floatLabel]="positionLabelInputMaterial"
                  [subscriptSizing]="subscriptSizingInputMaterial"
                  [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(formControl) && (formControl.value | isNullOrUndefinedOrWhiteString)) || formControl.invalid"
                  class="mat-form-field"
                  solidifyTooltipOnEllipsis
  >
    <mat-label>{{label | translate}}</mat-label>
    <textarea [formControl]="formControl"
              [required]="formValidationHelper.hasRequiredField(formControl)"
              [attr.maxLength]="withMaxLength ? maxLength : null"
              [solidifyValidation]="errors"
              cdkAutosizeMaxRows="10"
              cdkAutosizeMinRows="5"
              cdkTextareaAutosize
              matInput
    >
    </textarea>
    <mat-error #errors
               solidifyTooltipOnEllipsis
    ></mat-error>
  </mat-form-field>
</ng-template>

<solidify-form-error-wrapper *ngIf="isInRichTextMode | isTrue"
                             [formControl]="formControl"
></solidify-form-error-wrapper>

<mat-hint *ngIf="withWordCounter | isTrue"
          class="word-counter"
>{{numberWords}} {{labelTranslate.richTextEditorWords | translate | lowercase}}
</mat-hint>

<mat-hint *ngIf="withMaxLength | isTrue"
          class="word-counter"
>(
  <ng-template [ngIf]="isInRichTextMode | isFalse"> {{formControl.value.length}} {{
          labelTranslate.coreCharacters |
              translate | lowercase
    }} /
  </ng-template>
  {{maxLength}} {{labelTranslate.coreCharacters | translate | lowercase}} {{labelTranslate.richTextEditorMaximum | translate | lowercase}} )
</mat-hint>

<ng-template [ngIf]="formControl.disabled | isFalse">
  <a *ngIf="isInRichTextMode; else linkToggleToRichTextMode"
     (click)="toggleTextMode()"
  >{{labelTranslate.richTextEditorDisplayWithoutFormatting | translate}}</a>
  <ng-template #linkToggleToRichTextMode>
    <a (click)="toggleTextMode()">{{labelTranslate.richTextEditorDisplayWithFormatting | translate}}</a>
  </ng-template>
</ng-template>
