@import "../core/scss/abstracts/abstracts";

:host {
  display: block;
  position: relative;
  margin-bottom: 20px;

  .label {
    color: $label;
    margin-bottom: 4px;
    display: block;
    position: absolute;
    top: -9px;
    left: 10px;
    font-size: 13px;

    .text {
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: $white;
      width: 100%;
      height: 1px;
      top: 9px;
      left: -2px;
      z-index: 0;
      padding: 0 3px;
    }

    &.is-required {
      &:before {
        padding: 0 9px;
      }
    }

    .mat-placeholder-required {
      position: absolute;
      font-size: 18px;
      top: 3px;
      right: -11px;
    }
  }

  .editor {
    display: block;
    margin-bottom: 6px;
  }

  .word-counter {
    color: $label;
    font-size: 13px;
    margin-left: 12px;
  }

  ::ng-deep {
    .ql-tooltip {
      z-index: $z-index-rich-text-editor-tooltip;
      border-radius: 4px;

      a {
        color: $primary-color;

        &:hover {
          &:before {
            display: none;
          }
        }
      }
    }

    .editor {
      .ql-toolbar {
        border-radius: 6px 6px 0 0;
        border-color: #e0e0e0;

        .icon-clean {
          content: '';
          display: block;
          height: 16px;
          width: 16px;
          background: url("./rubber_black.png") no-repeat 0 0;
          background-size: contain;
        }

        button {
          &:focus,
          &:hover,
          &.ql-active {
            .ql-stroke {
              stroke: $primary-color;
            }

            .ql-fill {
              fill: $primary-color;
            }
          }
        }
      }

      .ql-container {
        border-radius: 0 0 6px 6px;
        border-color: #e0e0e0;
        font-size: 17px;
        background-color: $white;
      }

      .ql-toolbar,
      .ql-container {
        transition: border-color 0.1s ease-in 0s;
      }

      .ql-editor {
        p {
          word-break: break-word;
        }
      }

      &.is-invalid {
        .ql-toolbar,
        .ql-container {
          border-color: $red;
        }
      }

      &.is-focused {
        .ql-toolbar,
        .ql-container {
          border-color: $primary-color;
        }
      }

      &.is-disabled {
        .ql-toolbar,
        .ql-container {
          border-color: $outline-disable;
        }

        .ql-toolbar {
          > * {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }

      &:hover:not(.is-disabled):not(.is-focused) {
        .ql-toolbar,
        .ql-container {
          border-color: $outline-hover;
        }
      }
    }
  }

  .mat-mdc-form-field {
    display: grid;
  }
}

@include isInDarkMode {
  :host {
    .label {
      .text {
        color: $dark-mode-text-color;
      }

      &:before {
        background-color: $dark-mode-background;
      }
    }

    ::ng-deep {
      .editor {
        .ql-toolbar {
          border-color: $dark-mode-outline;

          button:not(:focus):not(:hover):not(.ql-active) {
            .ql-stroke {
              stroke: $white;
            }

            .ql-fill {
              fill: $white;
            }
          }

          .icon-clean {
            background-image: url("./rubber_white.png");
          }
        }

        .ql-container {
          border-color: $dark-mode-outline;
          background-color: $dark-mode-background;
        }

        &.is-invalid {
          .ql-toolbar,
          .ql-container {
            border-color: $red;
          }
        }

        &.is-focused {
          .ql-toolbar,
          .ql-container {
            border-color: $primary-color;
          }
        }

        &.is-disabled {
          .ql-toolbar,
          .ql-container {
            border-color: $dark-mode-outline-disable;
          }
        }

        &:hover:not(.is-disabled):not(.is-focused) {
          .ql-toolbar,
          .ql-container {
            border-color: $dark-mode-outline-hover;
          }
        }
      }
    }
  }
}
