<div #mainButtonElement
     class="main-buttons"
>
  @for (button of listButtonMerged; track button) {
    @if (!button.displayCondition || (button.displayCondition() | solidifyAsync)) {
      @if (button.navigate | isFunction) {
        <ng-container *ngIf="button.navigate() as navigateValue">
          @if (navigateValue | isString) {
            <a (onEnter)="navigate(navigateValue)"
               (onEscape)="backToList()"
               [color]="button.color"
               [disabled]="button.disableCondition && (button.disableCondition() | solidifyAsync)"
               [matTooltip]="button.tooltipToTranslate | translate:button.labelParams"
               [solidifyDataTest]="button.dataTest"
               [solidifyMatButtonTheme]="button.typeButton"
               [tabIndex]="0"
               [href]="getHref(navigateValue)"
               [target]="getTarget(button)"
               id="btn-toolbar-{{button.icon}}"
               mat-button
               solidifyShortCuts
            >
              <solidify-icon [iconName]="button.icon"></solidify-icon>
              {{button.labelToTranslate() | solidifyAsync | translate:button.labelParams}}
            </a>
          } @else {
            <a (onEnter)="navigate(navigateValue)"
               (onEscape)="backToList()"
               [color]="button.color"
               [disabled]="button.disableCondition && (button.disableCondition() | solidifyAsync)"
               [matTooltip]="button.tooltipToTranslate | translate:button.labelParams"
               [solidifyDataTest]="button.dataTest"
               [solidifyMatButtonTheme]="button.typeButton"
               [tabIndex]="0"
               [routerLink]="getRouterLink(navigateValue)"
               [queryParams]="getQueryParamValue(navigateValue)"
               id="btn-toolbar-{{button.icon}}"
               mat-button
               solidifyShortCuts
            >
              <solidify-icon [iconName]="button.icon"></solidify-icon>
              {{button.labelToTranslate() | solidifyAsync | translate:button.labelParams}}
            </a>
          }
        </ng-container>
      } @else if (button.callback | isFunction) {
        @if (button.isToggleButton) {
          <mat-slide-toggle #toggleRef
                            (change)="button.callback(undefined, toggleRef._switchElement, $event.checked)"
                            [checked]="button.isToggleChecked"
                            [disabled]="button.disableCondition && (button.disableCondition() | solidifyAsync)"
                            [color]="button.color === buttonColorEnum.success ? buttonColorEnum.primary : button.color"
                            class="slide-toggle"
          >
            {{button.labelToTranslate() | solidifyAsync | translate:button.labelParams}}
          </mat-slide-toggle>
        } @else {
          <button #buttonRef
                  (click)="button.callback(undefined, buttonRef._elementRef)"
                  (onEnter)="button.callback(undefined, buttonRef._elementRef)"
                  (onEscape)="backToList()"
                  [color]="button.color"
                  [disabled]="button.disableCondition && (button.disableCondition() | solidifyAsync)"
                  [matTooltip]="button.tooltipToTranslate | translate:button.labelParams"
                  [solidifyDataTest]="button.dataTest"
                  [solidifyMatButtonTheme]="button.typeButton"
                  [tabIndex]="0"
                  id="btn-toolbar-{{button.icon}}"
                  mat-button
                  solidifyShortCuts
          >
            <solidify-icon [iconName]="button.icon"></solidify-icon>
            {{button.labelToTranslate() | solidifyAsync | translate:button.labelParams}}
          </button>
        }
      }
    }
  }
</div>
<div (onEscape)="backToList()"
     class="small-buttons"
     solidifyShortCuts
>

</div>

