@import "../../../scss/abstracts/abstracts";

:host {
  background-color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-panel-maintenance;
  overflow-y: auto;
  display: grid;
  justify-content: center;
  align-items: center;

  .orcid-panel {
    box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 30px;
    max-width: 450px;
    color: $text-color;

    @include respond-to-smaller-than-breakpoint("sm") {
      box-shadow: none;
    }

    .orcid-text {
      height: 50px;

      ::ng-deep {
        .image {
          height: 50px;
        }
      }
    }

    .title {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      grid-gap: 10px;
      padding: 10px 0;

      @include respond-to-smaller-than-breakpoint("sm") {
        grid-template-columns: max-content;
        grid-auto-flow: revert;
      }

      .text {
        font-weight: bold;
        font-size: 16px;
      }
    }

    .subtitle {

    }
  }
}
