<div *ngIf="success | isTrue"
     class="orcid-panel"
>
  <solidify-icon [iconName]="iconNameEnum.orcidText"
                 class="orcid-text icon size-120"
  ></solidify-icon>
  <div class="title">
    <span class="text">{{labelTranslateInterface.coreOrcidRedirectTitle | translate}}</span>
    <solidify-icon [iconName]="iconNameEnum.orcid"
                   class="icon size-24"
    ></solidify-icon>
  </div>
  <div class="subtitle">{{labelTranslateInterface.coreOrcidRedirectSubtitle | translate}}</div>
</div>
