@import "../../../scss/abstracts/abstracts";

:host {
  .refresh-button {
    transition-property: transform;
    transition-duration: 1s;
    color: $primary-color;

    &.spinning {
      animation-name: rotate;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
