<button (click)="refresh()"
        (onEnter)="refresh()"
        [class.spinning]="isLoading"
        [disabled]="isLoading"
        [matTooltip]="labelTranslateInterface.coreRefresh | translate"
        class="refresh-button"
        mat-icon-button
        solidifyShortCuts
        type="button"
>
  <solidify-icon [iconName]="iconNameEnum.refresh"></solidify-icon>
</button>
