<form (keydown.escape)="closeByTab($event)"
      (keydown.shift.tab)="closeByShiftTab($event)"
      (keydown.tab)="closeByTab($event)"
      [formGroup]="form"
      class="form"
>
  <div class="input">
    <mat-form-field class="form-field mat-form-field-appearance-legacy"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslate.inputSearch | translate}}</mat-label>
      <input #input
             [autocomplete]="'off'"
             [formControlName]="host.formDefinition.search"
             [solidifyAutoFocus]="true"
             matInput
      >
    </mat-form-field>
    <solidify-icon (click)="close()"
                   [iconName]="iconNameEnum.close"
                   class="close"
    ></solidify-icon>
  </div>
</form>

<div *ngIf="listLastSelection?.length > 0 && !isActiveSearch()"
     class="last-selection"
>
  <span class="title">{{labelTranslate.selectLastSelection | translate}}</span>
  <ul>
    <li *ngFor="let value of listLastSelection"
        [value]="value[host.valueKey]"
        (click)="selectLastSelectionOrCommonValue(value);"
        matRipple
    >
      <mat-checkbox class="checklist"
                    [checked]="isActive(value)"
                    color="primary"
      >
        <span [innerHTML]="computeHighlightText(host.labelCallback(value))"
              class="label"
        ></span>
      </mat-checkbox>
    </li>
  </ul>
</div>

<div *ngIf="listCommonValues?.length > 0 && !isActiveSearch()"
     class="last-selection"
>
  <span class="title">{{host.displayCommonValuesLabel | translate}}</span>
  <ul>
    <li *ngFor="let value of this.listCommonValues"
        [value]="value[host.valueKey]"
        (click)="selectLastSelectionOrCommonValue(value)"
        matRipple

    >
      <mat-checkbox class="checklist"
                    [checked]="isActive(value)"
                    color="primary"
      >
        <span [innerHTML]="computeHighlightText(host.labelCallback(value))"
              class="label"
        ></span>
      </mat-checkbox>
    </li>
  </ul>
</div>

<div class="result">
  <mat-tree *ngIf="dataSource"
            [dataSource]="dataSource"
            [treeControl]="treeControl"
  >
    <mat-tree-node *matTreeNodeDef="let node"
                   matTreeNodeToggle
                   matTreeNodePadding
    >
      <button mat-icon-button
              disabled
      ></button>
      <mat-checkbox class="checklist-leaf-node"
                    [checked]="isCheckedNode(node)"
                    (change)="toggleTreeElement(node)"
                    color="primary"
      >
        <span [innerHTML]="computeHighlightText(node.name)"
              class="label"
        ></span>
      </mat-checkbox>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                   matTreeNodePadding
    >
      <button mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <ng-template [ngIf]="!host.onlyLastChildrenSelected"
                   [ngIfElse]="noCheckbox"
      >
        <mat-checkbox [checked]="isCheckedNode(node)"
                      [indeterminate]="isDescendantsPartiallySelected(node)"
                      (change)="toggleTreeElement(node)"
                      color="primary"
        >
        <span [innerHTML]="computeHighlightText(node.name)"
              class="label"
        ></span>
        </mat-checkbox>
      </ng-template>
      <ng-template #noCheckbox>
        <span [innerHTML]="computeHighlightText(node.name)"
              class="label"
        ></span>
      </ng-template>
    </mat-tree-node>
  </mat-tree>
</div>
