<mat-form-field [appearance]="appearance"
                [floatLabel]="floatLabelComputed"
                [class.disabled]="formControl.disabled"
                [class.mat-focused]="isOverlayOpen"
                [class]="classMatFormField"
                [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(formControl, displayEmptyRequiredFieldInError)"
                [solidifyOverlayData]="currentValue"
                [solidifyOverlayComponent]="overlayComponent"
                [solidifyOverlayExtra]="overlayExtra"
                (click)="focusInputIfNotClickTarget($event)"
                (onEscape)="closeOverlays()"
                solidifyOverlay
                solidifyTooltipOnEllipsis
                solidifyShortCuts
>
  <solidify-icon *ngIf="prefixIcon | isNotNullNorUndefined"
                 [iconName]="prefixIcon"
                 matPrefix
                 class="size-24"
  ></solidify-icon>
  <mat-label *ngIf="title | isNotNullNorUndefinedNorWhiteString">{{title}}</mat-label>
  <input [class]="classInputHide"
         [formControl]="formControl"
         [required]="required"
         matInput
  >
  <input #inputElementRef
         [disabled]="readonly"
         (focus)="openOverlay(inputElementRef)"
         (keydown.shift.tab)="closeOverlays(false,true)"
         (keydown.tab)="closeOverlays(true,true)"
         [autocomplete]="'off'"
         [placeholder]="placeholder"
         [value]="(selectedItem | isNotNullNorUndefined) ? ((preTreatmentHighlightText | isFunction) ? preTreatmentHighlightText(labelCallback(selectedItem))
          : labelCallback(selectedItem)) : ''"
         matInput
  >

  <button (click)="remove(selectedItem)"
          *ngIf="!formControl.disabled && (selectedItem | isNotNullNorUndefined)"
          aria-label="Clear"
          class="clear"
          mat-icon-button
          matSuffix
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.close"
                   class="size-16"
    ></solidify-icon>
  </button>

  <button *ngIf="(selectedItem | isNotNullNorUndefined) && isWithLink"
          [matTooltip]="tooltipNavigateToTranslate | translate"
          (click)="navigateTo($event, selectedItem)"
          (onEnter)="navigateTo($event, selectedItem)"
          aria-label="Navigate to"
          class="navigate-to"
          mat-icon-button
          matSuffix
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.internalLink"
                   class="size-16"
    ></solidify-icon>
  </button>

<!--  <solidify-icon *ngIf="appearance === APPEARANCE_OUTLINE"-->
<!--                 [iconName]="iconNameEnum.downArrow"-->
<!--                 matSuffix-->
<!--                 class="size-24 down-arrow"-->
<!--  ></solidify-icon>-->

  <mat-error solidifyTooltipOnEllipsis>{{formValidationHelper.getFormMetadataErrorFormattedString(formControl)}}</mat-error>
  <mat-hint *ngIf="hintToTranslate | isNotNullNorUndefinedNorWhiteString">{{hintToTranslate | translate}}</mat-hint>
</mat-form-field>
<a [tabIndex]="0"></a>
