@import "../searchable-single-select/searchable-single-select.presentational";

@include isInDarkMode {
  .mat-mdc-form-field {
    .clear {
      color: $dark-mode-text-color !important;
    }
  }
}
