<div (click)="openModal()"
     [class.is-readonly]="!isEditable"
     [solidifySpinner]="isLoadingObs | async"
     class="wrapper-avatar"
     solidifyFileDropZone
     (fileDropped)="fileChangeEvent($event)"
     [solidifyFileDropZoneDisabled]="!isEditable"

>
  <div *ngIf="imagePendingUploadUrl; else noPhoto"
       class="photo-wrapper"
  >
    <img *ngIf="sanitizeUrl(imagePendingUploadUrl) as image"
         [src]="image"
         alt=""
    >
  </div>
  <ng-template #noPhoto>
    <solidify-avatar [userInfo]="userInfo"
                     [mode]="imageDisplayModeEnum.UPLOAD"
                     class="avatar-initial"
    ></solidify-avatar>
  </ng-template>
  <div *ngIf="isEditable"
       class="edit-icon"
  >
    <solidify-icon [iconName]="iconNameEnum.uploadImage"
                   class="icon size-30"
    ></solidify-icon>
  </div>
</div>

<div *ngIf="isEditable && imagePendingUploadUrl"
     class="delete-link"
>
  <a (click)="delete()">{{labelTranslateInterface.imageUploadImageDelete | translate}}</a>
</div>

<input #fileInput
       (change)="fileChangeEventByInput($any($event))"
       [accept]="filesAccepted"
       class="hide"
       type="file"
>
