@import "../abstract-image-upload-wrapper/abstract-image-upload-wrapper.container";

$size: 145px;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar-initial {
    width: $size;
    height: $size;

    ::ng-deep {
      .avatar {
        font-size: 40px;
      }
    }
  }

  .wrapper-avatar {
    width: $size;
    height: $size;
    border-radius: 100%;

    .photo-wrapper {
      width: $size;
      height: $size;

      > img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 100%
      }
    }

    &:hover {
      .edit-icon {
        border-radius: 100%;
      }
    }
  }
}

:host(:not(.is-editable)) {
  cursor: initial;

  .wrapper-avatar {
    cursor: initial;
  }

  .avatar-initial {
    cursor: initial;
  }
}
