@import "../../../scss/abstracts/abstracts";

$button-width-desktop: 100px;

form {
  padding-top: 10px;

  .header {
    display: grid;
    grid-template-columns: max-content;
    justify-content: end;
    padding-bottom: 10px;
  }

  //> * {
  //  width: 30%;
  //
  //  @include respond-to-breakpoint('xs') {
  //    width: 100%;
  //  }
  //
  //  @include respond-to-breakpoint('sm') {
  //    width: 50%;
  //  }
  //
  //  @include respond-to-breakpoint('md') {
  //    width: 40%;
  //  }
  //}

  &.form-one-columns,
  &.form-two-columns {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      width: 60%;

      @include respond-to-breakpoint('xs') {
        width: 100%;
      }

      @include respond-to-breakpoint('sm') {
        width: 50%;
      }

      @include respond-to-breakpoint('md') {
        width: 80%;
      }
    }

    .two-columns-wrapper {
      display: flex;

      .left-part {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-right: 20px;

        > * {
          width: 100%;
        }
      }

      .right-part {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;

        > * {
          width: 100%;
        }
      }

      @include respond-to-smaller-than-breakpoint('md') {
        flex-direction: column;
        .left-part,
        .right-part {
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  .span-row {
    display: flex;

    @include respond-to-smaller-than-breakpoint('md') {
      flex-wrap: wrap;
    }

    > * {
      width: 100%;
    }

    &:not(.only-one) {
      > * {
        min-width: 140px;

        @include respond-to-breakpoint-and-bigger('md') {
          &:first-child {
            padding-right: 5px;
          }

          &:last-child {
            padding-left: 5px;
          }
        }
      }
    }
  }

  .link {
    //width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    a {
      width: fit-content;
    }
  }

  .storagion-list {
    padding-top: 10px;

    > * {
      width: 100%;
    }
  }
}

:host(.readonly) {
  ::ng-deep {
    .mat-datepicker-toggle,
    .mat-mdc-select-arrow-wrapper {
      visibility: hidden;
    }
  }
}

:host(.readonly.edit-available) {
  ::ng-deep {
    .mat-mdc-checkbox:not(.ignored-input),
    .mat-mdc-form-field:not(.ignored-input) {
      // Allow to click on disable input or textarea (allow to enter in edit mode on firefox)
      textarea[disabled],
      input[disabled] {
        pointer-events: none;
      }

      &:hover {
        cursor: pointer;
        position: relative;

        &::after {
          font-family: "Material Icons";
          content: 'edit';
          position: absolute;
          right: 10px;
          top: 10px;
          color: $primary-color-lighter;
          font-size: 15px;
        }

        input, textarea {
          cursor: pointer;
        }
      }
    }

    .mat-mdc-checkbox:not(.ignored-input):hover {
      &::after {
        right: 0;
        top: 0;
      }
    }

    .mat-mdc-checkbox.ignored-input,
    .mat-mdc-form-field.ignored-input {
      cursor: text;
      input, textarea {
        cursor: text;
      }
    }
  }
}
