@import "../../../core/components/presentationals/abstract-content/abstract-content.presentational";

:host {
  .button-wrapper {
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5px;

    @include respond-to-breakpoint('xs') {
      display: flex;
    }
  }

  .no-data {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
