<solidify-empty-container (keydown.enter)="select(host.list[indexSelected])"
                          (keydown.shift.tab)="closeByShiftTab($event)"
                          (keydown.tab)="closeByTab($event)"
                          (onEscape)="close()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <a [tabindex]="0"
  ></a>
  <div class="button-wrapper">
    <solidify-icon (click)="close()"
                   [iconName]="iconNameEnum.close"
                   class="close"
    ></solidify-icon>
  </div>
  <div [class.no-data]="host?.list?.length === 0"
       class="result"
  >
    <ng-template [ngIfElse]="noData"
                 [ngIf]="host.list | isNonEmptyArray"
    >

      <ul>
        <ng-container *ngFor="let value of host.list; let i = index">
          <li (click)="select(value)"
              *ngIf="!host.hideItemSelected || !isActive(value)"
              [class.is-active]="isActive(value)"
              [class.is-keyboard-selected]="i === indexSelected"
              [value]="host.translateLabel ? (host.labelCallback(value) | translate) : host.labelCallback(value)"
          >
            <span class="label">
              <ng-template [ngIf]="host.translateLabel"
                           [ngIfElse]="noTranslate"
              >
                {{host.labelCallback(value) | translate}}
              </ng-template>
              <ng-template #noTranslate>
                {{host.labelCallback(value)}}
              </ng-template>
            </span>
            <span *ngIf="value[host.extraInfoLabelKey] | isNonEmptyString"
                  class="extra-info"
            ><img *ngIf="host.extraInfoImage"
                  [alt]="host.extraInfoImage"
                  [src]="'assets/images/'+ host.extraInfoImage"
            >
              {{value[host.extraInfoLabelKey]}}</span>
          </li>
        </ng-container>
      </ul>
    </ng-template>
    <ng-template #noData>
      {{noDataToSelect | translate}}
    </ng-template>
  </div>
</solidify-empty-container>
