<div class="left">
  <ng-container *ngIf="leftTemplate; else image"
                [ngTemplateOutlet]="leftTemplate"
  ></ng-container>

  <ng-template #image>
    <div class="image">
      <solidify-icon *ngIf="iconName"
                     [iconName]="iconName"
                     class="size-120"
      ></solidify-icon>
    </div>
  </ng-template>
</div>

<div class="center">
  <ng-container [ngTemplateOutlet]="centerTemplate"></ng-container>
</div>

<div class="right">
  <ng-container [ngTemplateOutlet]="rightTemplate"></ng-container>
</div>
