@import "../../../scss/abstracts/abstracts";

:host {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  align-items: start;
  grid-gap: 30px;

  @include respond-to-smaller-than-breakpoint('md') {
    grid-template-columns: 1fr;
  }

  .left {
    @include respond-to-smaller-than-breakpoint('md') {
      display: flex;
      justify-content: center;
    }

    .image {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $extra-light-grey;
    }
  }

  .center {
    min-height: 100%;
    padding-right: 20px;
    border-right: 1px solid $extra-light-grey;

    @include respond-to-smaller-than-breakpoint('md') {
      border-right: none;
      padding-right: 0;
      min-height: initial;
    }

    ::ng-deep {
      > * {
        .mat-mdc-checkbox {
          display: block;
        }

        width: 100%;
      }
    }

  }

  .right {
    ::ng-deep {
      > * {
        .mat-mdc-checkbox {
          display: block;
        }

        width: 100%;
      }
    }
  }
}

:host(.large-image) {
  grid-template-columns: 400px 1fr 300px;

  @include respond-to-smaller-than-breakpoint('md') {
    grid-template-columns: 1fr;
  }
}

@include isInDarkMode {
  .left {
    .image {
      border-color: $dark-mode-line;
    }
  }

  .center {
    border-right-color: $dark-mode-line;
  }
}
