<div #mainButtonElement
     class="main-buttons"
>
  @for (button of listButtonMerged; track button) {
    @if (!button.displayCondition || (button.displayCondition(currentModel) | solidifyAsync)) {
      @if (button.navigate | isFunction) {
        <ng-container *ngIf="button.navigate(currentModel) as navigateValue">
          @if (navigateValue | isString) {
            <a (onEnter)="navigate(navigateValue)"
               (onEscape)="mode ==='edit' ? backToDetail() : backToList()"
               [color]="button.color"
               [disabled]="button.disableCondition && (button.disableCondition(currentModel) | solidifyAsync)"
               [matTooltip]="button.tooltipToTranslate | translate"
               [solidifyDataTest]="button.dataTest"
               [solidifyMatButtonTheme]="button.typeButton"
               [tabIndex]="0"
               [href]="getHref(navigateValue)"
               [target]="getTarget(button)"
               id="toolbar-btn-{{button.icon}}"
               mat-button
               solidifyShortCuts
            >
              <solidify-icon [iconName]="button.icon"></solidify-icon>
              {{(button.labelToTranslate(currentModel) | solidifyAsync) | translate:button.labelParams}}
            </a>
          } @else {
            <a (onEnter)="navigate(navigateValue)"
               (onEscape)="mode ==='edit' ? backToDetail() : backToList()"
               [color]="button.color"
               [disabled]="button.disableCondition && (button.disableCondition(currentModel) | solidifyAsync)"
               [matTooltip]="button.tooltipToTranslate | translate"
               [solidifyDataTest]="button.dataTest"
               [solidifyMatButtonTheme]="button.typeButton"
               [tabIndex]="0"
               [routerLink]="getRouterLink(navigateValue)"
               [queryParams]="getQueryParamValue(navigateValue)"
               id="toolbar-btn-{{button.icon}}"
               mat-button
               solidifyShortCuts
            >
              <solidify-icon [iconName]="button.icon"></solidify-icon>
              {{(button.labelToTranslate(currentModel) | solidifyAsync) | translate:button.labelParams}}
            </a>
          }
        </ng-container>
      } @else if (button.callback | isFunction) {
        <button #buttonRef
                (click)="button.callback(currentModel, buttonRef._elementRef)"
                (onEnter)="button.callback(currentModel, buttonRef._elementRef)"
                (onEscape)="mode ==='edit' ? backToDetail() : backToList()"
                [color]="button.color"
                [disabled]="button.disableCondition && (button.disableCondition(currentModel) | solidifyAsync)"
                [matTooltip]="button.tooltipToTranslate | translate"
                [solidifyDataTest]="button.dataTest"
                [solidifyMatButtonTheme]="button.typeButton"
                [tabIndex]="0"
                id="toolbar-btn-{{button.icon}}"
                mat-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="button.icon"></solidify-icon>
          {{(button.labelToTranslate(currentModel) | solidifyAsync) | translate:button.labelParams}}
        </button>
      }
    }
  }
</div>

<div (onEscape)="mode ==='edit' ? backToDetail() : backToList()"
     class="small-buttons"
     solidifyShortCuts
>
  @for (button of listExtraSmallButtons; track button) {
    @if (!button.displayCondition || (button.displayCondition(currentModel) | solidifyAsync)) {
      <button (click)="button.callback(currentModel)"
              (onEnter)="button.callback(currentModel)"
              [matTooltip]="button.labelToTranslate() | solidifyAsync | translate:button.labelParams"
              mat-icon-button
              type="button"
              solidifyShortCuts
      >
        <solidify-icon [iconName]="button.icon"></solidify-icon>
      </button>
    } @else {
      @if (button.navigate | isFunction) {
        <ng-container *ngIf="button.navigate(currentModel) as navigateValue">
          @if (navigateValue | isString) {
            <a (onEnter)="navigate(navigateValue)"
               [matTooltip]="button.labelToTranslate() | solidifyAsync | translate:button.labelParams"
               mat-icon-button
               type="button"
               solidifyShortCuts
               [href]="getHref(navigateValue)"
               [target]="getTarget(button)"
               target="_blank"
            >
              <solidify-icon [iconName]="button.icon"></solidify-icon>
            </a>
          } @else {
            <a (onEnter)="navigate(navigateValue)"
               [matTooltip]="button.labelToTranslate() | solidifyAsync | translate:button.labelParams"
               mat-icon-button
               type="button"
               solidifyShortCuts
               [routerLink]="getRouterLink(navigateValue)"
               [queryParams]="getQueryParamValue(navigateValue)"
            >
              <solidify-icon [iconName]="button.icon"></solidify-icon>
            </a>
          }
        </ng-container>
      }
    }
  }
  <solidify-button-id *ngIf="currentModel"
                      [resource]="currentModel"
  ></solidify-button-id>
  <solidify-button-status-history (onEnter)="showHistory()"
                                  (showHistory)="showHistory()"
                                  *ngIf="currentModel && historyAvailable"
                                  class="history"
                                  solidifyShortCuts
  ></solidify-button-status-history>
</div>
