@import "../core/scss/abstracts/abstracts";

$headerTextColor: $text-color-in-primary;
$headerBackgroundColor: $primary-color;
$bodyTextColor: #444444;

.data-table {
  border-collapse: unset !important;
  border-spacing: 0 !important;

  .spinner-background {
    top: 0;
    bottom: initial;
  }

  .header-button-and-pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;

    @include respond-to-breakpoint-and-bigger('md') {
      position: sticky;
      z-index: $z-index-sticky-paginate;
      background-color: $white;
    }

    &.is-multi-selectable {
      height: 95px;
    }
  }

  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    background-color: $extra-ultra-light-grey;
    color: $medium-light-grey;
    z-index: $z-index-sticky-datatable-header-title;
    position: relative;

    .message {
      font-size: 16px;
    }
  }

  .action-header {
    width: 55px;
  }

  .multi-select-checkbox-cell {
    width: 40px;
    text-align: center;
  }

  .table {
    border-collapse: collapse;
    position: relative;
    width: 100%;

    thead {
      color: $headerTextColor;
      background: $headerBackgroundColor;

      @include respond-to-smaller-than-breakpoint('md') {
        display: none;
      }

      tr {
        th {
          background: $headerBackgroundColor;
          position: sticky;
          z-index: $z-index-sticky-datatable-header;
          //display: inline-grid;
          //align-items: center;
          //grid-template-columns: max-content min-content;
          //grid-gap: 5px;
          padding: 4px 8px;
          box-sizing: border-box;

          &.multi-select-checkbox-cell {
            padding: 4px 10px;
          }
        }

        &.row-title {
          th {
            text-align: left;
            z-index: $z-index-sticky-datatable-header-title;

            &.refresh-button-cell {
              padding: 0;
              width: 40px;
              vertical-align: top;

              .refresh-button-component ::ng-deep .refresh-button {
                color: $text-color-in-primary !important;
              }
            }

            &.sortable-column {
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }

              .sortable-icon {
                position: relative;
                top: 2px;
              }
            }
          }
        }

        &.row-filter {
          th {
            &.data-table-filter {
              padding: 4px !important;
              $height-input: 30px;

              @mixin input-filter {
                background-color: $primary-color-lighter !important;
                border: 0;
                border-radius: 5px;
                padding: 6px 30px 6px 10px;
                width: 100%;
                color: $text-color-in-primary !important;
                height: $height-input;
                box-sizing: border-box;
              }

              .filter-searchable-single-select,
              .filter-single-select,
              .filter-boolean,
              .filter-number,
              .filter-string {
                position: relative;
                border: 1px solid transparent;

                .cancel-button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }

                &:focus {
                  box-shadow: 0 0 0 1px $grey;
                }

                .filter-input, .mat-mdc-select {
                  ::ng-deep {
                    @include input-filter;

                    &:focus {
                      box-shadow: 0 0 0 1px $grey;
                    }
                  }
                }

                button {
                  position: absolute;
                  top: -6px;
                  right: -5px;
                }
              }

              .filter-number {
                ::ng-deep {
                  input::-webkit-outer-spin-button,
                  input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }

                  input[type=number] {
                    -moz-appearance: textfield;
                  }
                }
              }

              .filter-boolean {
                position: relative;
                height: $height-input;

                .icon-boolean {
                  pointer-events: none;
                  position: absolute;
                  z-index: 1;
                  top: 4px;
                  left: 4px;
                }

                .select {
                  &:not(.no-value) ::ng-deep {
                    .mat-mdc-select-value {
                      visibility: hidden !important;
                    }
                  }
                }
              }

              .filter-boolean,
              .filter-single-select {
                height: $height-input;

                ::ng-deep {
                  .mat-mdc-select {
                    .mat-mdc-select-value {
                      color: $text-color-in-primary !important;
                      font-weight: initial;
                      text-align: left;

                      > span {
                        color: $text-color-in-primary !important;
                      }
                    }

                    .mat-mdc-select-arrow {
                      color: $text-color-in-primary !important;
                    }

                    &.no-value {
                      padding-right: 6px;
                    }

                    &:focus {
                      box-shadow: 0 0 0 1px $grey;
                    }

                  }
                }
              }

              .filter-searchable-single-select {
                height: $height-input;

                ::ng-deep {

                  form input {
                    @include input-filter;
                    text-align: left;
                    font-weight: initial;
                    margin: 0 !important;
                    border: 1px solid transparent;
                  }

                  .mat-mdc-form-field {
                    margin: 0;

                    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                      background: none;
                    }

                    .mat-mdc-text-field-wrapper {
                      padding: 0;
                      overflow: visible;

                      .mat-mdc-form-field-focus-overlay {
                        background: none;
                      }

                      .mat-mdc-form-field-infix {
                        padding: 0;
                        border: 0;
                        min-height: initial;
                      }
                    }

                    .mat-mdc-form-field-icon-suffix {
                      margin: 0;
                      padding: 0;
                    }

                    .mdc-line-ripple {
                      display: none;
                    }
                  }

                  .clear {
                    position: absolute;
                    top: -20px;
                    right: -5px;
                    @include icon(24px);
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.mat-mdc-icon-button {
                      solidify-icon {
                        @include icon(24px);

                        > .icon {
                          @include icon(24px);
                          color: $text-color-in-primary;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

        }
      }
    }

    tbody {
      tr {
        &.space-guard-row {
          height: 23px;
        }

        &:nth-child(odd) {
          // Allow pyjama
          background-color: $background-grey !important;
        }

        td {
          @include truncate-with-ellipsis();
          padding: 10px 8px;
          color: $bodyTextColor;
          white-space: pre-line;

          &.link-row {
            padding: 0;
            cursor: initial;

            > a {
              display: block;
              text-decoration: none;
              color: inherit;
              height: 100%;
              align-items: center;
              padding: 16px 8px;
              cursor: pointer;
            }
          }

          &.break-word {
            word-break: break-word;
          }

          &.center {
            text-align: center;
          }

          .list-item {
            @include truncate-with-ellipsis;

            @include respond-to-smaller-than-breakpoint('md') {
              width: initial !important;
              min-width: initial !important;
              max-width: initial !important;
            }
          }

          @include respond-to-smaller-than-breakpoint('md') {
            display: flex !important;
            flex-direction: column;
            width: initial !important;
            min-width: initial !important;
            max-width: initial !important;

            &.mobile-action-bar {
              flex-direction: row;

              > .action-button {
                margin-right: 10px;
              }
            }
          }

          .ui-column-title {
            font-weight: bold;
          }

          &.desktop-action {
            padding-left: 0;
            padding-right: 0;

            .action-button-wrapper {
              visibility: hidden;

              &.always-display {
                visibility: visible;
              }
            }
          }

          &.multi-select-checkbox-cell {
            padding: 0;
          }

          .drag-to-sort-icon {
            cursor: grab;
            color: $medium-light-grey;
            display: grid;
            align-items: center;
            justify-content: center;

            &:active {
              cursor: grabbing;
            }
          }
        }

        &.force-hover,
        &:focus,
        &:hover {
          .desktop-action {
            .action-button-wrapper {
              visibility: visible;
            }
          }
        }

        &:focus {
          background-color: $primary-color-lighter !important;
        }

        &.is-highlighting {
          td {
            font-weight: bold;
            color: $primary-color;
          }
        }
      }

      &.cdk-drop-list-dragging {
        tr {
          &:nth-child(odd) {
            background-color: initial !important;
          }

          &.cdk-drag {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
          }

          &.cdk-drag-animating {
            transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
          }
        }
      }
    }

  }

  .action-button-wrapper {
    position: relative;

    .action-button {
      position: absolute;
      top: -20px;

      &.hidden {
        display: none;
      }

      &.visible {
        visibility: visible;
      }


    }
  }

  .action-button {
    ::ng-deep {
      .mat-badge-content {
        right: 2px;
        top: 0;
      }
    }
  }
}

.cdk-drag-preview {
  background-color: $white;
  color: $text-color;
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px $outline;

  .icon {
    margin-right: 10px;
  }
}

.cdk-drag-animating {
  //transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.is-droppable {
  .drag-placeholder {
    background: $medium-light-grey;
    height: 2px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

:host-context(body[ui='touch']) {
  .table {
    tbody {
      tr {
        td {
          &.desktop-action {
            .action-button-wrapper {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

:host(.is-clickable) {
  .table {
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}

@include isInDarkMode {
  .data-table {
    .header-button-and-pagination {
      @include respond-to-breakpoint-and-bigger('md') {
        background-color: $dark-mode-background;
      }
    }

    .no-data {
      background-color: $dark-mode-toolbar;
      color: $dark-mode-text-color;
    }

    .table {
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: $dark-mode-toolbar !important;
          }

          td {
            color: $dark-mode-text-color;
          }

          &.is-highlighting {
            td {
              color: $primary-color;
            }
          }
        }

        &.cdk-drop-list-dragging {
          tr {
            &:nth-child(odd) {
              background-color: initial !important;
            }
          }
        }
      }
    }
  }
}
