<ng-template [ngTemplateOutletContext]="{
             isSmallerOrEqualThanMd: _breakpointService.isSmallerOrEqualThanMdObs() | async,
             isBiggerThanMd: _breakpointService.isBiggerThanMdObs() | async
             }"
             [ngTemplateOutlet]="tableTemplate"
>
</ng-template>

<ng-template #tableTemplate
             let-isBiggerThanMd="isBiggerThanMd"
             let-isSmallerOrEqualThanMd="isSmallerOrEqualThanMd"
>
  <div #dataTable
       [solidifyFocusFirstElement]="focusFirstElement"
       class="data-table"
       [class.have-no-data]="!isLoading && !isDataPresent"
  >
    <div #headerButtonAndPagination
         [class.is-multi-selectable]="isMultiSelectable"
         [style.top]="stickyTopPositionText"
         class="header-button-and-pagination"
    >
      <div class="button-wrapper">
        <ng-template [ngIf]="displayPropositionSelectAllResult">
          <ng-template [ngIfElse]="purposeSelectAll"
                       [ngIf]="displaySelectAllElementSuccess"
          >
            {{
                  labelTranslate.dataTableAllElementSearchedSelected | translate:{numberElementSelected: multiSelectionValueOnAllPages.length}
            }}
            <button (click)="cleanSelection()"
                    (onEnter)="cleanSelection()"
                    color="primary"
                    mat-button
                    solidifyShortCuts
                    type="button"
            >
              {{labelTranslate.dataTableClearSelection | translate}}
            </button>
          </ng-template>
          <ng-template #purposeSelectAll>
            {{
                  labelTranslate.dataTableCurrentPageElementSelected | translate:{numberElementSelected: data.length}
            }}
            <button (click)="selectAllResult()"
                    (onEnter)="selectAllResult()"
                    color="primary"
                    mat-button
                    solidifyShortCuts
                    type="button"
            >
              {{
                    labelTranslate.dataTableSelectAllElement | translate:{numberAllElement: queryParameters.paging.length}
              }}
            </button>
          </ng-template>
        </ng-template>
      </div>
      <button type="button"
              style="height: 1px; width: 1px; opacity: 0"
      ></button>
      <solidify-paginator #paginator
                          *ngIf="queryParameters && isDataPresent === true"
                          [class.wrap]="displayPropositionSelectAllResult"
                          [pagingModel]="queryParameters.paging"
                          (pageChange)="pageChange($event)"
                          [class]="classBypassEdit + ' paginator'"
      >
      </solidify-paginator>
    </div>
    <table [cdkDropListConnectedTo]="listCdkDropListIdPrefixed"
           cdkDropList
           cdkDropListSortingDisabled
           class="table"
    >

      <thead #thead>
      <tr #headerTitleLine
          class="row-title"
      >
        <th *ngIf="isMultiSelectable"
            [style.top]="stickyTopPositionTitleText"
            class="multi-select-checkbox-cell"
        >
          <mat-checkbox (change)="toggleCurrentPageCheckbox($event)"
                        (click)="avoidOpen($event)"
                        [disabled]="data?.length === 0"
                        [indeterminate]="multiSelectionValueOnCurrentPageCounter > 0 && multiSelectionValueOnCurrentPageCounter < data?.length"
                        [ngModel]="data?.length !== 0 && multiSelectionValueOnCurrentPageCounter === data?.length"
                        color="primary"
          ></mat-checkbox>
        </th>
        <th *ngFor="let col of columns"
            [class.sortable-column]="col.isSortable"
            [style.max-width]="getMaxWidth(col)"
            [style.min-width]="getMinWidth(col)"
            [style.top]="stickyTopPositionTitleText"
            [style.width]="getWidth(col)"
            [style.text-align]="getAlignment(col)"
            [attr.data-field]="col.field"
            (click)="sort(col)"
        >
          {{col.header | translate}}
          <solidify-icon *ngIf="col.isSortable"
                         [iconName]="getSortIcon(col)"
                         class="size-16 sortable-icon"
          ></solidify-icon>
        </th>

        <ng-template [ngForOf]="actionsUnwrapped"
                     let-actionNotTyped
                     ngFor
        >
          <ng-container *ngIf="typeIntoAction(actionNotTyped) as action">
            <th *ngIf="displayActionOnCondition(action) | solidifyAsync"
                [style.top]="stickyTopPositionTitleText"
                class="action-header"
            >
            </th>
          </ng-container>
        </ng-template>

        <th *ngIf="isDraggable && isDroppable"
            [style.top]="stickyTopPositionTitleText"
        ></th>

        <th [style.top]="stickyTopPositionTitleText"
            class="refresh-button-cell"
        >
          <solidify-button-refresh *ngIf="isInMemory | isFalse"
                                   [isLoading]="isLoading"
                                   (refresh)="refresh()"
                                   class="refresh-button-component"
          ></solidify-button-refresh>
        </th>
      </tr>
      <tr *ngIf="displayFilters"
          class="row-filter"
      >
        <th *ngIf="isMultiSelectable"
            [style.top]="stickyTopPositionFilterText"
        >

        </th>
        <th *ngFor="let col of columns"
            [style.max-width]="getMaxWidth(col)"
            [style.min-width]="getMinWidth(col)"
            [style.top]="stickyTopPositionFilterText"
            [style.width]="getWidth(col)"
            [style.text-align]="getAlignment(col)"
            class="data-table-filter"
        >
          <ng-container *ngIf="getFilterFormControl(col) as fc">
            <ng-template [ngIf]="col.isFilterable">
              <ng-container [ngSwitch]="col.type">
                <ng-container *ngSwitchCase="fieldTypeEnum.searchableSingleSelect">
                  <div class="filter-searchable-single-select">
                    <solidify-searchable-single-select [appearance]="'fill'"
                                                       [extraSearchQueryParam]="col.extraSearchQueryParam"
                                                       [formControl]="fc"
                                                       [labelCallback]="col.resourceLabelCallback"
                                                       [labelKey]="(col.resourceLabelKey | isNullOrUndefined) ? 'name' : col.resourceLabelKey"
                                                       [extraInfoSecondLineLabelCallback]="col.resourceExtraLabelSecondLineCallback"
                                                       [resourceNameSpace]="col.resourceNameSpace"
                                                       [solidifyDataTest]="col.dataTest"
                                                       [sort]="col.searchableSingleSelectSort"
                                                       [state]="$any(col.resourceState)"
                                                       [valueKey]="(col.resourceValueKey | isNullOrUndefined) ? 'resId' : col.resourceValueKey"
                                                       [subscriptSizing]="'dynamic'"
                                                       (valueChange)="searchChange(col, $event)"
                                                       solidifyValidation
                    >
                    </solidify-searchable-single-select>
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="fieldTypeEnum.singleSelect">
                  <div class="filter-single-select">
                    <mat-select [class.no-value]="fc.value | isNullOrUndefinedOrWhiteString"
                                [solidifyDataTest]="col.dataTest"
                                [formControl]="fc"
                                solidifyTooltipOnEllipsis
                    >
                      <mat-option>{{labelTranslate.dataTableAll | translate}}</mat-option>
                      <mat-option *ngFor="let filter of getFilteredEnumSorted(col); trackBy: trackByKeyValueFunction"
                                  [value]="filter.key"
                                  solidifyTooltipOnEllipsis
                      >
                        {{filter.value}}
                      </mat-option>
                    </mat-select>
                    <button (click)="cleanFilter(fc)"
                            (onEnter)="cleanFilter(fc)"
                            *ngIf="fc.value | isNotNullNorUndefinedNorEmpty"
                            aria-label="Clear"
                            mat-icon-button
                            type="button"
                            matSuffix
                            solidifyShortCuts
                            class="cancel-button"
                    >
                      <solidify-icon [iconName]="iconNameEnum.close"
                                     matSuffix
                      ></solidify-icon>
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="col.type === fieldTypeEnum.string || col.type === fieldTypeEnum.actionButton || col.type === fieldTypeEnum.innerHtml
              ? col.type : ''"
                >
                  <div class="filter-string">
                    <input [solidifyDataTest]="col.dataTest"
                           [formControl]="fc"
                           class="filter-input"
                           type="text"
                    >
                    <button (click)="cleanFilter(fc)"
                            (onEnter)="cleanFilter(fc)"
                            *ngIf="fc.value | isNotNullNorUndefinedNorEmpty"
                            aria-label="Clear"
                            mat-icon-button
                            type="button"
                            matSuffix
                            solidifyShortCuts
                            class="cancel-button"
                    >
                      <solidify-icon [iconName]="iconNameEnum.close"
                                     matSuffix
                      ></solidify-icon>
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="col.type === fieldTypeEnum.number || col.type === fieldTypeEnum.size ? col.type : ''">
                  <div class="filter-number">
                    <input [solidifyDataTest]="col.dataTest"
                           [formControl]="fc"
                           class="filter-input"
                           type="number"
                    >
                    <button *ngIf="fc.value | isNotNullNorUndefinedNorEmpty"
                            (click)="cleanFilter(fc)"
                            (onEnter)="cleanFilter(fc)"
                            aria-label="Clear"
                            mat-icon-button
                            type="button"
                            matSuffix
                            solidifyShortCuts
                            class="cancel-button"
                    >
                      <solidify-icon [iconName]="iconNameEnum.close"
                                     matSuffix
                      ></solidify-icon>
                    </button>
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="fieldTypeEnum.boolean">
                  <div class="filter-boolean">
                    <solidify-icon *ngIf="fc.value === false"
                                   [iconName]="iconNameEnum.falseValue"
                                   class="icon-boolean"
                    ></solidify-icon>
                    <solidify-icon *ngIf="fc.value === true"
                                   [iconName]="iconNameEnum.trueValue"
                                   class="icon-boolean"
                    ></solidify-icon>
                    <mat-select [class.no-value]="fc.value | isNullOrUndefinedOrWhiteString"
                                [solidifyDataTest]="col.dataTest"
                                [formControl]="fc"
                                class="select"
                                solidifyTooltipOnEllipsis
                    >
                      <mat-option solidifyTooltipOnEllipsis>{{labelTranslate.dataTableAll | translate}}</mat-option>
                      <mat-option [value]="true"
                                  solidifyTooltipOnEllipsis
                      >
                        <solidify-icon [iconName]="iconNameEnum.trueValue"></solidify-icon>
                      </mat-option>
                      <mat-option [value]="false"
                                  solidifyTooltipOnEllipsis
                      >
                        <solidify-icon [iconName]="iconNameEnum.falseValue"></solidify-icon>
                      </mat-option>
                    </mat-select>
                    <button (click)="cleanFilter(fc)"
                            (onEnter)="cleanFilter(fc)"
                            *ngIf="(fc.value | isBoolean)"
                            aria-label="Clear"
                            mat-icon-button
                            type="button"
                            matSuffix
                            solidifyShortCuts
                            class="cancel-button"
                    >
                      <solidify-icon [iconName]="iconNameEnum.close"
                                     matSuffix
                      ></solidify-icon>
                    </button>
                  </div>
                </ng-container>
              </ng-container>
            </ng-template>
          </ng-container>
        </th>

        <ng-template [ngForOf]="actionsUnwrapped"
                     let-action
                     ngFor
        >
          <th *ngIf="displayActionOnCondition(action) | solidifyAsync"
              [style.top]="stickyTopPositionFilterText"
          >
          </th>
        </ng-template>
        <th *ngIf="isDraggable && isDroppable"
            [style.top]="stickyTopPositionFilterText"
        ></th>
        <th [style.top]="stickyTopPositionFilterText"></th>
      </tr>
      </thead>

      <tbody #tbody
             [solidifySpinner]="displaySpinnerWhenLoading && isLoading"
             [solidifySpinnerTop]="theadHeight"
             [solidifySpinnerHeight]="tbodyHeight"
             [solidifySpinnerMinHeight]="175"
             [class.is-droppable]="isDroppable"
             cdkDropList
             [cdkDropListConnectedTo]="listCdkDropListIdPrefixed"
             [cdkDropListSortingDisabled]="!isDroppable"
             [cdkDropListDisabled]="!isDroppable && !isDraggable"
             (cdkDropListDropped)="dropToSort($event)"
      >

      <tr *ngFor="let rowData of (isInMemory ? dataPaginatedInMemory : (preloadRowsForPage ? dataForPage : data)); trackBy: trackByFunction"
          [cdkDragData]="rowData"
          [cdkDragDisabled]="!isDraggable"
          [class.force-hover]="rowData === forceHoverRowData"
          [class.is-highlighting]="isHighlighting(rowData)"
          [matTooltip]="(lineTooltipCallback | isFunction) ? (lineTooltipCallback(rowData) | translate) : undefined"
          [hidden]="isEmptyData(rowData)"
          (cdkDragStarted)="dragStart($event)"
          (cdkDragEnded)="dragEnd($event)"
          (click)="isNotNullNorUndefined(detailRouteToInterpolate) ? undefined : showDetail(rowData)"
          (onEnter)="showDetail(rowData)"
          cdkDrag
          solidifyShortCuts
      >
        <div *cdkDragPreview>
          <solidify-icon *ngIf="!(draggablePreviewMatIcon | isNullOrUndefined)"
                         [iconName]="draggablePreviewMatIcon"
                         class="icon"
          ></solidify-icon>
          <span *ngIf="!(draggablePreviewColumn | isNullOrUndefined)"
                class="label"
          >{{rowData[$any(draggablePreviewColumn)]}}</span>
        </div>

        <td *cdkDragPlaceholder
            class="drag-placeholder"
            [attr.colspan]="1 + columns.length + 3"
        ></td>

        <td (click)="avoidOpen($event)"
            *ngIf="isMultiSelectable"
            class="multi-select-checkbox-cell"
        >
          <mat-checkbox #checkbox
                        (change)="toggleCheckbox($event, rowData)"
                        (click)="avoidOpen($event)"
                        [checked]="isLineSelected(rowData)"
                        color="primary"
          ></mat-checkbox>
        </td>
        <td *ngFor="let col of columns"
            [class.is-component-cell]="col.component"
            [style.max-width]="getMaxWidth(col)"
            [style.min-width]="getMinWidth(col)"
            [style.width]="getWidth(col)"
            [style.text-align]="getAlignment(col)"
            [attr.data-field]="col.field"
            [class.break-word]="col.breakWord | isTrue"
            [class.center]="col.centerContent | isTrue"
            [class.is-highlighting-cell]="isHighlightingCell(col, rowData)"
            [class.link-row]="detailRouteToInterpolate | isNotNullNorUndefinedNorWhiteString"
        >
          @if ((col.conditionallyDisplay | isNullOrUndefined)
          || ((col.conditionallyDisplay | isFunction) && (col.conditionallyDisplay(rowData) | isTrue))) {

            <span *ngIf="isSmallerOrEqualThanMd"
                  class="ui-column-title"
            >{{col.header | translate}}</span>

            @if (detailRouteToInterpolate | isNotNullNorUndefinedNorWhiteString) {
              <a [routerLink]="'/' + detailRouteInterpolated(rowData)"
                 class="no-hover-animation"
                 [style.text-align]="getAlignment(col)"
              >
                <ng-template [ngTemplateOutlet]="cell"></ng-template>
              </a>
            } @else {
              <ng-template [ngTemplateOutlet]="cell"></ng-template>
            }

            <ng-template #cell>
              @if (col.component) {
                <div *ngIf="(col.component.conditionalDisplay | isNullOrUndefined) || (col.component.conditionalDisplay(rowData, col) | isTrue)"
                     [col]="col"
                     [rowData]="rowData"
                     solidifyDataTableAnchorDynamicInjection
                ></div>
              } @else {
                <ng-template [ngTemplateOutletContext]="{rowData: rowData, col: col}"
                             [ngTemplateOutlet]="colNoComponentTemplate"
                >
                </ng-template>
              }
            </ng-template>
          }
        </td>

        <td *ngIf="isSmallerOrEqualThanMd"
            class="mobile-action-bar"
        >
          <div *ngFor="let action of actions"
               [matTooltipPosition]="'right'"
               [matTooltip]="action.placeholder(rowData) | solidifyAsync | translate"
          >
            <ng-container *ngTemplateOutlet="actionButton; context: {$implicit: action}"></ng-container>
          </div>
        </td>

        <ng-template [ngIf]="isBiggerThanMd">
          <ng-template [ngForOf]="actionsUnwrapped"
                       let-action
                       ngFor
          >
            <td *ngIf="displayActionOnCondition(action) | solidifyAsync"
                class="desktop-action"
                style="width: 55px"
            >
              <div [matTooltipPosition]="'right'"
                   [matTooltip]="action.placeholder(rowData) | solidifyAsync | translate"
                   class="action-button-wrapper"
              >
                <ng-container *ngTemplateOutlet="actionButton; context: {$implicit: action}"></ng-container>
              </div>
            </td>
          </ng-template>
        </ng-template>

        <ng-template #actionButton
                     let-actionNotTyped
        >
          <ng-container *ngIf="typeIntoAction(actionNotTyped) as action">
            <button #buttonActionRef
                    *ngIf="displayActionOnCondition(action, rowData)| solidifyAsync"
                    (click)="callCallback($event, action.callback, rowData)"
                    (onEnter)="callCallback($event, action.callback, rowData)"
                    [disabled]="isDisabledAction(action, rowData) | solidifyAsync"
                    [ngClass]="calculateClasses(action)"
                    (mouseover)="callMouseoverCallback($event, action.mouseoverCallback, rowData)"
                    [matBadge]="action.displayNumberItems ? (action.displayNumberItems(rowData) | solidifyAsync) : undefined"
                    [matBadgeHidden]="action.displayNumberItems ? (action.displayNumberItems(rowData) | solidifyAsync) === 0 : true"
                    class="action-button"
                    matBadgeSize="small"
                    mat-icon-button
                    type="button"
                    solidifyShortCuts
            >
              <solidify-icon [iconName]="action.logo"></solidify-icon>
            </button>
          </ng-container>
        </ng-template>

        <td class="desktop-action "
            style="width: 40px"
        >
          <!--          REFRESH BUTTON COLUMN-->
          <ng-template [ngIf]="isBiggerThanMd">
            <div *ngIf="actionsWrapped.length > 0"
                 [class.always-display]="alwaysDisplayButtonActionsWrapped"
                 [matTooltipPosition]="'right'"
                 [matTooltip]="labelTranslate.dataTableMoreOptions | translate"
                 class="action-button-wrapper"
            >
              <ng-container *ngTemplateOutlet="actionButtonWrapper; context: {$implicit: actionsWrapped}"></ng-container>
            </div>
          </ng-template>

          <ng-template #actionButtonWrapper
                       let-actionsNotTyped
          >
            <ng-container *ngIf="typeIntoActions(actionsNotTyped) as actions">
              <button (click)="preventDefault($event)"
                      (menuClosed)="setForceHoverRowData(undefined)"
                      (menuOpened)="setForceHoverRowData(rowData)"
                      *ngIf="displayActionsWrapperOnCondition(actions, rowData)"
                      [matMenuTriggerFor]="menu"
                      aria-label="more"
                      class="action-button"
                      mat-icon-button
                      type="button"
              >
                <solidify-icon [iconName]="iconNameEnum.more"></solidify-icon>
              </button>

              <mat-menu #menu="matMenu">
                <ng-template [ngForOf]="actions"
                             let-actionNotTyped
                             ngFor
                >
                  <ng-container *ngIf="typeIntoAction(actionNotTyped) as action">
                    <button *ngIf="displayActionOnCondition(action, rowData) | solidifyAsync"
                            [disabled]="isDisabledAction(action, rowData) | solidifyAsync"
                            [ngClass]="calculateClasses(action)"
                            (click)="callCallback($event, action.callback, rowData, false)"
                            (onEnter)="callCallback($event, action.callback, rowData, false)"
                            (mouseover)="callMouseoverCallback($event, action.mouseoverCallback, rowData)"
                            mat-menu-item
                            solidifyShortCuts
                    >
                      <!--                            style="display: grid; align-items: center; grid-template-columns: min-content 1fr;"-->
                      <solidify-icon [iconName]="action.logo"
                                     ngProjectAs="mat-icon"
                      ></solidify-icon>
                      <!--                      style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"-->

                      <span solidifyTooltipOnEllipsis
                            class="text"
                      >{{action.placeholder(rowData) | solidifyAsync | translate}}</span>
                    </button>
                  </ng-container>
                </ng-template>
              </mat-menu>
            </ng-container>
          </ng-template>

        </td>

        <td *ngIf="isDraggable && isDroppable">
          <div cdkDragHandle
               class="drag-to-sort-icon"
          >
            <solidify-icon [iconName]="iconNameEnum.dragToSort"
                           class="size-24"
            ></solidify-icon>
          </div>
        </td>
      </tr>
      </tbody>

    </table>

    <div *ngIf="!isLoading && !isDataPresent"
         class="no-data"
    >
      <span class="message">{{labelTranslate.dataTableNoData | translate}}</span>
    </div>
  </div>
</ng-template>

<ng-template #colNoComponentTemplate
             let-colNotTyped="col"
             let-rowDataNotType="rowData"
>
  <ng-container *ngIf="typeIntoColumn(colNotTyped) as col">
    <ng-container *ngIf="typeIntoRowData(rowDataNotType) as rowData">
      <ng-container [ngSwitch]="col.type">
        <ng-container *ngSwitchCase="fieldTypeEnum.actionButton">
          <ng-container *ngIf="col.action as action">
            <button (click)="callCallback($event, action.callback, rowData)"
                    (onEnter)="callCallback($event, action.callback, rowData)"
                    *ngIf="displayActionOnCondition(action, rowData)| solidifyAsync"
                    [disabled]="isDisabledAction(action, rowData) | solidifyAsync"
                    [ngClass]="calculateClasses(action)"
                    (mouseover)="callMouseoverCallback($event, action.mouseoverCallback, rowData)"
                    [matTooltipPosition]="'right'"
                    [matTooltip]="action.placeholder(rowData) | solidifyAsync | translate"
                    mat-icon-button
                    type="button"
                    solidifyShortCuts
            >
              <solidify-icon [iconName]="action.logo"></solidify-icon>
            </button>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="fieldTypeEnum.size">
          {{getCellData(rowData, col) | filesize}}
        </ng-container>

        <ng-container *ngSwitchCase="fieldTypeEnum.listToJoinString">
          {{convertListToString(rowData, col)}}
        </ng-container>

        <ng-container *ngSwitchCase="fieldTypeEnum.list">
          <ul *ngIf="getCellData(rowData, col) as list">
            <li *ngFor="let item of getMaxItemIfDefined(list, col)"
                class="list-item"
                [style.max-width]="getMaxWidth(col)"
                [style.min-width]="getMinWidth(col)"
                [style.width]="getWidth(col)"
                [style.text-align]="getAlignment(col)"
                solidifyTooltipOnEllipsis
            >{{applyCallbackToListItemIfDefined(item, col)}}
            </li>
          </ul>
        </ng-container>

        <ng-container *ngSwitchCase="fieldTypeEnum.innerHtml">
          <span [innerHTML]="getCellData(rowData, col)"
                solidifyTooltipOnEllipsis
          ></span>
        </ng-container>

        <ng-container *ngSwitchDefault>

          <ng-template [ngTemplateOutletContext]="{rowData: rowData, col: col}"
                       [ngTemplateOutlet]="colCellDefault"
          >
          </ng-template>

        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>


<ng-template #colCellDefault
             let-colNotTyped="col"
             let-rowDataNotType="rowData"
>
  <ng-container *ngIf="typeIntoColumn(colNotTyped) as col">
    <ng-container *ngIf="typeIntoRowData(rowDataNotType) as rowData">
      <ng-template [ngIf]="(col.resourceLabelCallback | isFunction) && (col.useResourceLabelCallback | isTrue)"
                   [ngIfElse]="noResourceLabelCallback"
      >
        <span solidifyTooltipOnEllipsis>{{col.resourceLabelCallback(getCellData(rowData, col))}}</span>
      </ng-template>

      <ng-template #noResourceLabelCallback>

        <ng-template [ngIfElse]="noTranslate"
                     [ngIf]="col.translate"
        >
          <span *ngIf="getCellData(rowData, col) as value"
                solidifyTooltipOnEllipsis
          >
            <ng-template [ngIf]="(col.filterEnum | isNonEmptyArray) && !isInstanceOfKeyValue(col.filterEnum[0])"
                         [ngIfElse]="keyValueTranslate"
            >
              {{value | backtranslate}}
            </ng-template>
            <ng-template #keyValueTranslate>
              {{value | translate}}
            </ng-template>
          </span>
        </ng-template>

        <ng-template #noTranslate>
          <span *ngIf="col.type !== fieldTypeEnum.boolean && col.type !== fieldTypeEnum.number"
                solidifyTooltipOnEllipsis
          >
            {{getCellData(rowData, col)}}
          </span>

          <span *ngIf="col.type === fieldTypeEnum.number"
                solidifyTooltipOnEllipsis
          >
            {{getCellData(rowData, col) | number:col.numberPipeDigitsInfo:col.numberPipeLocale}}
          </span>

          <solidify-icon *ngIf="col.type === fieldTypeEnum.boolean"
                         [iconName]="(getCellData(rowData, col) && !isColumnValueInverted(col))
                         || (getCellData(rowData, col) === false && isColumnValueInverted(col))
                         ? iconNameEnum.trueValue : iconNameEnum.falseValue"
                         matSuffix
          ></solidify-icon>
        </ng-template>

      </ng-template>
    </ng-container>
  </ng-container>
</ng-template>
