@import "../../../core/scss/abstracts/abstracts";

:host {
  display: block;
  min-height: 300px;
  min-width: 300px;

  ::ng-deep {
    .visualization-container {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      &.zoom-in {
        cursor: zoom-in;
        overflow-y: auto;
        max-height: 100%;
      }

      &.zoom-out {
        cursor: zoom-out;
        overflow-y: auto;
        max-height: 100%;
      }

      &[viewer='csv'] {
        canvas-datagrid {
          overflow: auto;
          display: block;
        }
      }

      &[viewer='xlsx'] {
        canvas-datagrid {
          overflow: auto;
          display: block;

          &.hide {
            display: none;
          }
        }

        .tabs-selectors {
          margin-top: 5px;

          li {
            display: inline-block;
            padding: 5px 10px;
            cursor: pointer;
            border: 1px solid $medium-light-grey;
            border-top: none;

            &:not(:last-child) {
              border-right: none;
            }

            &:hover {
              text-decoration: underline;
            }

            &.is-active {
              cursor: initial;
              font-weight: bold;
              text-decoration: initial;
            }
          }
        }
      }

      &[viewer='docx'] {
        .message-banner {
          text-align: center;
          padding: 10px 0;
          color: $warning;
        }

        .docx-wrapper {
          display: grid;
          overflow: auto;
          max-height: 65vh;

          .docx {
            justify-self: center;
          }
        }
      }

      &[viewer='pdf'],
      &[viewer='pdf-with-toolbar'] {
        pdf-viewer {
          height: 65vh;

          .ng2-pdf-viewer-container {
            overflow: auto;
            max-height: 65vh !important;
          }
        }
      }

      &[viewer='pdf-with-toolbar'] {
        solidify-viewer-tool-bar {
          display: block;
          padding: 2px;
        }
      }

    }

    .spinner-background {
      background-color: rgba(255, 255, 255, 0.66);
      height: 100%;
      min-height: 300px;
      min-width: 300px;
      animation: from-transparent-background-color 0.5s ease-in-out;
    }
  }
}

:host(.is-in-dialog) {
  ::ng-deep {
    .visualization-container {
      &[viewer='pdf'],
      &[viewer='pdf-with-toolbar'] {
        display: block;
        height: 58vh;
        width: 1000px;

        .ng2-pdf-viewer-container {
          max-height: 58vh !important;
        }
      }

      &[viewer='docx'] {
        .docx-wrapper {
          max-height: 58vh;
        }
      }
    }
  }
}

@include isInDarkMode {
  .visualization-container {
    .spinner-background {
      background-color: rgba(48, 48, 48, 0.78);
    }
  }
}
