<div #visualizationContainer
     class="visualization-container"
>
  <ng-template solidifyAddExternalComponent></ng-template>
  <div *ngIf="isLoadingVisualizationObs | async"
       [solidifySpinner]="isLoadingVisualizationObs | async"
       class="spinner-background"
  ></div>
</div>
