<div *ngIf="titleToTranslate | isNotNullNorUndefinedNorWhiteString"
     class="title"
>{{titleToTranslate | translate}}<span *ngIf="isRequiredInternal"
                                       class="required-marker"
>*</span>
</div>

<div *ngIf="internalFile | isNotNullNorUndefined; else noFile"
     class="file-wrapper"
>
  <solidify-icon [iconName]="iconNameEnum.files"
                 class="file-icon size-30"
                 [solidifySpinner]="waitStatusReady"
                 [solidifySpinnerDiameter]="24"
                 [solidifySpinnerStrokeWidth]="2"
  ></solidify-icon>

  <div class="name-wrapper">
    <span class="name"
          solidifyTooltipOnEllipsis
    >{{internalFile.name}}</span>
    <span class="size">{{internalFile.size | filesize}}</span>
  </div>

  <div class="button-file-wrapper">
    <button *ngIf="displayPreviewButton"
            [matTooltip]="labelTranslateInterface.inputFileUploadInputButtonPreview | translate"
            class="preview-button"
            color="primary"
            mat-icon-button
            type="button"
            (click)="previewFile()"
    >
      <solidify-icon [iconName]="iconNameEnum.preview"
                     class="icon"
      ></solidify-icon>
    </button>

    <button *ngIf="displayDownloadButton"
            [matTooltip]="labelTranslateInterface.inputFileUploadInputButtonDownload | translate"
            class="download-button"
            color="primary"
            mat-icon-button
            type="button"
            (click)="downloadFile()"
    >
      <solidify-icon [iconName]="iconNameEnum.download"
                     class="icon"
      ></solidify-icon>
    </button>

    <button *ngIf="displayDeleteButton"
            [matTooltip]="labelTranslateInterface.inputFileUploadInputButtonDelete | translate"
            class="delete-button"
            color="primary"
            mat-icon-button
            type="button"
            (click)="deleteFile()"
    >
      <solidify-icon [iconName]="iconNameEnum.delete"
                     class="icon"
      ></solidify-icon>
    </button>
  </div>
</div>

<ng-template #noFile>
  <div class="no-file">{{noFileAvailableToTranslate | translate}}</div>
</ng-template>

<button *ngIf="displayUploadButton"
        (click)="fileInput.click()"
        solidifyAlternativeButton
        class="browse-button"
        type="button"
        solidifyFileDropZone
        (fileDropped)="onFileChange($event)"
>
  <solidify-icon [iconName]="uploadButtonIcon"
                 class="icon"
  ></solidify-icon>
  <span>{{uploadButtonLabelToTranslate | translate}}</span>
  <input #fileInput
         (change)="onFileChangeByInput($any($event))"
         class="hide"
         type="file"
  >
</button>


