@import "../../../core/scss/abstracts/abstracts";

:host {
  display: block;

  .title {
    margin-bottom: 5px;

    .required-marker {
      color: $red;
      padding: 0 3px;
    }
  }

  .file-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    grid-gap: 0 5px;

    .name-wrapper {
      display: grid;
      grid-auto-flow: row;
      grid-gap: 2px 0;

      .name {
        @include truncate-with-ellipsis;
      }

      .size {
        font-size: 10px;
        line-height: 10px;
        color: $light-grey
      }
    }

    .button-file-wrapper {
      display: flex;
    }
  }

  .no-file {
    font-size: 12px;
    line-height: 16px;
    color: $light-grey
  }

  .browse-button {
    margin-top: 10px !important;

    .hide {
      display: none;
    }
  }
}

:host(.readonly) {
  .title {
    color: $label-disable;
  }
}

@include isInDarkMode {
  :host(.readonly) {
    .title {
      color: $dark-mode-text-disabled;
    }
  }
}