<solidify-empty-container (onEscape)=" isEdit ? backToDetail() : backToList()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  (backToDetailChange)="backToDetail()"
                                  (deleteChange)="delete()"
                                  (editChange)="edit()"
                                  [currentModel]="currentObs | async"
                                  [formPresentational]="formPresentational"
                                  [mode]="isEdit ? 'edit' : 'detail'"
  >
  </solidify-button-toolbar-detail>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <solidify-admin-oai-metadata-prefix-form #formPresentational
                                             (checkAvailableChange)="checkAvailable($event)"
                                             (dirtyChange)="updateCanDeactivate($event)"
                                             (editChange)="edit()"
                                             (submitChange)="update($event)"
                                             *ngIf="isReadyToBeDisplayedObs | async"
                                             [editAvailable]="editAvailable"
                                             [model]="currentObs | async"
                                             [readonly]="!isEdit"
    ></solidify-admin-oai-metadata-prefix-form>
  </div>
</solidify-empty-container>
