<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>

  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [iconName]="iconNameEnum.indexFieldAliases"
                                [rightTemplate]="rightTemplate"
  ></solidify-detail-presentation>

  <ng-template #centerTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.indexName) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.searchIndexFieldAliasFormIndexName | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.alias) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.searchIndexFieldAliasFormAlias | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.field) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.searchIndexFieldAliasFormField | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <ng-container *ngFor="let language of languages">
      <mat-form-field *ngIf="getFormControl(language.resId) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{language.resId}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-container>

  </ng-template>

  <ng-template #rightTemplate>
    <mat-checkbox [formControlName]="formDefinition.system"
                  class="facet-checkbox"
                  color="primary"
    >{{labelTranslateInterface.searchIndexFieldAliasFormSystem | translate}}
    </mat-checkbox>

    <mat-checkbox [formControlName]="formDefinition.facet"
                  class="facet-checkbox"
                  color="primary"
    >{{labelTranslateInterface.searchIndexFieldAliasFormFacet | translate}}
    </mat-checkbox>

    <ng-template [ngIf]="getFormControl(formDefinition.facet).value | isTrue">

      <mat-form-field *ngIf="getFormControl(formDefinition.facetMinCount) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateInterface.searchIndexFieldAliasFormFacetMinCount | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
               min="1"
               type="number"
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControl(formDefinition.facetLimit) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateInterface.searchIndexFieldAliasFormFacetLimit | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
               min="1"
               type="number"
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControl(formDefinition.facetDefaultVisibleValues) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateInterface.searchIndexFieldAliasFormFacetDefaultVisibleValues | translate}}</mat-label>
        <input [formControl]="fd"
               [solidifyValidation]="errors"
               matInput
               min="0"
               type="number"
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControl(formDefinition.facetOrder) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateInterface.searchIndexFieldAliasFormFacetOrder | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
               min="0"
               type="number"
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

    </ng-template>
  </ng-template>

  <!--  <dlcm-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"-->
  <!--                                                      [resource]="model"-->
  <!--  >-->
  <!--  </dlcm-shared-additional-information-panel-container>-->
</form>
