<button (click)="copyToClipboard()"
        *ngIf="resource"
        [matTooltipPosition]="'left'"
        [matTooltip]="labelTranslateInterface.dataTableCopyIdToClipboard | translate"
        class="button-id"
        mat-icon-button
        type="button"
>
  <solidify-icon [iconName]="iconNameEnum.resId"
                 class="icon"
  ></solidify-icon>
</button>
