@import "../../../scss/abstracts/abstracts";

:host {
  background-color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-panel-maintenance;
  overflow-y: auto;
  display: grid;
  grid-template-rows: min-content 1fr;

  .admin-login {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
  }

  .header {
    height: 100px;
    padding: 20px;
    text-align: center;

    .logo {
      height: 100%;
      max-width: 100%;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      color: $light-grey;
    }

    .message {
      font-size: 20px;
      color: $text-color;
      padding: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
