<solidify-icon [iconName]="iconNameEnum.notFound"
               class="icon size-80"
></solidify-icon>
<h1>{{labelTranslateInterface.applicationPageNotFoundTitle | translate}}</h1>
<button (click)="backToHome()"
        (onEnter)="backToHome()"
        color="primary"
        mat-button
        solidifyShortCuts
        type="button"
>
  <solidify-icon [iconName]="iconNameEnum.home"></solidify-icon>
  {{labelTranslateInterface.applicationPageNotFoundButtonBackToHome | translate}}
</button>
