@import "../../../scss/abstracts/mixins";

:host {
  p {
    &.line-return {
      white-space: pre-line;
    }
  }

  .form > * {
    width: 100%;
  }

  button.mat-success:not([disabled]) {
    background-color: $green !important;
    color: $white !important;
  }
}
