<solidify-base-action-dialog [titleToTranslate]="labelTranslateInterface.coreFirstLoginTitle | translate: {themeName: currentThemeName}">
  {{labelTranslateInterface.coreFirstLoginContent | translate}}
</solidify-base-action-dialog>
<div mat-dialog-actions>
  <button [mat-dialog-close]=""
          mat-button
          [color]="colorCancel"
  >{{labelTranslateInterface.coreFirstLoginClose | translate}}</button>
  <button (click)="startTour()"
          (onEnter)="startTour()"
          [solidifyAutoFocus]="true"
          [color]="colorConfirm"
          mat-flat-button
          solidifyShortCuts
  >{{labelTranslateInterface.coreFirstLoginNext | translate}}</button>
</div>
