@import "../../../scss/abstracts/abstracts";

:host {
  table {
    width: 100%;
    border-spacing: 0;
    padding-bottom: 10px;

    thead {
      background-color: $primary-color;
      color: $white;

      tr > th {
        padding: 4px 0;

        &.version {
          text-align: center;
        }

        &.date {
          text-align: center;
        }

        &.action {
          width: 40px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $background-grey;
        }

        > td {
          padding: 0 15px;

          &.module-name {
            text-transform: capitalize;
          }

          &.version {
            text-align: center;
          }

          &.date {
            text-align: center;
          }

          &.actions {
            display: grid;
            grid-template-columns: max-content max-content max-content;

            .button {
              &.hide {
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
}

@include isInDarkMode {
  :host {
    table {
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: $dark-mode-menu-active;
          }
        }
      }
    }
  }
}
