<table>
  <thead>
  <tr>
    <th class="module-name">{{labelTranslateInterface.coreAboutModule | translate}}</th>
    <th class="url">{{labelTranslateInterface.coreAboutUrl | translate}}</th>
    <th class="version">{{labelTranslateInterface.coreAboutVersion | translate}}</th>
    <th class="date">{{labelTranslateInterface.coreAboutCommitDate | translate}}</th>
    <th class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let moduleVersion of listModulesVersion; let i = index; trackBy: trackByFn">
    <td class="module-name">
      {{moduleVersion.name}}
    </td>
    <td class="url">
      {{moduleVersion.url}}
    </td>
    <td class="version">
      {{moduleVersion.version}}
    </td>
    <td class="date">
      {{moduleVersion.date | datetime:"datetime"}}
    </td>
    <td class="actions">
      <button (click)="copy(moduleVersion.url)"
              (onEnter)="copy(moduleVersion.url)"
              [matTooltipPosition]="'above'"
              [matTooltip]="labelTranslateInterface.coreCopyToClipboard | translate"
              mat-icon-button
              solidifyShortCuts
              class="button"
      >
        <solidify-icon [iconName]="iconNameEnum.copyToClipboard"
                       class="size-18"
        ></solidify-icon>
      </button>
      <a (onEnter)="openTab(moduleVersion.urlInfo)"
         [matTooltipPosition]="'above'"
         [matTooltip]="labelTranslateInterface.coreAdditionalInformation | translate"
         [href]="moduleVersion.urlInfo"
         target="_blank"
         mat-icon-button
         solidifyShortCuts
         class="button"
      >
        <solidify-icon [iconName]="iconNameEnum.information"
                       class="size-18"
        ></solidify-icon>
      </a>
      <a (onEnter)="openTab(moduleVersion.urlDashboard)"
         [matTooltipPosition]="'above'"
         [matTooltip]="labelTranslateInterface.coreAboutDashboard | translate"
         [href]="moduleVersion.urlDashboard"
         target="_blank"
         mat-icon-button
         solidifyShortCuts
         class="button"
         [class.hide]="moduleVersion.urlDashboard | isNullOrUndefinedOrWhiteString"
      >
        <solidify-icon [iconName]="iconNameEnum.dashboard"
                       class="size-18"
        ></solidify-icon>
      </a>
    </td>
  </tr>
  </tbody>
</table>
