<div (keydown.escape)="back()"
     [solidifyFocusFirstElement]="true"
     class="host"
     solidifyShortCuts
>
  <solidify-button-toolbar-list (createChange)="create($event)"
                                (navigateChange)="navigateNavigate($event)"
                                [backToListNavigate]="backNavigate()"
                                [backAvailable]="options.canGoBack"
                                [createAvailable]="options.canCreate | solidifyAsync"
                                [createDisabled]="options.createDisabled | solidifyAsync"
                                [isLoading]="isLoadingObs | async"
                                [keyBackButtonToTranslate]="KEY_BACK_BUTTON"
                                [keyCreateButtonToTranslate]="KEY_CREATE_BUTTON"
                                [listExtraButtons]="options?.listExtraButtons"
  ></solidify-button-toolbar-list>

  <solidify-data-table #dataTablePresentational
                       (queryParametersChange)="onQueryParametersEvent($event)"
                       (selectChange)="showDetail($event)"
                       [actions]="actions"
                       [columnsSkippedToClear]="columnsSkippedToClear"
                       [columns]="columns"
                       [data]="listObs | async"
                       [isLoading]="isLoadingObs | async"
                       [displaySpinnerWhenLoading]="true"
                       [isMultiSelectable]="isMultiSelectable"
                       [listHighlightingId]="listNewId"
                       [isHighlightCondition]="isHighlightCondition"
                       [queryParameters]="queryParametersObs | async"
                       [skipInitialQuery]="skipInitialQuery"
                       [stickyTopPosition]="stickyTopPosition"
                       [displayActionCopyIdToClipboard]="displayActionCopyIdToClipboard"
                       [displayActionShowHistory]="displayActionShowHistory"
                       [detailRouteToInterpolate]="detailRouteToInterpolate"
                       (showHistoryChange)="showHistory($event)"
  ></solidify-data-table>
</div>
