@use "@angular/material" as mat;
@import "../override/material-override";
@import "../override/dark-mode-override";
@import "../override/light-mode-override";

$primary: mat.m2-define-palette(mat.$m2-light-blue-palette, 800);
$accent: mat.m2-define-palette(mat.$m2-deep-purple-palette, 300, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$basic-theme: mat.m2-define-light-theme(
        $primary,
        $accent,
        $warn
);

$angular-dark-theme: mat.m2-define-dark-theme(
        $primary,
        $accent,
        $warn
);

// Load basic theme
@include mat.all-component-themes($basic-theme);

$my-typography: mat.m2-define-typography-config();
@include mat.typography-hierarchy($my-typography);

@include isInLightMode(true) {
  @include solidify-material-override;
  @include solidify-light-mode-override-rules;
}

@include isInDarkMode(true) {
  @include mat.all-component-colors($angular-dark-theme);
  @include solidify-material-override;
  @include solidify-dark-mode-override-rules;
}
