<button (click)="showHistory()"
        (onEnter)="showHistory()"
        [matTooltipPosition]="'left'"
        [matTooltip]="labelTranslateInterface.dataTableShowHistoryStatus | translate"
        mat-icon-button
        solidifyShortCuts
        type="button"
>
  <solidify-icon [iconName]="iconNameEnum.history"></solidify-icon>
</button>
