@import "../../../scss/abstracts/abstracts";

:host {
  display: block;
  white-space: break-spaces;
  background: $extra-light-grey;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;

  ::ng-deep {
    display: grid;
    grid-gap: 10px;

    h1 {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
    }

    > p {
      display: none;
    }

    h2 {
      margin: 0;
    }

    h3 {
      margin: 0;
    }

    ul {
      display: grid;
      grid-gap: 4px;

      li {
        list-style: circle;
        margin-left: 15px;
      }
    }
  }
}

@include isInDarkMode {
  :host {
    background: $dark-mode-toolbar;
  }
}
