@import "../../../../core/scss/abstracts/abstracts";

.zoom-toolbar {
  display: grid;
  grid-template-columns: 1fr min-content 150px min-content 1fr;
  grid-template-areas: ". zoom-minus zoom-label zoom-more .";

  .zoom-minus {
    grid-area: zoom-minus;
  }

  .zoom-box {
    grid-area: zoom-label;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  .zoom-more {
    grid-area: zoom-more;
  }
}

