<div class="zoom-toolbar button-wrapper">

  <button (click)="incrementZoom(-0.1)"
          class="zoom-minus"
          color="primary"
          mat-button
  >
    <solidify-icon [iconName]="iconNameEnum.zoomOut"></solidify-icon>
    {{labelTranslateInterface.filePreviewZoomOut | translate}}
  </button>

  <div class="zoom-box ">{{(labelTranslateInterface.filePreviewZoomVal | translate) + ": " + (zoom | number: '1.1-1') }}</div>

  <button (click)="incrementZoom(0.1)"
          class="zoom-more"
          color="primary"
          mat-button
  >
    <solidify-icon [iconName]="iconNameEnum.zoomIn"></solidify-icon>
    {{labelTranslateInterface.filePreviewZoomIn | translate}}
  </button>

</div>
