<solidify-empty-container (onEscape)="backToList()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [formPresentational]="formPresentational"
                                  [mode]="'create'"
  >
  </solidify-button-toolbar-detail>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <solidify-admin-oai-metadata-prefix-form #formPresentational
                                             (checkAvailableChange)="checkAvailable($event)"
                                             (dirtyChange)="updateCanDeactivate($event)"
                                             (submitChange)="create($event)"
                                             *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
    ></solidify-admin-oai-metadata-prefix-form>
  </div>
</solidify-empty-container>
