@import "../../../scss/abstracts/abstracts";

:host {
  display: block;

  .breadcrumb {
    line-height: 18px;
    padding: 10px $padding-content-desktop;

    @include respond-to-breakpoint('sm') {
      padding: 8px $padding-content-tablet;
    }

    @include respond-to-smaller-than-breakpoint('sm') {
      padding: 5px $padding-content-mobile;
    }

    li {
      display: inline;
      font-size: 14px;
    }

    li + li:before {
      padding: 0 8px;
      color: $dark-grey;
      content: "/";
    }

    a {
      &.no-link {
        text-decoration: none;
        cursor: initial;

        &:hover {
          color: $primary-color;
        }

        &:hover:before {
          visibility: hidden;
        }
      }
    }
  }
}

@include isInDarkMode {
  .breadcrumb {
    li + li:before {
      color: $dark-mode-text-disabled;
    }
  }
}

