<ol class="breadcrumb">
  <li *ngFor="let breadcrumb of breadcrumbsObs | async"
      class="breadcrumb-item"
  >
    <a (click)="navigate(breadcrumb)"
       [class.no-link]="haveNoLink(breadcrumb)"
    >
      <ng-template [ngIfElse]="normalLabel"
                   [ngIf]="!(breadcrumb.labelObs | isNullOrUndefined) && !(breadcrumb.labelObs | async | isNullOrUndefined)"
      >
        {{breadcrumb.labelObs | async}}
      </ng-template>
      <ng-template #normalLabel>
        {{breadcrumb.label | translate}}
      </ng-template>
    </a>
  </li>
</ol>
