<mat-menu>
  <button *ngIf="allowNavigateToArk | isTrue"
          (click)="navigateToArk($event)"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.externalLink"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateInterface.applicationArkButtonNavigateToTheArk | translate}}</span>
  </button>

  <button (click)="copyArk()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.fingerprint"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateInterface.applicationArkButtonCopyArk | translate}}</span>
  </button>

  <button *ngIf="arkLink | isNotNullNorUndefinedNorWhiteString"
          (click)="copyUrlArk()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.http"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateInterface.applicationArkButtonCopyUrlArk | translate}}</span>
  </button>
</mat-menu>
