@import "../../../scss/abstracts/abstracts";

$card-width: 300px;
$card-height: 117px;
$card-padding: 16px;

.toolbar {
  width: 23%;

  @include respond-to-smaller-than-breakpoint('md') {
    width: 50%;
  }

  @include respond-to-smaller-than-breakpoint('sm') {
    width: 100%;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width + $card-padding + $card-padding);
  grid-template-rows: auto;
  gap: 15px;
  justify-items: center;
  justify-content: center;
  grid-auto-flow: row;
  margin-bottom: 25px;

  @include respond-to-smaller-than-breakpoint("sm") {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .card {
    cursor: pointer;
    width: 100%;
    height: $card-height;
    padding: 16px;

    @include respond-to-smaller-than-breakpoint("sm") {
      min-height: $card-height;
      height: auto;
    }

    transition-property: box-shadow;
    transition-duration: 0.25s;

    &:hover {
      box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px $outline;
    }

    &:focus {
      box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px $outline;
    }

    .card-header {
      display: flex;
      flex: 1;
      height: 100%;
      align-items: center;
      padding: 0;

      .mat-mdc-card-avatar {
        margin: 0;
      }

      .mat-mdc-card-title {
        font-size: 20px;
      }

      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .mat-mdc-card-subtitle {
        margin-bottom: 0;
      }
    }
  }
}

@include content();
