@import "../../../../core/scss/abstracts/abstracts";

:host {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 40px;
    padding-top: 20px;

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
    }
  }
}
