<solidify-panel-expandable [isOpen]="false"
                           [titleToTranslate]="labelTranslateInterface.applicationChangelog | translate"
                           class="section"
>
  <div class="content">
    <mat-form-field *ngIf="creationInfo?.fullName | isNotNullNorUndefinedNorEmpty"
                    [appearance]="appearanceInputMaterial"
                    [class]="classIgnoreEditField"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.applicationCreatedBy | translate}}</mat-label>
      <input [value]="creationInfo.fullName"
             disabled
             matInput
      >
    </mat-form-field>

    <mat-form-field *ngIf="creationInfo?.date| isNotNullNorUndefined"
                    [appearance]="appearanceInputMaterial"
                    [class]="classIgnoreEditField"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.applicationCreated | translate}}</mat-label>
      <input [value]="creationInfo.date"
             disabled
             matInput
      >
    </mat-form-field>

    <mat-form-field *ngIf="updateInfo?.fullName | isNotNullNorUndefinedNorEmpty"
                    [appearance]="appearanceInputMaterial"
                    [class]="classIgnoreEditField"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.applicationUpdatedBy | translate}}</mat-label>
      <input [value]="updateInfo.fullName"
             disabled
             matInput
      >
    </mat-form-field>

    <mat-form-field *ngIf="updateInfo?.date | isNotNullNorUndefined"
                    [appearance]="appearanceInputMaterial"
                    [class]="classIgnoreEditField"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateInterface.applicationUpdated | translate}}</mat-label>
      <input [value]="updateInfo.date"
             disabled
             matInput
      >
    </mat-form-field>
  </div>
</solidify-panel-expandable>
