<div [matMenuTriggerFor]="languageSelector.menu"
     [matTooltipPosition]="tooltipPosition"
     [matTooltip]="labelTranslateInterface.coreLanguageSelectorSelectLanguage | translate"
     class="selected-language"
>
  <img *ngIf="(useImage | isTrue); else useText"
       [alt]="stringUtil.convertToPascalCase(language)"
       [src]="getPathToImage(language)"
       class="image"
  >

  <ng-template #useText>
    <span class="text">{{language}}</span>
  </ng-template>

  <solidify-language-selector-menu #languageSelector="menuLanguage"
                                   [(language)]="language"
                                   [useImage]="useImage"
                                   [displaySelected]="displaySelected"
  ></solidify-language-selector-menu>
</div>
