@import "../../../scss/abstracts/abstracts";

:host {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  .selected-language {
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;

    .image {
      max-width: 18px;
      max-height: 18px;
      width: 100%;
    }

    .text {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      line-height: 13px;
    }
  }
}
