<form (keydown.enter)="mode === modeEnum.single ? select(getFocusedResource()) : doNothing()"
      (keydown.escape)="closeByTab($event)"
      (keydown.shift.tab)="closeByShiftTab($event)"
      (keydown.tab)="closeByTab($event)"
      [formGroup]="form"
      [solidifyAutoScrollIntoView]="!navigationResId"
      class="form"
>
  <div class="input">
    <mat-form-field class="form-field mat-form-field-appearance-legacy"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslate.inputSearch | translate}}</mat-label>
      <input #input
             [autocomplete]="'off'"
             [formControlName]="host.formDefinition.search"
             [solidifyAutoFocus]="true"
             matInput
      >
    </mat-form-field>
    <span *ngIf="isLoadingObs | async | isFalsy"
          class="numbers"
    >({{(listObs | async)?.length}}/{{totalObs | async}})</span>
    <solidify-icon (click)="close()"
                   [iconName]="iconNameEnum.close"
                   class="close"
    ></solidify-icon>
  </div>
</form>

<div *ngIf="listLastSelection?.length > 0 && !isActiveSearch()"
     class="last-selection"
>
  <span class="title">{{labelTranslate.selectLastSelection | translate}}</span>
  <ul>
    <li (click)="select(value)"
        *ngFor="let value of listLastSelection"
        [value]="value[host.valueKey]"
        matRipple
    >
      <span [innerHTML]="computeHighlightText(host.labelCallback(value))"
            class="label"
      ></span>
    </li>
  </ul>
</div>

<div *ngIf="listCommonValues?.length > 0 && !isActiveSearch()"
     class="last-selection"
>
  <span class="title">{{host.displayCommonValuesLabel | translate}}</span>
  <ul>
    <li (click)="mode === modeEnum.single ? select(value, true) : select(value)"
        *ngFor="let value of this.listCommonValues"
        [value]="value[host.valueKey]"
        matRipple

    >
      <span [innerHTML]="computeHighlightText(host.labelCallback(value))"
            class="label"
      ></span>
    </li>
  </ul>
</div>

<div [solidifySpinner]="isLoadingObs | async"
     class="result"
>
  <ul>
    <ng-container *ngFor="let value of (listObs | async); trackBy: trackByFn">
      <li *ngIf="mode === modeEnum.single || (!host.hideItemSelected || !isActive(value))"
          (click)="select(value)"
          (keydown.enter)="mode === modeEnum.single ? select(getFocusedResource()) : doNothing()"
          [class.is-active]="isActive(value)"
          [class.is-keyboard-selected]="value[host.valueKey] === navigationResId"
          [class.is-two-line]="(host.extraInfoSecondLineLabelCallback | isFunction) && (host.extraInfoSecondLineLabelCallback(value) | isNonEmptyString)"
          [style.background-color]="(host.colorHexaForLineCallback | isFunction) ? host.colorHexaForLineCallback(value) : undefined"
          [solidifyAutoScrollIntoView]="value[host.valueKey] === navigationResId"
          [value]="value[host.valueKey]"
          matRipple
      >
        <div class="first-line">
          <span [innerHTML]="computeHighlightText(host.labelCallback(value))"
                solidifyTooltipOnEllipsis
                class="label"
          ></span>
          <span *ngIf="value[host.extraInfoLabelKey] | isNonEmptyString"
                solidifyTooltipOnEllipsis
                class="extra-info"
          >
            <solidify-icon *ngIf="host.extraInfoImage"
                           [iconName]="host.extraInfoImage"
                           [matTooltip]="value[host.extraInfoLabelKey]"
                           class="size-16"
            ></solidify-icon>
            <span *ngIf="host.extraInfoDisplayOnContent"
                  [innerHTML]="computeHighlightText(value[host.extraInfoLabelKey])"
            ></span>
          </span>
        </div>

        <ng-template [ngIf]="host.extraInfoSecondLineLabelCallback | isFunction">
          <ng-container *ngIf="host.extraInfoSecondLineLabelCallback(value) as value">
            <div *ngIf="value | isNonEmptyString"
                 solidifyTooltipOnEllipsis
                 class="second-line"
            >
              {{value}}
            </div>
          </ng-container>
        </ng-template>
      </li>
    </ng-container>
  </ul>
  <div *ngIf="(listObs | async)?.length < (totalObs | async)"
       [solidifySpinnerDiameter]="24"
       [solidifySpinnerStrokeWidth]="3"
       [solidifySpinner]="isLoadingChunkObs | async"
       class="spinner-loader-chunk"
  ></div>
</div>
