@import "../abstract/abstract.dialog";

:host {
  display: grid;
  grid-gap: 20px;

  .close-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-appearance: none;
  }
}
