@import "../../../../core/scss/abstracts/abstracts";

$size: 50px;
$coefficient-animation-speed: 0.5;

:host {
  width: $size;
  height: $size;
  position: relative;
  cursor: pointer;

  * {
    transition: $coefficient-animation-speed * 250ms ease-in-out;
    box-sizing: border-box;
  }

  span {
    display: block;
    background: $white;
    border-radius: 2px;
  }

  .hamburger,
  .cross {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .hamburger {
    $width: 30px;

    span {
      width: $width;
      height: 2px;
      position: relative;
      top: 6px;
      left: 10px;
      margin: 8px 0;

      &:nth-child(1) {
        transition-delay: $coefficient-animation-speed * 500ms;
      }

      &:nth-child(2) {
        transition-delay: $coefficient-animation-speed * 625ms;
      }

      &:nth-child(3) {
        transition-delay: $coefficient-animation-speed * 750ms;
      }
    }
  }

  .cross {
    transform: rotate(45deg);
    $size: 2px;
    $position: 24px;

    span {
      &:nth-child(1) {
        height: 0;
        width: $size;
        position: absolute;
        top: 10%;
        left: $position;
        transition-delay: 0ms;
      }

      &:nth-child(2) {
        width: 0;
        height: $size;
        position: absolute;
        left: 10%;
        top: $position;
        transition-delay: $coefficient-animation-speed * 250ms;
      }
    }
  }

  &.is-open {
    .hamburger {
      span {
        width: 0;

        &:nth-child(1) {
          transition-delay: 0ms;
        }

        &:nth-child(2) {
          transition-delay: $coefficient-animation-speed * 125ms;
        }

        &:nth-child(3) {
          transition-delay: $coefficient-animation-speed * 250ms;
        }
      }
    }

    .cross {
      span {
        &:nth-child(1) {
          height: 80%;
          transition-delay: $coefficient-animation-speed * 625ms;
        }

        &:nth-child(2) {
          width: 80%;
          transition-delay: $coefficient-animation-speed * 375ms;
        }
      }
    }
  }
}
