@import "../../../scss/abstracts/abstracts";

:host {
  .button {
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    grid-template-columns: max-content 1fr;
    grid-gap: 0 10px;
    padding: 10px;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    max-width: max-content;

    .label {
      font-size: 16px;
      color: $text-color;
      padding-right: 10px;
    }
  }

  .hint {
    height: 30px;
    display: grid;
    align-items: center;
    font-size: 12px;
    padding: 0 16px;
    margin-bottom: 10px;
  }
}

@include isInDarkMode {
  .button {
    background-color: $dark-mode-toolbar;

    .label {
      color: $dark-mode-text-color;
    }
  }
}
