<div class="button">
  <solidify-icon [iconName]="iconNameEnum.orcid"
                 class="size-30 image"
  >
  </solidify-icon>
  <span class="label">{{labelTranslateInterface.coreOrcidSignIdButtonText | translate}}</span>
</div>
<div class="hint">
  <span>{{labelTranslateInterface.coreOrcidSignIdButtonHint | translate}}: <a [href]="environment.orcidUrl"
                                                                              target="_blank"
  >{{environment.orcidUrl}}</a></span>
</div>