@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

:host {
  padding-bottom: 15px;
  display: block;

  .header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr;

    color: $light-grey;
    border-bottom: 1px solid $light-grey;
    font-size: 12px;

    .required-marker {
      color: $red;
      padding: 0 3px;
    }

    .title {
      margin: 0;
      font-size: 15px;
      font-weight: bold;

      &.is-clickable {
        cursor: pointer;
      }

      &.with-icon {
        display: flex;
        grid-gap: 8px;
        align-items: center;
      }
    }

    .extra-icon-button {
      .extra-icon {
        color: $primary-color;
      }
    }

    .suffix {
      font-size: 12px;
    }

    .toggle-button {
      &.is-open {
        transform: rotate(180deg);

        //animation-name: rotate;
        //animation-duration: 2s;
        //animation-timing-function: ease-in-out;
        //animation-fill-mode: backwards;
        //
        //@keyframes rotate {
        //  from {
        //    transform: rotate(0deg);
        //  }
        //  to {
        //    transform: rotate(180deg);
        //  }
        //}
      }
    }
  }

  .content {
    padding-top: 10px;
  }
}

:host(.is-extra-icon-button) {
  .header {
    grid-template-columns: 1fr max-content;
  }
}

:host(.is-panel-collapsable) {
  .header {
    cursor: pointer;
    grid-template-columns: 1fr max-content;
  }
}

:host(.is-extra-icon-button.is-panel-collapsable) {
  .header {
    grid-template-columns: 1fr max-content max-content;
  }
}

:host(.is-outline) {
  position: relative;
  margin-top: 5px;

  .header {
    grid-template-columns: 1fr;
    position: absolute;
    top: -15px;
    border: none;
    left: 9px;
    padding: 0 3px;
    cursor: initial;

    &:before {
      content: '';
      position: absolute;
      background-color: $white;
      width: 100%;
      height: 1px;
      top: 15px;
      z-index: 0;
    }

    .title {
      font-size: 11px;
      font-weight: initial;
      color: $label;
      z-index: 1;
    }
  }

  .content {
    border: 1px solid $outline;
    padding: 10px;
    border-radius: 6px;
  }
}


@include isInDarkMode {
  :host(.is-outline) {
    .header {
      &:before {
        background-color: $dark-mode-background;
      }

      .title {
        color: $dark-mode-text-color;
      }
    }

    .content {
      border: 1px solid $dark-mode-line;
    }
  }
}
