<div (click)="toggle()"
     class="header"
>
  <h2 class="title"
      [solidifyTooltip]="tooltip"
      [class.is-clickable]="isTitleClickable"
      [class.with-icon]="!isOutline && (icon | isNotNullNorUndefinedNorWhiteString)"
      (click)="titleClicked($event)"
  >
    <solidify-icon *ngIf="!isOutline && (icon | isNotNullNorUndefinedNorWhiteString)"
                   [iconName]="icon"
                   class="icon"
    ></solidify-icon>
    {{titleToTranslate | translate}}<span *ngIf="isRequired"
                                          class="required-marker"
  >*</span>
    <ng-template [ngIf]="suffixToTranslate | isNonWhiteString"><span class="suffix"> {{suffixToTranslate}}</span></ng-template>
  </h2>
  <button *ngIf="!isOutline && (extraIconButton | isNotNullNorUndefinedNorWhiteString)"
          [matTooltip]="extraIconTooltipToTranslate | translate"
          [matTooltipDisabled]="extraIconTooltipToTranslate | isNullOrUndefinedOrWhiteString"
          (click)="clickOnExtraIcon($event)"
          class="extra-icon-button"
          mat-icon-button
          type="button"
  >
    <solidify-icon [iconName]="extraIconButton"
                   class="size-20 extra-icon"
    ></solidify-icon>
  </button>
  <button *ngIf="!isOutline && isPanelCollapsable"
          [class.is-open]="isOpen"
          class="toggle-button"
          mat-icon-button
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.down"></solidify-icon>
  </button>
</div>
<div *ngIf="isOutline || isOpen"
     class="content"
>
  <!--     @contentAnimation-->
  <ng-content></ng-content>
</div>
