@import "../../../../core/scss/abstracts/abstracts";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tiles-container {
    overflow-y: auto;
    min-height: 400px;
    max-height: 400px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .selector {
    display: flex;

    .round-container {
      padding: 5px;
      cursor: pointer;

      .round {
        border: 1px solid $primary-color;
        $size: 8px;
        height: $size;
        width: $size;
        border-radius: $size;

        &.is-active {
          background-color: $primary-color;
        }
      }
    }
  }
}
