<ul class="tiles-container">
  <ng-container *ngFor="let node of listTiles; let i = index">
    <li *ngIf="activeTile === i"
        [innerHTML]="$any(node).innerHTML"
    ></li>
  </ng-container>
</ul>

<div class="selector">
  <div (click)="setActive(i)"
       *ngFor="let tile of listTiles; let i = index"
       class="round-container"
  >
    <div [class.is-active]="activeTile === i"
         class="round"
    ></div>
  </div>
</div>
