@import "../abstracts/mixins";

$padding-top-mat-dialog: 10px;
$padding-bottom-mat-dialog: 24px;
$height-footer: 52px;
$padding-top-bottom-footer: 8px;
$total-height-footer: $height-footer + ($padding-top-bottom-footer * 2);

.cdk-overlay-pane {
  &:not(.solidify-dialogs):not(.solidify-menu):not(.mat-mdc-tooltip-panel) {
    // For mat select
    min-width: 270px;
    display: flex;
    justify-content: flex-end;
  }

  &.solidify-dialogs {
    @include respond-to-breakpoint('xs') {
      max-width: none !important;
      width: 100vw !important;
      height: 100vh !important;
    }

    .mat-mdc-dialog-container {
      > * {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr max-content;

        @include respond-to-breakpoint('xs') {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
        }

        .mat-mdc-dialog-title {
          font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;

          @include respond-to-breakpoint('xs') {
            text-align: center;
          }
        }

        .mat-mdc-dialog-content {
          overflow-y: auto;
          display: block;
          height: 100%;
          width: 100%;
          align-self: center;
          padding-top: $padding-top-mat-dialog;
          padding-bottom: $padding-bottom-mat-dialog;

          @include respond-to-breakpoint('xs') {
            max-height: none;
            margin-bottom: $total-height-footer - ($padding-bottom-mat-dialog + $padding-top-mat-dialog);
          }
        }

        .mat-mdc-dialog-actions {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 14px 20px;

          @include respond-to-breakpoint('xs') {
            position: fixed;
            bottom: 0;
            height: $height-footer;
            padding: $padding-top-bottom-footer;
            left: 0;
            right: 0;
            box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.05);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.7);
}
