@import "../abstract-resource/abstract-resource.routable";

:host {
  $padding: 10px;
  padding-top: $padding;

  .tab-content {
    padding-top: $padding;
  }

  .tab-header-label {
    padding-left: $padding;

    @include respond-to-breakpoint("xs") {
      display: none;
    }
  }
}
