@import "../../../core/scss/abstracts/abstracts";

:host {
  //mat-mdc-form-field:not(.with-values).disabled {
  //  ::ng-deep label {
  //    top: 18px !important;
  //  }
  //}

  .hidden-input {
    display: none;
  }

  .down-arrow {
    display: none !important;
    color: $label-default;
  }

  .mat-mdc-form-field {
    width: 100%;

    &:not(.mat-form-field-disabled) {
      .down-arrow {
        display: initial !important;
      }
    }

    //::ng-deep {
    //  .mat-mdc-form-field-flex {
    //    min-height: 55px;
    //  }
    //}

    .mat-mdc-chip-grid {
      .extra-icon {
        cursor: pointer;
        margin-right: 2px;
      }

      .navigate-to {
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin: 0 2px;
      }
    }

    .clear {
      color: $label-disable !important;
    }

    .remove-chip {
      margin: 5px 0;
    }

    .label {
      max-width: 150px;
      padding-right: 5px;
      @include truncate-with-ellipsis;
      user-select: text;
      cursor: text;
    }

    input {
      cursor: pointer;
      font-size: 12px;
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
      cursor: pointer;
    }

    &.with-values {
      input {
        padding: 10px 0;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }

  .disabled {
    .navigate-to {
      margin-right: -5px !important;
    }
  }
}
