@import "../../../scss/abstracts/abstracts";

$icon-size: 24px;

:host {
  .label {
    font-size: 11px;
  }

  .wrapper {
    height: $icon-size;

    .star-wrapper {
      display: inline-block;
      height: $icon-size;

      .star-empty {
        opacity: 0.3;
      }
    }
  }
}

:host(.is-disabled) {
  ::ng-deep {
    .icon {
      color: $value-disable;
    }
  }
}


@include isInDarkMode {
  :host(.is-disabled) {
    ::ng-deep {
      .icon {
        color: $dark-mode-text-disabled;
      }
    }
  }
}

:host(.is-label) {
  .wrapper {
    padding-bottom: 1.25em;
  }
}

:host(.is-center) {
  .wrapper {
    text-align: center;
  }
}

:host(.is-editable) {
  .wrapper {
    .star-wrapper {
      cursor: pointer;
    }

    color: $primary-color;

    :hover {
      color: $primary-color-lighter;
    }
  }
}
