<mat-label *ngIf="label"
           [class.disabled]="disabled"
           class="label"
>{{label}} <span *ngIf="numberReview | isNotNullNorUndefined">({{numberReview}} {{labelTranslateInterface.coreReviews | translate}})</span></mat-label>
<div class="wrapper">
  <div (mouseleave)="cleanTempRating()"
       [matTooltip]="tooltipToTranslate | translate"
       class="star-wrapper"
  >
    <ng-container *ngFor="let row of starsArray(); index as i"
    >
      <solidify-icon (click)="setRating(i)"
                     (mouseover)="setTempRating(i)"
                     *ngIf="(i+1) <= ((tempRating | isNullOrUndefined) ? rating : tempRating)"
                     [iconName]="iconNameEnum.star"
                     class="size-24"
      ></solidify-icon>
      <solidify-icon (click)="setRating(i)"
                     (mouseover)="setTempRating(i)"
                     *ngIf="(i+1) > ((tempRating | isNullOrUndefined) ? rating : tempRating)"
                     [class.star-empty]="noValue"
                     [iconName]="iconNameEnum.starEmpty"
                     class="size-24"
      ></solidify-icon>
    </ng-container>
  </div>
</div>
