<table>
  <tr>
    <th class="icon">default</th>
    <th class="icon">size-12</th>
    <th class="icon">size-16</th>
    <th class="icon">size-18</th>
    <th class="icon">size-20</th>
    <th class="icon">size-24</th>
    <th class="icon">size-30</th>
    <th class="icon">size-50</th>
    <th class="icon">size-80</th>
    <th class="name">Application icon name</th>
    <th class="lib">Librairy</th>
    <th class="icon-name-lib">Icon name in lib</th>
  </tr>
  <tr *ngFor="let icon of iconsList">
    <td valign="center">
      <solidify-icon [iconName]="icon.name"
      ></solidify-icon>
    </td>
    <td valign="center">
      <solidify-icon [iconName]="icon.name"
                     class="size-12"
      ></solidify-icon>
    </td>
    <td valign="center">
      <solidify-icon [iconName]="icon.name"
                     class="size-16"
      ></solidify-icon>
    </td>
    <td valign="center">
      <solidify-icon [iconName]="icon.name"
                     class="size-18"
      ></solidify-icon>
    </td>
    <td valign="center">
      <solidify-icon [iconName]="icon.name"
                     class="size-20"
      ></solidify-icon>
    </td>
    <td valign="center">
      <solidify-icon [iconName]="icon.name"
                     class="size-24"
      ></solidify-icon>
    </td>
    <td valign="center">
      <solidify-icon [iconName]="icon.name"
                     class="size-30"
      ></solidify-icon>
    </td>
    <td valign="center">
      <solidify-icon [iconName]="icon.name"
                     class="size-50"
      ></solidify-icon>
    </td>
    <td valign="center">
      <solidify-icon [iconName]="icon.name"
                     class="size-80"
      ></solidify-icon>
    </td>
    <td valign="center">{{icon.name}}</td>
    <td valign="center">{{icon.lib}}</td>
    <td valign="center">{{icon.icon}}</td>
  </tr>
</table>
