@import "../../../scss/abstracts/abstracts";

:host {
  background-color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  overflow-y: auto;
  display: flex;
  justify-content: center;

  tr {
    height: 40px;
  }

  .name,
  .lib,
  .icon-name-lib {
    padding: 20px;
  }
}
